force-app/main/default/flows/Account_Plan_Reminder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_mail_to_Create_Plan_Document</name>
        <label>Send mail to Create Plan Document</label>
        <locationX>974</locationX>
        <locationY>671</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Recipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Reminder Email to make Account Plan document</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_co_csl</name>
        <label>Assign co-csl</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>Recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CoCSL__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_mail_to_Create_Plan_Document</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_co_csl_and_nsl</name>
        <label>Assign co-csl and nsl</label>
        <locationX>1106</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>Recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CoCSL__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.NSL__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_mail_to_Create_Plan_Document</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_csl</name>
        <label>Assign csl</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>Recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CSL__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_mail_to_Create_Plan_Document</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_csl_and_co_csl</name>
        <label>Assign csl and co-csl</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>Recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CSL__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CoCSL__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_mail_to_Create_Plan_Document</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_csl_and_nsl</name>
        <label>Assign csl and nsl</label>
        <locationX>1634</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>Recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CSL__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.NSL__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_mail_to_Create_Plan_Document</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_csl_co_csl_and_nsl</name>
        <label>Assign csl, co-csl and nsl</label>
        <locationX>1370</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>Recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CSL__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CoCSL__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.NSL__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_mail_to_Create_Plan_Document</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_nsl</name>
        <label>Assign nsl</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>Recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.NSL__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_mail_to_Create_Plan_Document</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check</name>
        <label>Check Field Values</label>
        <locationX>974</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_csl</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CSL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_csl</targetReference>
            </connector>
            <label>Check csl</label>
        </rules>
        <rules>
            <name>Check_CO_CSL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoCSL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_co_csl</targetReference>
            </connector>
            <label>Check CO-CSL</label>
        </rules>
        <rules>
            <name>Check_nsl</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NSL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_nsl</targetReference>
            </connector>
            <label>Check nsl</label>
        </rules>
        <rules>
            <name>Check_csl_and_co_csl</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CSL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CoCSL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_csl_and_co_csl</targetReference>
            </connector>
            <label>Check csl and co-csl</label>
        </rules>
        <rules>
            <name>Check_co_csl_and_nsl</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoCSL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NSL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_co_csl_and_nsl</targetReference>
            </connector>
            <label>Check co-csl and nsl</label>
        </rules>
        <rules>
            <name>Check_csl_co_csl_and_nsl</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CSL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CoCSL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NSL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_csl_co_csl_and_nsl</targetReference>
            </connector>
            <label>Check csl, co-csl and nsl</label>
        </rules>
        <rules>
            <name>Check_csl_and_nsl</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CSL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NSL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_csl_and_nsl</targetReference>
            </connector>
            <label>Check csl and nsl</label>
        </rules>
    </decisions>
    <description>Sending Email alert on account creation.</description>
    <environments>Default</environments>
    <interviewLabel>Account Plan Reminder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Plan Reminder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi Team&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Congrats! a new Client is emerged into the system and now you are required to create an Account Plan for the Client {!$Record.Name} which includes the 30-60-90 days plan. Once created, Please schedule a discussion with NSL to discuss on Account Plan.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Regards &lt;/p&gt;&lt;p&gt;GT Team&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailRecipients</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Record.CSL__r.Email}, {!$Record.CoCSL__r.Email}, {!$Record.NSL__r.Email}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Recipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
