force-app/main/default/flows/Add_GTEmployee_Enquiry_Owner_To_Enquiry_Team_on_Enquiry_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_To_Finding_Partners_GT_Member_Enquiry_Owner</name>
        <label>Email To Finding Partners GT Member &amp; Enquiry Owner</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Is_Notification_Found</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>emailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Added To Enquiry Team</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notify_GT_Member_Enquiry_Owner</name>
        <label>Notify GT Member &amp; Enquiry Owner</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Custom_Notification_For_Finding_Partners.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>You are now appointed as a Finding Partner for Enquiry : {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Added As Finding Partner</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>notifiersId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Email_Of_Enquiry_Owner</name>
        <label>Assign Email Of Enquiry Owner</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>emailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notifiersId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_To_Finding_Partners_GT_Member_Enquiry_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email_Of_GT_Member_Enquiry_Owner</name>
        <label>Assign Email Of GT Member &amp; Enquiry Owner</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>emailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.GTEmployee__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notifiersId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notifiersId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.GTEmployee__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_To_Finding_Partners_GT_Member_Enquiry_Owner</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_GT_Employee_Is_Blank</name>
        <label>If GT Employee Is Blank</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Add_GT_Employee_To_Enquiry_Team_Member1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GTEmployee__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_GT_Employee_To_Enquiry_Team_Member</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Notification_Found</name>
        <label>Is Notification Found</label>
        <locationX>182</locationX>
        <locationY>1151</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Custom_Notification_For_Finding_Partners.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_GT_Member_Enquiry_Owner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Add GTEmployee/Enquiry Owner To Enquiry Team on Enquiry Insert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add GTEmployee/Enquiry Owner To Enquiry Team on Enquiry Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_Enquiry_Owner_To_Enquiry_Team_Member</name>
        <label>Add Enquiry Owner To Enquiry Team Member</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Assign_Email_Of_GT_Member_Enquiry_Owner</targetReference>
        </connector>
        <inputAssignments>
            <field>IsOriginatedFromLeadConversion__c</field>
            <value>
                <elementReference>$Record.IsOriginatedFromLeadConversion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>Generated the Lead</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_GT_Employee_To_Enquiry_Team_Member</name>
        <label>Add GT Employee To Enquiry Team Member</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Add_Enquiry_Owner_To_Enquiry_Team_Member</targetReference>
        </connector>
        <inputAssignments>
            <field>IsOriginatedFromLeadConversion__c</field>
            <value>
                <elementReference>$Record.IsOriginatedFromLeadConversion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Role__c</field>
            <value>
                <stringValue>Referral</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>$Record.GTEmployee__c</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_GT_Employee_To_Enquiry_Team_Member1</name>
        <label>Add Enquiry Owner To Enquiry Team Member</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Assign_Email_Of_Enquiry_Owner</targetReference>
        </connector>
        <inputAssignments>
            <field>IsOriginatedFromLeadConversion__c</field>
            <value>
                <elementReference>$Record.IsOriginatedFromLeadConversion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>Generated the Lead</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Custom_Notification_For_Finding_Partners</name>
        <label>Custom Notification For Finding Partners</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_GT_Employee_Is_Blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Notify_Finding_Partners</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Custom_Notification_For_Finding_Partners</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello &lt;strong&gt;Team&lt;/strong&gt;,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You are now added as a Finding Partner For Enquiry : {!$Record.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Thanks &amp;amp; Regards&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;GT Team&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>emailAddress</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>notifiersId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
