force-app/main/default/flows/Auto_Convert_Leads_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Auto_Convert_Leads</name>
        <label>Auto Convert Leads</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <actionName>AutoConvertLeads</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>leadIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Lock_New_Client_If_Not_Accepted</name>
        <label>Lock New Client If Not Accepted</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <actionName>LockNewClientRecord</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>leadIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Is_Ready_For_Converted</name>
        <label>Is Ready For Converted</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Update_Ready_For_Converted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Auto_Convert_Leads</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Is_Accept_Client_Or_Not_Accepted_Client</name>
        <label>Status Is Accept Client Or Not Accepted Client</label>
        <locationX>512</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Accept_Client</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accept Client</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Ready_For_Converted</targetReference>
            </connector>
            <label>Accept Client</label>
        </rules>
        <rules>
            <name>Not_Accepted_Client</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NotAccept</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lock_New_Client_If_Not_Accepted</targetReference>
            </connector>
            <label>Not Accepted Client</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Auto Convert Leads Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto Convert Leads Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Ready_For_Converted</name>
        <label>Update Ready For Converted</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Is_Ready_For_Converted</targetReference>
        </connector>
        <inputAssignments>
            <field>ReadyForConverted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status_Is_Accept_Client_Or_Not_Accepted_Client</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accept Client</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NotAccept</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
