force-app/main/default/flows/Auto_Approve_Engagement_Team_Request_After_Pending_For_2_Days.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Engagement_Approval_Request_Pending_For_2_Days</name>
        <label>Engagement Approval Request Pending For 2 Days</label>
        <locationX>182</locationX>
        <locationY>516</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X2_Days_Passed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EngagementTeamApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Get_Process_Instance.CreatedDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Auto_Approve_Engagement_Team_Request</targetReference>
            </connector>
            <label>2 Days Passed</label>
        </rules>
    </decisions>
    <description>If Engagement Team does not approve the request for more than 2 Days. Then, System will auto approve the Approval Request.</description>
    <environments>Default</environments>
    <interviewLabel>Auto Approve Engagement Team Request After Pending For 2 Days {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto Approve Engagement Team Request After Pending For 2 Days</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Process_Definition</name>
        <label>Get Process Definition</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Process_Instance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Engagement_Team_Approval</stringValue>
            </value>
        </filters>
        <filters>
            <field>State</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessDefinition</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Process_Instance</name>
        <label>Get Process Instance</label>
        <locationX>182</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Engagement_Approval_Request_Pending_For_2_Days</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProcessDefinitionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Process_Definition.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TargetObjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstance</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Auto_Approve_Engagement_Team_Request</name>
        <label>Auto Approve Engagement Team Request</label>
        <locationX>50</locationX>
        <locationY>636</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EngagementTeamApprovalStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>EngagementTeamApprovalStatus__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Process_Definition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EngagementTeamApprovalStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-03-17</startDate>
            <startTime>15:12:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
</Flow>
