force-app/main/default/flows/Check_if_stage_is_Confirm_Value_With_Client_since_14_days.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>264</locationX>
        <locationY>636</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_over_records</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_over_records.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>You are on the Confirm Value with Client stage for past 15 days</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Check_if_stage_is_same_since_14_days</name>
        <label>Check if stage is same since 14 days</label>
        <locationX>396</locationX>
        <locationY>516</locationY>
        <defaultConnector>
            <targetReference>Loop_over_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_records.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirm Value With Client</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_over_records.LastStageChangeDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>NumberofDays</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email</targetReference>
            </connector>
            <label>Check days</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NumberofDays</name>
        <dataType>Date</dataType>
        <expression>today() - 14</expression>
    </formulas>
    <interviewLabel>Check if stage is Confirm Value With Client since 14 days {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check if stage is Confirm Value With Client since 14 days</label>
    <loops>
        <name>Loop_over_records</name>
        <label>Loop over records</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <collectionReference>Get_enquiry_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_stage_is_same_since_14_days</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_enquiry_records</name>
        <label>Get enquiry records</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Confirm Value With Client</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_enquiry_records</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-12-30</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;&amp;nbsp;&quot;We noticed that you are on the Confirm Value with Client stage for past 15 days. Please reach out to your peers and experts for assistance, if required. Continue to have iterative discussions with Key decision makers and invite relevant experts in the meeting. Post meeting Please capture the meeting minutes of your meeting with Client.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Lastly, It&apos;s a good practice to request for the Proposal only after you have received the High Level Agreement from the Client for purchase.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
