force-app/main/default/flows/eventRecords.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>eventRecordAssi</name>
        <label>eventRecordAssi</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>eventList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>eventloop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>eventloop</targetReference>
        </connector>
    </assignments>
    <interviewLabel>eventRecords {!$Flow.CurrentDateTime}</interviewLabel>
    <label>eventRecords</label>
    <loops>
        <name>eventloop</name>
        <label>eventloop</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>eventId</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>eventRecordAssi</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>eventId</name>
        <label>eventId</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>eventloop</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>eventId</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>eventList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
