force-app/main/default/flows/Flow_to_move_next_status_based_on_condition.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>CC_Approval_Status</name>
        <label>CC Approval Status</label>
        <locationX>1370</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Pending</defaultConnectorLabel>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CCApprovalStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.CCApprovalStatus__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CCApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_to_next_stage_Accept_Client</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
        <rules>
            <name>Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CCApprovalStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.CCApprovalStatus__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CCApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_To_Next_Stage_Not_Accepted_Client</targetReference>
            </connector>
            <label>Rejected</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_stage_is_new</name>
        <label>if stage is new</label>
        <locationX>1172</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Move_to_Next_stage_Internal_External_Discussion_0</targetReference>
            </connector>
            <label>New</label>
        </rules>
        <rules>
            <name>Internal_External_Discussion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal / External Discussions</stringValue>
                </rightValue>
            </conditions>
            <label>Internal External Discussion</label>
        </rules>
        <rules>
            <name>Client_Take_on_pre_work</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Take-On PreWork</stringValue>
                </rightValue>
            </conditions>
            <label>Client Take on pre work</label>
        </rules>
        <rules>
            <name>Client_Take_On</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Take On</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Move_To_Next_Status_Accept_Client</targetReference>
            </connector>
            <label>Client Take On</label>
        </rules>
    </decisions>
    <decisions>
        <name>Move_to_Next_stage_Internal_External_Discussion_0</name>
        <label>Move to Next stage Internal-External Discussion</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sector__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NSL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_to_next_Stage_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Move_To_Next_Status_Accept_Client</name>
        <label>Move To Next Status Accept Client</label>
        <locationX>1634</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CCApprovalRejectionRecommendation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Solution__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Expertise__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sector__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CCApprovalRejectionRecommendation__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.CCApprovalRejectionRecommendation__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CC_Approval_Status</targetReference>
            </connector>
            <label>Yes2</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Flow to move next status based on condition {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow to move next status based on condition</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_to_next_Stage_0</name>
        <label>Update to next Stage</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Internal / External Discussions</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_to_next_stage_Accept_Client</name>
        <label>Update to next stage(Accept Client)</label>
        <locationX>1106</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CCApprovalStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Accept Client</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_To_Next_Stage_Not_Accepted_Client</name>
        <label>Update To Next Stage (Not Accepted Client)</label>
        <locationX>1370</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CCApprovalStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>NotAccept</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1046</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>if_stage_is_new</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>Email_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Hello {!$Record.Owner:User.FirstName} {!recordId}{!$Record.Owner:User.LastName},&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;New Client Enquiry - &lt;strong&gt;{!$Record.NewClientNo__c}&lt;/strong&gt; recommendation has been approved.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Thanks &amp;amp; Regards &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;GT Team&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
