force-app/main/default/flows/Flow_To_Create_RCC.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Enquiry_Expertise_Value</name>
        <label>Assign Enquiry Expertise Value</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>EnquiryExpertiseValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Enquiry_Record.Expertise__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_RCC</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Enquiry_Record_Found</name>
        <label>Enquiry Record Found</label>
        <locationX>611</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Enquiry_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RCC_Already_Passed_For_Current_Enquiry_Client</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_RCC_Record_Found</name>
        <label>Existing RCC Record Found</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_RCC_Passed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existing_RCC_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_RCC_Record_For_Current_Enquiry.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RCCPassed</targetReference>
            </connector>
            <label>Existing RCC Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>RCC_Already_Passed_For_Current_Enquiry_Client</name>
        <label>RCC Already Passed For Current Enquiry Client</label>
        <locationX>380</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Assign_Enquiry_Expertise_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>RCC Not Initiated</defaultConnectorLabel>
        <rules>
            <name>RCC_Passed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Enquiry_Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Enquiry_Record.Account.RCCCurrentStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pass</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_RCC_Record_For_Current_Enquiry</targetReference>
            </connector>
            <label>RCC Passed</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CategoryofProposedServices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CategoryofProposedServices__c</picklistField>
        <picklistObject>RCC__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CirculateThisCheckToPartnersYN</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CirculateThisCheckToPartnersYN__c</picklistField>
        <picklistObject>RCC__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CirculationGroup</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Circulation_Group__c</picklistField>
        <picklistObject>RCC__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ClientContacts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Enquiry_Record.AccountId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>EntitysLocation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>EntitysLocationCountry__c</picklistField>
        <picklistObject>RCC__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Expertise</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Expertise__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GlobalIndustrySectors</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Global_Industry_Sectors__c</picklistField>
        <picklistObject>RCC__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GlobalMarketSegments</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Global_Market_Segments__c</picklistField>
        <picklistObject>RCC__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>IfExpAuditSelectTypeOfAppointment</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IfExpAuditSelectTypeOfAppointment__c</picklistField>
        <picklistObject>RCC__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InternationalOperations</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>InternationalOperationsYN__c</picklistField>
        <picklistObject>RCC__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>IsEntityAddedInRestrictedList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IsEntityAddedInRestrictedList__c</picklistField>
        <picklistObject>RCC__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OwnedInWholeOrInPartByPEVC</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>OwnedInWholeOrInPartByPEVC__c</picklistField>
        <picklistObject>RCC__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ResponseRequiredInCaseOfIRC</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ResponseRequiredInCaseOfIRC__c</picklistField>
        <picklistObject>RCC__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TotalEstimatedFees</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TotalEstimatedFees__c</picklistField>
        <picklistObject>RCC__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CategoryOfProposedServiceOther</name>
        <dataType>Boolean</dataType>
        <expression>AND(
ISPICKVAL({!CategoryofProposedServices}, &apos;Other&apos;),
NOT(LEN({!Remarks}) = 0 )
)</expression>
    </formulas>
    <formulas>
        <name>ClientNameReadOnly</name>
        <dataType>Boolean</dataType>
        <expression>NOT({!NameOfEntity}&lt;&gt;{!Get_Enquiry_Record.Account.Name})</expression>
    </formulas>
    <formulas>
        <name>Expertise_ReadOnly</name>
        <dataType>Boolean</dataType>
        <expression>NOT({!ExpertiseText} &lt;&gt; {!EnquiryExpertiseValue})</expression>
    </formulas>
    <formulas>
        <name>NameOfImmediateHoldingReadOnly</name>
        <dataType>Boolean</dataType>
        <expression>{!Get_Enquiry_Record.Client__r.Parent.Name}&lt;&gt;{!Name_Of_The_Immediate_Holding_Company}</expression>
    </formulas>
    <interviewLabel>Flow To Create RCC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow To Create RCC</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_RCC_Record</name>
        <label>Create RCC Record</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Update_Current_Enquiries_Client_RCC_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>CategoryofProposedServices__c</field>
            <value>
                <elementReference>Category_of_Proposed_Services</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CirculateThisCheckToPartnersYN__c</field>
            <value>
                <elementReference>In_case_of_an_IRC_do_you_want_the_responding_firm_s_to_circulate_this_check_to_a</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Circulation_Group__c</field>
            <value>
                <elementReference>Circulation_Group</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClientNameText__c</field>
            <value>
                <elementReference>NameOfEntity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Contacts__c</field>
            <value>
                <elementReference>Client_Contacts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DomesticRelationshipReportedInTime__c</field>
            <value>
                <elementReference>In_case_of_domestic_relationship_check_how_far_back_in_time_do_you_want_relation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EngagementNarrative__c</field>
            <value>
                <elementReference>Engagement_Narrative</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Enquiry__c</field>
            <value>
                <elementReference>Get_Enquiry_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EntitysLocationCountry__c</field>
            <value>
                <elementReference>Entity_s_Location_Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EntitysWebsiteorURL__c</field>
            <value>
                <elementReference>EntitysWebsiteorURL.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpertiseText__c</field>
            <value>
                <elementReference>ExpertiseText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpiryDate__c</field>
            <value>
                <elementReference>Expiry_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Explain_Reason__c</field>
            <value>
                <elementReference>In_case_public_audit_service_is_not_proposed_please_explain_the_reason_for_selec</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Global_Industry_Sectors__c</field>
            <value>
                <elementReference>Global_Industry_Sectors</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Global_Market_Segments__c</field>
            <value>
                <elementReference>GlobalMarketSegment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HowFarBackRelationshipToBeReported__c</field>
            <value>
                <elementReference>In_case_of_an_IRC_how_far_back_in_time_do_you_want_relationship_to_be_reported</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IfExpAuditSelectTypeOfAppointment__c</field>
            <value>
                <elementReference>If_expertise_is_Audit_select_the_type_of_Appointment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InternationalOperationsYN__c</field>
            <value>
                <elementReference>Does_the_Entity_have_International_Operations</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsEntityAddedInRestrictedList__c</field>
            <value>
                <elementReference>Should_the_entity_be_added_to_the_Restricted_List_to_comply_with_SEBI_Prohibitio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NameOfEntity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnedInWholeOrInPartByPEVC__c</field>
            <value>
                <elementReference>Is_the_entity_owned_in_whole_or_in_part_by_one_or_more_private_Equity_venture_ca</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remarks__c</field>
            <value>
                <elementReference>Remarks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ResponseRequiredInCaseOfIRC__c</field>
            <value>
                <elementReference>In_case_of_IRC_What_type_of_response_is_required</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalEstimatedFees__c</field>
            <value>
                <elementReference>What_are_the_total_estimated_fees_US_for_the_client_engagement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VendorRelationshipToBeReported__c</field>
            <value>
                <elementReference>VendorRelationship.recordName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatisEntitysLocalIndustry__c</field>
            <value>
                <elementReference>What_is_the_entity_s_local_industry_if_different_than_global_industry_sectors</elementReference>
            </value>
        </inputAssignments>
        <object>RCC__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Enquiry_Record</name>
        <label>Get Enquiry Record</label>
        <locationX>611</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Enquiry_Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EnquiryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_RCC_Record_For_Current_Enquiry</name>
        <label>Get Existing RCC Record For Current Enquiry</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_RCC_Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Enquiry__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Enquiry_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RCC__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Current_Enquiries_Client_RCC_Status</name>
        <label>Update Current Enquiries Client RCC Status</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RCCCurrentStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Pass</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Enquiry_Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RCCCurrentStatus__c</field>
            <value>
                <stringValue>Pass</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RCCPassedOn__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Copy_1_of_RCC_Passed</name>
        <label>Copy 1 of RCC Passed</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_RCCStatus</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;RCC already completed for this Client.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_RCC</name>
        <label>Create RCC</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Create_RCC_Record</targetReference>
        </connector>
        <fields>
            <name>Structure_Information</name>
            <fieldText>Structure Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Structure_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NameOfEntity</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Enquiry_Record.Account.Name</elementReference>
                    </defaultValue>
                    <fieldText>Name Of Entity</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Read Only field&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;, value gets &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Auto&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Populated&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; from Enquiry field.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Name_Of_The_Global_Ultimate_Parent</name>
                    <dataType>String</dataType>
                    <fieldText>Name Of The Global Ultimate Parent</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Entity_s_Location_Country</name>
                    <choiceReferences>EntitysLocation</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Entity&apos;s Location (Country)</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Does_the_Entity_have_International_Operations</name>
                    <choiceReferences>InternationalOperations</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Yes</stringValue>
                    </defaultValue>
                    <fieldText>Does the Entity have International Operations</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Structure_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Name_Of_The_Immediate_Holding_Company</name>
                    <dataType>String</dataType>
                    <fieldText>Name Of The Immediate Holding Company</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;strong&gt;Read Only&lt;/strong&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!NameOfImmediateHoldingReadOnly}</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Name_Of_The_Immediate_Holding_Company</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>ExpertiseText</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Enquiry_Record.Expertise__c</elementReference>
                    </defaultValue>
                    <fieldText>Expertise</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;strong&gt;Read Only field&lt;/strong&gt;, value gets &lt;strong&gt;Auto&lt;/strong&gt; &lt;strong&gt;Populated&lt;/strong&gt; from Enquiry field.&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;strong&gt;Read Only&lt;/strong&gt; &lt;strong&gt;Field&lt;/strong&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Expertise_ReadOnly}</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Enquiry_Record.Expertise__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>ExpertiseText</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>If_expertise_is_Audit_select_the_type_of_Appointment</name>
                    <choiceReferences>IfExpAuditSelectTypeOfAppointment</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>If expertise is Audit, select the type of Appointment</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ExpertiseText</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Audit</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Client_Contacts</name>
                    <choiceReferences>ClientContacts</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Client Contacts</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Proposed_Service_Relationship</name>
            <fieldText>Proposed Service / Relationship</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Proposed_Service_Relationship_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Category_of_Proposed_Services</name>
                    <choiceReferences>CategoryofProposedServices</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Category Of Proposed Services</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Additional_Details</name>
            <fieldText>Additional Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Additional_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Engagement_Narrative</name>
                    <fieldText>Engagement Narrative</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Is_the_entity_owned_in_whole_or_in_part_by_one_or_more_private_Equity_venture_ca</name>
                    <choiceReferences>OwnedInWholeOrInPartByPEVC</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is the entity owned in whole or in part by one or more private Equity / venture capital (PE/VC) Group(s)?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>VendorRelationship</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>What type of Vendor relationship, do you want to reported</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>RCC__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>VendorRelationshipToBeReported__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>In_case_of_domestic_relationship_check_how_far_back_in_time_do_you_want_relation</name>
                    <dataType>Date</dataType>
                    <fieldText>In case of domestic relationship check, how far back in time do you want relationship to be reported</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Additional_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EntitysWebsiteorURL</name>
                    <extensionName>flowruntime:url</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Entity&apos;s Website or URL</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>In_case_of_IRC_What_type_of_response_is_required</name>
                    <choiceReferences>ResponseRequiredInCaseOfIRC</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>In case of IRC. What type of response is required?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Does_the_Entity_have_International_Operations</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>In_case_of_an_IRC_how_far_back_in_time_do_you_want_relationship_to_be_reported</name>
                    <dataType>Date</dataType>
                    <fieldText>In case of an IRC, how far back in time do you want relationship to be reported</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Does_the_Entity_have_International_Operations</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>In_case_public_audit_service_is_not_proposed_please_explain_the_reason_for_selec</name>
                    <fieldText>In case, public audit service is not proposed, please explain the reason for selected - whether or not</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Does_the_Entity_have_International_Operations</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Entity_Industry_or_Industries</name>
            <fieldText>Entity Industry or Industries</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Entity_Industry_or_Industries_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>What_is_the_entity_s_local_industry_if_different_than_global_industry_sectors</name>
                    <fieldText>What is the entity&apos;s local industry (if different than global industry sectors)?</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>In_case_of_an_IRC_do_you_want_the_responding_firm_s_to_circulate_this_check_to_a</name>
                    <choiceReferences>CirculateThisCheckToPartnersYN</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>In case of an IRC, do you want the responding firm(s) to circulate this check to all their partners?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Does_the_Entity_have_International_Operations</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Remarks</name>
                    <fieldText>Remarks</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Required only if &lt;strong&gt;Category Of Proposed&lt;/strong&gt; Services is Selected &apos;&lt;strong&gt;Other&lt;/strong&gt;&apos;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!CategoryOfProposedServiceOther}</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Category_of_Proposed_Services</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Other</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Entity_Industry_or_Industries_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>What_are_the_total_estimated_fees_US_for_the_client_engagement</name>
                    <choiceReferences>TotalEstimatedFees</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>What are the total estimated fees, ($US) for the client engagement</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Does_the_Entity_have_International_Operations</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Should_the_entity_be_added_to_the_Restricted_List_to_comply_with_SEBI_Prohibitio</name>
                    <choiceReferences>IsEntityAddedInRestrictedList</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Should the entity be added to the Restricted List to comply with SEBI (Prohibition of Insider Trading) Regulations, 2015?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>GlobalMarketSegment</name>
                    <choiceReferences>GlobalMarketSegments</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Global Market Segments</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Global_Industry_Sectors</name>
                    <choiceReferences>GlobalIndustrySectors</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Global Industry Sectors</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>RCC_Circulation</name>
            <fieldText>RCC Circulation</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>RCC_Circulation_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Expiry_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Expiry Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>RCC_Circulation_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Circulation_Group</name>
                    <choiceReferences>CirculationGroup</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Circulation Group</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RCCPassed</name>
        <label>RCC Passed</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>RCCStatus</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;{!RCCStatusBody}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Enquiry_Record</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>RCCStatusBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;RCC Already Completed&lt;/strong&gt; &lt;span style=&quot;font-size: 16px;&quot;&gt;on {!Get_Existing_RCC_Record_For_Current_Enquiry.CreatedDate}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>EnquiryExpertiseValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EnquiryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
