force-app/main/default/flows/Flow_To_Create_RCC_Updated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Engagement_Team_Approval_For_RCC</name>
        <label>Engagement Team Approval For RCC</label>
        <locationX>578</locationX>
        <locationY>1478</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Handler_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Engagement_Team_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Get_Enquiry_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <elementReference>CommentsForEnquiry</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>Get_Enquiry_Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>RCC_Approval_To_Engagement_Team</name>
        <label>RCC Approval To Engagement Team</label>
        <locationX>2162</locationX>
        <locationY>1478</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Engagement_Team_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Get_Client_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>Get_Client_Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Client_Expertise_Value</name>
        <label>Assign Client Expertise Value</label>
        <locationX>2162</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>ClientExpertiseValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Enquiry_Record.Expertise__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_Create_RCC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Enquiry_Expertise_Value</name>
        <label>Assign Enquiry Expertise Value</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>EnquiryExpertiseValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Enquiry_Record.Expertise__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_RCC</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>assu</name>
        <choiceText>assu</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>assu</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Client_Record_Found</name>
        <label>Client Record Found</label>
        <locationX>2195</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesClientFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Client_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RCC_Already_Created_For_Client</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Enquiry_Record_Found</name>
        <label>Enquiry Record Found</label>
        <locationX>1287</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Get_Client_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Enquiry_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Enquiry_Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RCC_Already_Passed_For_Current_Enquiry_Client</targetReference>
            </connector>
            <label>Enquiry Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_RCC_Record_Found</name>
        <label>Existing RCC Record Found</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_RCC_Passed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existing_RCC_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_RCC_Record_For_Current_Enquiry.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RCCPassed</targetReference>
            </connector>
            <label>Existing RCC Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>RCC_Already_Created_For_Client</name>
        <label>RCC Already Created For Client</label>
        <locationX>1964</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Assign_Client_Expertise_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RCC_Passed_For_Client</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Client_Record.RCCCurrentStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pass</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Client_Record.RCCCurrentStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RCC_Record_For_Client_Found</targetReference>
            </connector>
            <label>RCC Passed</label>
        </rules>
    </decisions>
    <decisions>
        <name>RCC_Already_Passed_For_Current_Enquiry_Client</name>
        <label>RCC Already Passed For Current Enquiry Client</label>
        <locationX>380</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Get_Contact_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>RCC Not Initiated</defaultConnectorLabel>
        <rules>
            <name>RCC_Passed</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Enquiry_Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Enquiry_Record.Account.RCCCurrentStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pass</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Enquiry_Record.Account.RCCCurrentStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_RCC_Record_For_Current_Enquiry</targetReference>
            </connector>
            <label>RCC Passed</label>
        </rules>
    </decisions>
    <decisions>
        <name>RCC_Record_For_Client_Existed</name>
        <label>RCC Record For Client Existed</label>
        <locationX>1766</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_RCC_Passed_For_Client</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RCC_For_Client_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RCC_Record_For_Client_Found.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RCC_Passed_For_ClientScreen</targetReference>
            </connector>
            <label>RCC For Client Found</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AdvisorySubCategory</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Advisory_Sub_Category__c</picklistField>
        <picklistObject>RCC__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AssuranceSubCategory</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Assurance_Sub_Category__c</picklistField>
        <picklistObject>RCC__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AuditAssuranceSubCategory</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Audit_Assurance_Sub_Category__c</picklistField>
        <picklistObject>RCC__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AuditSubCategory</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Audit_Sub__c</picklistField>
        <picklistObject>RCC__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BusinessConsultingServices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Business_Consulting_Services__c</picklistField>
        <picklistObject>RCC__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BusinessProcessSolutions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Business_Process_Solutions__c</picklistField>
        <picklistObject>RCC__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BusinessRelationshipSubCategory</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BusinessRelationshipSubCategory__c</picklistField>
        <picklistObject>RCC__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BusinessRiskServices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Business_Risk_Services__c</picklistField>
        <picklistObject>RCC__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CategoryofProposedServices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CategoryofProposedServices__c</picklistField>
        <picklistObject>RCC__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CirculateThisCheckToPartnersYN</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CirculateThisCheckToPartnersYN__c</picklistField>
        <picklistObject>RCC__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CirculationGroup</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Circulation_Group__c</picklistField>
        <picklistObject>RCC__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ClientContacts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Enquiry_Record.AccountId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ClientContactsForClient</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Client_Record.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CompanyFormationSecretarialServices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Company_Formation_Secretarial_Services__c</picklistField>
        <picklistObject>RCC__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CountryofFinancialExchange</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CountryofFinancialExchange__c</picklistField>
        <picklistObject>RCC__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CountryOfFinancialExchangeAssurance</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CountryofFinancialExchangeAssurance__c</picklistField>
        <picklistObject>RCC__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>EngagementType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Engagement_Type__c</picklistField>
        <picklistObject>RCC__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>EngagementTypeAssurance</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>EngagementTypeAssurance__c</picklistField>
        <picklistObject>RCC__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>EngagementTypePublic</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>EngagementTypePublic__c</picklistField>
        <picklistObject>RCC__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>EntitysLocation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>EntitysLocationCountry__c</picklistField>
        <picklistObject>RCC__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ExistingClient</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Existing_Client__c</picklistField>
        <picklistObject>RCC__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Expertise</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Expertise__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ForensicInvestigations</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Forensic_Investigations__c</picklistField>
        <picklistObject>RCC__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GlobalIndustrySectors</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Global_Industry_Sectors__c</picklistField>
        <picklistObject>RCC__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GlobalMarketSegments</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Global_Market_Segments__c</picklistField>
        <picklistObject>RCC__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>IfExpAuditSelectTypeOfAppointment</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IfExpAuditSelectTypeOfAppointment__c</picklistField>
        <picklistObject>RCC__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InternationalOperations</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>InternationalOperationsYN__c</picklistField>
        <picklistObject>RCC__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>IsEntityAddedInRestrictedList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IsEntityAddedInRestrictedList__c</picklistField>
        <picklistObject>RCC__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>IstheassuranceserviceengagementforanSECregistrantAssurance</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IsauditserviceengagementforSECAssurance__c</picklistField>
        <picklistObject>RCC__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>IsTheAuditSECRegistrant</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Is_the_audit_service_engagement_for_an_S__c</picklistField>
        <picklistObject>RCC__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LegalServices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Legal_Services__c</picklistField>
        <picklistObject>RCC__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>NonAuditAdvisorySubCategory</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>NonAuditSubCategory__c</picklistField>
        <picklistObject>RCC__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Normalcourseforfirmandvendor</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Normal_course_for_firm_and_vendor__c</picklistField>
        <picklistObject>RCC__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OwnedInWholeOrInPartByPEVC</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>OwnedInWholeOrInPartByPEVC__c</picklistField>
        <picklistObject>RCC__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProvisionOfAuditAccountancySoftwareTraining</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Provision_of_Audit_Accountancy_Training__c</picklistField>
        <picklistObject>RCC__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RecoveryReorganisation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Recovery_and_Reorganisation__c</picklistField>
        <picklistObject>RCC__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ResponseRequiredInCaseOfIRC</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ResponseRequiredInCaseOfIRC__c</picklistField>
        <picklistObject>RCC__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>T1Users</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Designation__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>T1</stringValue>
            </value>
        </filters>
        <object>User</object>
        <valueField>Email</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TotalEstimatedFees</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TotalEstimatedFees__c</picklistField>
        <picklistObject>RCC__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TransactionServices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Transaction_Services__c</picklistField>
        <picklistObject>RCC__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VendorRelationshipToBeReported</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Vendor_Relationship_To_Be_Reported__c</picklistField>
        <picklistObject>RCC__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CategoryOfProposedServiceOther</name>
        <dataType>Boolean</dataType>
        <expression>AND(
ISPICKVAL({!CategoryofProposedServices}, &apos;Other&apos;),
NOT(LEN({!Remarks}) = 0 )
)</expression>
    </formulas>
    <formulas>
        <name>DateBefore1Year</name>
        <dataType>Date</dataType>
        <expression>IF(
OR( 
  MOD( YEAR( {!$Flow.CurrentDate} ), 400 ) = 0, 
  AND( 
   MOD( YEAR( {!$Flow.CurrentDate} ), 4 ) = 0,
    MOD( YEAR( {!$Flow.CurrentDate} ), 100 ) != 0
  )
), {!$Flow.CurrentDate}-366, {!$Flow.CurrentDate}-365)</expression>
    </formulas>
    <formulas>
        <name>DateBefore3Year</name>
        <dataType>Date</dataType>
        <expression>IF(
OR( 
  MOD( YEAR( {!$Flow.CurrentDate} ), 400 ) = 0, 
  AND( 
   MOD( YEAR( {!$Flow.CurrentDate} ), 4 ) = 0,
    MOD( YEAR( {!$Flow.CurrentDate} ), 100 ) != 0
  )
), {!$Flow.CurrentDate}-(366+(365*2)), {!$Flow.CurrentDate}-(365*3))</expression>
    </formulas>
    <formulas>
        <name>NameOfImmediateHoldingReadOnly</name>
        <dataType>Boolean</dataType>
        <expression>{!Get_Enquiry_Record.Client__r.Parent.Name}&lt;&gt;{!Name_Of_The_Immediate_Holding_Company}</expression>
    </formulas>
    <interviewLabel>Flow To Create RCC Updated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow To Create RCC Updated</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Copy_Create_RCC_Record</name>
        <label>Create RCC Record</label>
        <locationX>2162</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Update_Current_Client_RCC_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>CategoryofProposedServices__c</field>
            <value>
                <elementReference>Category_of_Proposed_Services</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CirculateThisCheckToPartnersYN__c</field>
            <value>
                <elementReference>In_case_of_an_IRC_do_you_want_the_responding_firm_s_to_circulate_this_check_to_a</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Circulation_Group__c</field>
            <value>
                <elementReference>Circulation_Group</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClientName__c</field>
            <value>
                <elementReference>Get_Client_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Contacts__c</field>
            <value>
                <elementReference>Client_Contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DomesticRelationshipReportedInTime__c</field>
            <value>
                <elementReference>In_case_of_domestic_relationship_check_how_far_back_in_time_do_you_want_relation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EngagementNarrative__c</field>
            <value>
                <elementReference>Engagement_Narrative</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EntitysLocationCountry__c</field>
            <value>
                <elementReference>Entity_s_Location_Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EntitysWebsiteorURL__c</field>
            <value>
                <elementReference>EntitysWebsiteorURL.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpiryDate__c</field>
            <value>
                <elementReference>Expiry_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Explain_Reason__c</field>
            <value>
                <elementReference>In_case_public_audit_service_is_not_proposed_please_explain_the_reason_for_selec</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Global_Industry_Sectors__c</field>
            <value>
                <elementReference>Global_Industry_Sectors</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Global_Market_Segments__c</field>
            <value>
                <elementReference>GlobalMarketSegment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HowFarBackRelationshipToBeReported__c</field>
            <value>
                <elementReference>In_case_of_an_IRC_how_far_back_in_time_do_you_want_relationship_to_be_reported</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IfExpAuditSelectTypeOfAppointment__c</field>
            <value>
                <elementReference>If_expertise_is_Audit_select_the_type_of_Appointment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InternationalOperationsYN__c</field>
            <value>
                <elementReference>Does_the_Entity_have_International_Operations</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsEntityAddedInRestrictedList__c</field>
            <value>
                <elementReference>Should_the_entity_be_added_to_the_Restricted_List_to_comply_with_SEBI_Prohibitio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnedInWholeOrInPartByPEVC__c</field>
            <value>
                <elementReference>Is_the_entity_owned_in_whole_or_in_part_by_one_or_more_private_Equity_venture_ca</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remarks__c</field>
            <value>
                <elementReference>Remarks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ResponseRequiredInCaseOfIRC__c</field>
            <value>
                <elementReference>In_case_of_IRC_What_type_of_response_is_required</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalEstimatedFees__c</field>
            <value>
                <elementReference>What_are_the_total_estimated_fees_US_for_the_client_engagement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VendorRelationshipToBeReported__c</field>
            <value>
                <elementReference>Copy_1_of_VendorRelationship.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatisEntitysLocalIndustry__c</field>
            <value>
                <elementReference>What_is_the_entity_s_local_industry_if_different_than_global_industry_sectors</elementReference>
            </value>
        </inputAssignments>
        <object>RCC__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_RCC_Record</name>
        <label>Create RCC Record</label>
        <locationX>578</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Update_Current_Enquiries_Client_RCC_Status</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Handler_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AdversePartyForensic__c</field>
            <value>
                <elementReference>Adverse_PartyForensic</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AdversePartyLegal__c</field>
            <value>
                <elementReference>Adverse_PartyLegal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AdversePartyRecovery__c</field>
            <value>
                <elementReference>Adverse_PartyRecovery</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Advisory_Sub_Category__c</field>
            <value>
                <elementReference>Advisory_Sub_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assurance_Sub_Category__c</field>
            <value>
                <elementReference>Assurance_Sub_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audit_Assurance_Sub_Category__c</field>
            <value>
                <elementReference>Audit_Assurance_Sub_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audit_Sub__c</field>
            <value>
                <elementReference>Audit_Sub_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BusinessRelationshipSubCategory__c</field>
            <value>
                <elementReference>BusinessRelationshipSubCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Consulting_Services__c</field>
            <value>
                <elementReference>Business_Consulting_Services</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Process_Solutions__c</field>
            <value>
                <elementReference>Business_Process_Solutions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Risk_Services__c</field>
            <value>
                <elementReference>Business_Risk_Services</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CategoryofProposedServices__c</field>
            <value>
                <elementReference>Category_of_Proposed_Services</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CirculateThisCheckToPartnersYN__c</field>
            <value>
                <elementReference>In_case_of_an_IRC_do_you_want_the_responding_firm_s_to_circulate_this_check_to_a</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Circulation_Group__c</field>
            <value>
                <elementReference>Circulation_Group</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClientName__c</field>
            <value>
                <elementReference>Get_Enquiry_Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Contacts__c</field>
            <value>
                <elementReference>Client_Contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_Formation_Secretarial_Services__c</field>
            <value>
                <elementReference>Company_Formation_Secretarial_Registration_and_Directorship_Services</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CountryofFinancialExchangeAssurance__c</field>
            <value>
                <elementReference>Country_of_Financial_ExchangeAssurance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CountryofFinancialExchange__c</field>
            <value>
                <elementReference>Country_of_Financial_Exchange</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description_of_Proposed_Business_Reltion__c</field>
            <value>
                <elementReference>Please_provide_a_description_of_the_proposed_business_relationship</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DomesticRelationshipReportedInTime__c</field>
            <value>
                <elementReference>In_case_of_domestic_relationship_check_how_far_back_in_time_do_you_want_relation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EngagementLeader__c</field>
            <value>
                <elementReference>EngagementLeader1.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EngagementNarrative__c</field>
            <value>
                <elementReference>Engagement_Narrative</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EngagementPartner__c</field>
            <value>
                <elementReference>EngagementPartner1.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EngagementTypeAssurance__c</field>
            <value>
                <elementReference>Engagement_TypeAssurance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EngagementTypePublic__c</field>
            <value>
                <elementReference>EngagementTypePublic</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engagement_Type__c</field>
            <value>
                <elementReference>Engagement_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Enquiry__c</field>
            <value>
                <elementReference>Get_Enquiry_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EntitysLocationCountry__c</field>
            <value>
                <elementReference>Entity_s_Location_Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EntitysWebsiteorURL__c</field>
            <value>
                <elementReference>EntitysWebsiteorURL.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpiryDate__c</field>
            <value>
                <elementReference>Expiry_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Explain_Reason__c</field>
            <value>
                <elementReference>In_case_public_audit_service_is_not_proposed_please_explain_the_reason_for_selec</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Forensic_Investigations__c</field>
            <value>
                <elementReference>Forensic_Investigations</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Global_Industry_Sectors__c</field>
            <value>
                <elementReference>Global_Industry_Sectors</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Global_Market_Segments__c</field>
            <value>
                <elementReference>GlobalMarketSegment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HowFarBackRelationshipToBeReported__c</field>
            <value>
                <elementReference>In_case_of_an_IRC_how_far_back_in_time_do_you_want_relationship_to_be_reported</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Identify_and_include_on_family_tree_tab1__c</field>
            <value>
                <elementReference>Please_identify_the_PE_VC_and_include_them_as_a_related_entity_on_t1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Identify_and_include_on_family_tree_tab2__c</field>
            <value>
                <elementReference>Please_identify_include_them_as_a_related_entity_on_t2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Identify_and_include_on_family_tree_tab3__c</field>
            <value>
                <elementReference>Please_identify_the_PE_VC_group_s_here_and_include_related_entity_on_t3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Identify_and_include_on_family_tree_tab__c</field>
            <value>
                <elementReference>Please_identify_the_PE_VC_group_s_here_and_include_them_as_a_related_entity_on_t</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IfExpAuditSelectTypeOfAppointment__c</field>
            <value>
                <elementReference>If_expertise_is_Audit_select_the_type_of_Appointment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InternationalOperationsYN__c</field>
            <value>
                <elementReference>Does_the_Entity_have_International_Operations</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsEntityAddedInRestrictedList__c</field>
            <value>
                <elementReference>Should_the_entity_be_added_to_the_Restricted_List_to_comply_with_SEBI_Prohibitio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_the_audit_service_engagement_for_an_S__c</field>
            <value>
                <elementReference>Is_the_audit_service_engagement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsauditserviceengagementforSECAssurance__c</field>
            <value>
                <elementReference>Is_the_assurance_service_engagement_for_an_SEC_registrantAssurance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legal_Services__c</field>
            <value>
                <elementReference>Legal_Services</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocationForensic__c</field>
            <value>
                <elementReference>LocationForensic</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocationLegal__c</field>
            <value>
                <elementReference>LocationLegal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocationRecovery__c</field>
            <value>
                <elementReference>Location_Recovery</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocationTransaction__c</field>
            <value>
                <elementReference>LocationTransaction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NameOfTheGlobalUltimateParent__c</field>
            <value>
                <elementReference>Name_Of_The_Global_Ultimate_Parent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NameOfTheImmediateHoldingCompany__c</field>
            <value>
                <elementReference>Name_Of_The_Immediate_Holding_Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NameofFinancialExchangeAssurance__c</field>
            <value>
                <elementReference>Name_of_Financial_ExchangeAssurance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NameofFinancialExchange__c</field>
            <value>
                <elementReference>Name_of_Financial_Exchange</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NonAuditSubCategory__c</field>
            <value>
                <elementReference>Non_Audit_Sub_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Normal_course_for_firm_and_vendor__c</field>
            <value>
                <elementReference>Is_the_business_relationship_an_arm_s_length_transaction_and_in_the_normal_cours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_advisory_services_Please_describe__c</field>
            <value>
                <elementReference>Other_advisory_services_Please_describe</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Others_Services_Please_describe__c</field>
            <value>
                <elementReference>Others_Services_Please_describe</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnedInWholeOrInPartByPEVC__c</field>
            <value>
                <elementReference>Is_the_entity_owned_in_whole_or_in_part_by_one_or_more_private_Equity_venture_ca</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provision_of_Audit_Accountancy_Training__c</field>
            <value>
                <elementReference>Provision_of_Audit_Training_Accountancy_and_Software_Training</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recovery_and_Reorganisation__c</field>
            <value>
                <elementReference>Recovery_and_Reorganisation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remarks__c</field>
            <value>
                <elementReference>Remarks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ResponseRequiredInCaseOfIRC__c</field>
            <value>
                <elementReference>In_case_of_IRC_What_type_of_response_is_required</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TargetEntityAdversePartyTransaction__c</field>
            <value>
                <elementReference>Target_Entity_Adverse_PartyTransaction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalEstimatedFees__c</field>
            <value>
                <elementReference>What_are_the_total_estimated_fees_US_for_the_client_engagement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Services__c</field>
            <value>
                <elementReference>Transaction_Services</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vendor_Relationship_To_Be_Reported__c</field>
            <value>
                <elementReference>What_type_of_Vendor_relationship_do_you_want_to_reported</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatisEntitysLocalIndustry__c</field>
            <value>
                <elementReference>What_is_the_entity_s_local_industry_if_different_than_global_industry_sectors</elementReference>
            </value>
        </inputAssignments>
        <object>RCC__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Client_Record</name>
        <label>Get Client Record</label>
        <locationX>2195</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Client_Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EnquiryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Records</name>
        <label>Get Contact Records</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Subsidiary_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BOD_Flag__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <filters>
            <field>Designation__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Enquiry_Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Enquiry_Record</name>
        <label>Get Enquiry Record</label>
        <locationX>1287</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Enquiry_Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EnquiryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_RCC_Record_For_Current_Enquiry</name>
        <label>Get Existing RCC Record For Current Enquiry</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_RCC_Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Enquiry__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Enquiry_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RCC__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Joint_Venture_Record</name>
        <label>Get Joint Venture Record</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Enquiry_Expertise_Value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Enquiry_Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Joint_Venture__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Subsidiary_Record</name>
        <label>Get Subsidiary Record</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Joint_Venture_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Enquiry_Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Subsidiary__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RCC_Record_For_Client_Found</name>
        <label>Get RCC Record For Client</label>
        <locationX>1766</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RCC_Record_For_Client_Existed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ClientName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Client_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RCC__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Current_Client_RCC_Status</name>
        <label>Update Current Client RCC Status</label>
        <locationX>2162</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Update_Current_Client_Related_Enquiries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RCCCurrentStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Pass</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Client_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RCCCurrentStatus__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RCCPassedOn__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Current_Client_Related_Enquiries</name>
        <label>Update Current Client Related Enquiries</label>
        <locationX>2162</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Engagement_Team_Approval_CommentsForClient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Client_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RCCCurrentStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Pass</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>RCCCurrentStatus__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Current_Enquiries_Client_RCC_Status</name>
        <label>Update Current Enquiries Client RCC Status</label>
        <locationX>578</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Engagement_Team_Approval_CommentsForEnquiry</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Handler_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RCCCurrentStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Pass</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Enquiry_Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RCCCurrentStatus__c</field>
            <value>
                <stringValue>Pass</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RCCPassedOn__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Copy_1_of_RCC_Passed</name>
        <label>RCC Passed</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_RCCStatus</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;RCC already completed for this Client.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_RCC_Passed_For_Client</name>
        <label>RCC Passed For Client</label>
        <locationX>1898</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Copy_2_of_RCCStatus</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;RCC Already Completed&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_Create_RCC</name>
        <label>Create RCC</label>
        <locationX>2162</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Copy_Create_RCC_Record</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Structure_Information</name>
            <fieldText>Structure Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Structure_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_NameOfEntity</name>
                    <dataType>String</dataType>
                    <fieldText>Name Of Entity</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Read Only field&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;, value gets &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Auto&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Populated&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; from Enquiry field.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Copy_1_of_Name_Of_The_Global_Ultimate_Parent</name>
                    <dataType>String</dataType>
                    <fieldText>Name Of The Global Ultimate Parent</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Copy_1_of_Entity_s_Location_Country</name>
                    <choiceReferences>EntitysLocation</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Entity&apos;s Location (Country)</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Copy_1_of_Does_the_Entity_have_International_Operations</name>
                    <choiceReferences>InternationalOperations</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Yes</stringValue>
                    </defaultValue>
                    <fieldText>Does the Entity have International Operations</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Structure_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Name_Of_The_Immediate_Holding_Company</name>
                    <dataType>String</dataType>
                    <fieldText>Name Of The Immediate Holding Company</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;strong&gt;Read Only&lt;/strong&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!NameOfImmediateHoldingReadOnly}</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Name_Of_The_Immediate_Holding_Company</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Copy_1_of_ExpertiseText</name>
                    <dataType>String</dataType>
                    <fieldText>Expertise</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;strong&gt;Read Only field&lt;/strong&gt;, value gets &lt;strong&gt;Auto&lt;/strong&gt; &lt;strong&gt;Populated&lt;/strong&gt; from Enquiry field.&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Enquiry_Record.Expertise__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Copy_1_of_If_expertise_is_Audit_select_the_type_of_Appointment</name>
                    <choiceReferences>IfExpAuditSelectTypeOfAppointment</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>If expertise is Audit, select the type of Appointment</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Copy_1_of_Client_Contacts</name>
                    <choiceReferences>ClientContactsForClient</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Client Contacts</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_Proposed_Service_Relationship</name>
            <fieldText>Proposed Service / Relationship</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Proposed_Service_Relationship_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Category_of_Proposed_Services</name>
                    <choiceReferences>CategoryofProposedServices</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Category Of Proposed Services</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_Additional_Details</name>
            <fieldText>Additional Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Additional_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Engagement_Narrative</name>
                    <fieldText>Engagement Narrative</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Copy_Is_the_entity_owned_in_whole_or_in_part_by_one_or_more_private_Equity</name>
                    <choiceReferences>OwnedInWholeOrInPartByPEVC</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is the entity owned in whole or in part by one or more private Equity / venture capital (PE/VC) Group(s)?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Copy_1_of_VendorRelationship</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>What type of Vendor relationship, do you want to reported</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>RCC__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>VendorRelationshipToBeReported__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Copy_1_of_In_case_of_domestic_relationship_check_how_far_back_in_time_do_you_wan</name>
                    <dataType>Date</dataType>
                    <fieldText>In case of domestic relationship check, how far back in time do you want relationship to be reported</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Additional_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_EntitysWebsiteorURL</name>
                    <extensionName>flowruntime:url</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Entity&apos;s Website or URL</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Copy_1_of_In_case_of_IRC_What_type_of_response_is_required</name>
                    <choiceReferences>ResponseRequiredInCaseOfIRC</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>In case of IRC. What type of response is required?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Does_the_Entity_have_International_Operations</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Copy_In_case_of_an_IRC_how_far_back_in_time_do_you_want_relationship_to_be</name>
                    <dataType>Date</dataType>
                    <fieldText>In case of an IRC, how far back in time do you want relationship to be reported</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Does_the_Entity_have_International_Operations</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Copy_1_of_In_case_public_audit_service_is_not_proposed_please_explain_the_reason</name>
                    <fieldText>In case, public audit service is not proposed, please explain the reason for selected - whether or not</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Does_the_Entity_have_International_Operations</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_Entity_Industry_or_Industries</name>
            <fieldText>Entity Industry or Industries</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Entity_Industry_or_Industries_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_What_is_the_entity_s_local_industry_if_different_than_global_industry</name>
                    <fieldText>What is the entity&apos;s local industry (if different than global industry sectors)?</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Copy_In_case_of_an_IRC_do_you_want_the_responding_firm_s_to_circulate_this</name>
                    <choiceReferences>CirculateThisCheckToPartnersYN</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>In case of an IRC, do you want the responding firm(s) to circulate this check to all their partners?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Does_the_Entity_have_International_Operations</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Copy_1_of_Remarks</name>
                    <fieldText>Remarks</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Required only if &lt;strong&gt;Category Of Proposed&lt;/strong&gt; Services is Selected &apos;&lt;strong&gt;Other&lt;/strong&gt;&apos;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!CategoryOfProposedServiceOther}</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Category_of_Proposed_Services</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Other</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Entity_Industry_or_Industries_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_What_are_the_total_estimated_fees_US_for_the_client_engagement</name>
                    <choiceReferences>TotalEstimatedFees</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>What are the total estimated fees, ($US) for the client engagement</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Does_the_Entity_have_International_Operations</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Copy_Should_the_entity_be_added_to_the_Restricted_List_to_comply_with_SEBI</name>
                    <choiceReferences>IsEntityAddedInRestrictedList</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Should the entity be added to the Restricted List to comply with SEBI (Prohibition of Insider Trading) Regulations, 2015?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Copy_1_of_GlobalMarketSegment</name>
                    <choiceReferences>GlobalMarketSegments</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Global Market Segments</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Copy_1_of_Global_Industry_Sectors</name>
                    <choiceReferences>GlobalIndustrySectors</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Global Industry Sectors</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_RCC_Circulation</name>
            <fieldText>RCC Circulation</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_RCC_Circulation_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Expiry_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Expiry Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_RCC_Circulation_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Circulation_Group</name>
                    <choiceReferences>CirculationGroup</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Circulation Group</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_RCC</name>
        <label>Create RCC</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Create_RCC_Record</targetReference>
        </connector>
        <fields>
            <name>Structure_Information</name>
            <fieldText>Structure Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Structure_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NameOfEntityReadOnly</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 0, 30); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;*&lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; Name Of Entity &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;{!Get_Enquiry_Record.Account.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>If_expertise_is_Audit_select_the_type_of_Appointment</name>
                    <choiceReferences>IfExpAuditSelectTypeOfAppointment</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>If expertise is Audit, select the type of Appointment</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Enquiry_Record.Expertise__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Audit</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Name_Of_The_Immediate_Holding_Company</name>
                    <dataType>String</dataType>
                    <fieldText>Name Of The Immediate Holding Company</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;strong&gt;Read Only&lt;/strong&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!NameOfImmediateHoldingReadOnly}</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Name_Of_The_Immediate_Holding_Company</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Client_Contact</name>
                    <choiceReferences>ClientContacts</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Client Contact</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Does_the_Entity_have_International_Operations</name>
                    <choiceReferences>InternationalOperations</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Yes</stringValue>
                    </defaultValue>
                    <fieldText>Does the Entity have International Operations</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;International operations mean all of a companys operating locations of business that exist in other countries, including locations of all related entities. Operating locations include administrative, sales, retail, ser-vice, manufacturing, assembly, distribution or warehouse facilities&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Structure_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ExpertiseReadOnly</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(234, 0, 30);&quot;&gt;*&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; Expertise &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Enquiry_Record.Expertise__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Existing_Client</name>
                    <choiceReferences>ExistingClient</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Yes</stringValue>
                    </defaultValue>
                    <fieldText>Existing Client</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Name_Of_The_Global_Ultimate_Parent</name>
                    <dataType>String</dataType>
                    <fieldText>Name Of The Global Ultimate Parent</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Entity_s_Location_Country</name>
                    <choiceReferences>EntitysLocation</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Entity&apos;s Location (Country)</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Proposed_Service_Relationship</name>
            <fieldText>Proposed Service / Relationship</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Proposed_Service_Relationship_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Category_of_Proposed_Services</name>
                    <choiceReferences>CategoryofProposedServices</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Category Of Proposed Services</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Audit_Assurance_Sub_Category</name>
                    <choiceReferences>AuditAssuranceSubCategory</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Audit &amp; Assurance Sub Category</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Category_of_Proposed_Services</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Audit &amp; Assurance</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>auditAssuranceTaxonomyTemplate</name>
                    <extensionName>c:auditAssuranceTaxonomyTemplate</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>AuditAssuranceSubCategory</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Audit and/or Review of Financial Statements</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Audit_Sub_Category</name>
                    <choiceReferences>AuditSubCategory</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Audit Sub Category</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Audit_Assurance_Sub_Category</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Audit and/or Review of Financial Statements</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Country_of_Financial_Exchange</name>
                    <choiceReferences>CountryofFinancialExchange</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Country of Financial Exchange</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Audit_Sub_Category</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Public Entity</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Name_of_Financial_Exchange</name>
                    <fieldText>Name of Financial Exchange</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Audit_Sub_Category</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Public Entity</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Engagement_Type</name>
                    <choiceReferences>EngagementType</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Engagement Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Audit_Sub_Category</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Private Entity</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Engagement_TypePublic</name>
                    <choiceReferences>EngagementTypePublic</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Engagement Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Audit_Sub_Category</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Public Entity</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Is_the_audit_service_engagement</name>
                    <choiceReferences>IsTheAuditSECRegistrant</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is the audit service engagement for an SEC registrant?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Audit_Sub_Category</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Public Entity</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>AssuranceTaxonomyTemplate</name>
                    <extensionName>c:assuranceTaxonomyTemplate</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Audit_Assurance_Sub_Category</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Other Assurance services</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Assurance_Sub_Category</name>
                    <choiceReferences>AssuranceSubCategory</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Assurance Sub Category</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Audit_Assurance_Sub_Category</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Other Assurance services</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Engagement_TypeAssurance</name>
                    <choiceReferences>EngagementTypeAssurance</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Engagement Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Assurance_Sub_Category</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Private Entity</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Assurance_Sub_Category</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Public Entity</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Country_of_Financial_ExchangeAssurance</name>
                    <choiceReferences>CountryOfFinancialExchangeAssurance</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Country of Financial Exchange</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Assurance_Sub_Category</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Public Entity</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Name_of_Financial_ExchangeAssurance</name>
                    <dataType>String</dataType>
                    <fieldText>Name of Financial Exchange</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Assurance_Sub_Category</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Public Entity</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Is_the_assurance_service_engagement_for_an_SEC_registrantAssurance</name>
                    <choiceReferences>IstheassuranceserviceengagementforanSECregistrantAssurance</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is the assurance service engagement for an SEC registrant?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Assurance_Sub_Category</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Public Entity</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>FinancialReportingAdvisoryTemplate</name>
                    <extensionName>c:financialTaxonomyTemplate</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Audit_Assurance_Sub_Category</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Financial reporting advisory</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Others_Services_Please_describe</name>
                    <dataType>String</dataType>
                    <fieldText>Others Services (Please describe)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Audit_Assurance_Sub_Category</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Others Services (Please describe)</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>OtherServicesTaxonomyTemplate</name>
                    <extensionName>c:otherServicesTaxonomyTemplate</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Audit_Assurance_Sub_Category</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Others Services (Please describe)</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Non_Audit_Sub_Category</name>
                    <choiceReferences>NonAuditAdvisorySubCategory</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Non-Audit Sub Category</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Category_of_Proposed_Services</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Non-Audit</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>AdvisoryServiceLineTaxonomyTemplate</name>
                    <extensionName>c:advisoryServiceLineTaxonomy</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Non_Audit_Sub_Category</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Advisory</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Advisory_Sub_Category</name>
                    <choiceReferences>AdvisorySubCategory</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Advisory Sub Category</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Non_Audit_Sub_Category</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Advisory</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Business_Risk_Services</name>
                    <choiceReferences>BusinessRiskServices</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Business Risk Services</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Advisory_Sub_Category</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Business risk services</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Business_Consulting_Services</name>
                    <choiceReferences>BusinessConsultingServices</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Business Consulting Services</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Advisory_Sub_Category</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Business consulting services</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Business_Process_Solutions</name>
                    <choiceReferences>BusinessProcessSolutions</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Business Process Solutions</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Advisory_Sub_Category</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Business Process Solutions</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Forensic_Investigations</name>
                    <choiceReferences>ForensicInvestigations</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Forensic Investigations</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Advisory_Sub_Category</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Forensic investigations</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Adverse_PartyForensic</name>
                    <dataType>String</dataType>
                    <fieldText>Adverse Party</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Forensic_Investigations</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Disputes</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Forensic_Investigations</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Forensic Investigations</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Forensic_Investigations</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Digital forensics</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Forensic_Investigations</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Cybercrime</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Forensic_Investigations</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Anti-financial crime advisory/corporate compliance</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Forensic_Investigations</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Accounting irregularity/misconduct</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Forensic_Investigations</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Corporate intelligence</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>LocationForensic</name>
                    <dataType>String</dataType>
                    <fieldText>Location</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Forensic_Investigations</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Corporate intelligence</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Forensic_Investigations</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Accounting irregularity/misconduct</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Forensic_Investigations</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Anti-financial crime advisory/corporate compliance</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Forensic_Investigations</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Cybercrime</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Forensic_Investigations</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Digital forensics</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Forensic_Investigations</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Forensic Investigations</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Forensic_Investigations</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Disputes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Recovery_and_Reorganisation</name>
                    <choiceReferences>RecoveryReorganisation</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Recovery and Reorganisation</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Advisory_Sub_Category</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Recovery and Reorganisation</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Adverse_PartyRecovery</name>
                    <dataType>String</dataType>
                    <fieldText>Adverse Party</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Recovery_and_Reorganisation</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Recovery &amp; reorganization type - Debt advisory</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Recovery_and_Reorganisation</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Recovery &amp; reorganization type - Insolvency</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Recovery_and_Reorganisation</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Recovery &amp; reorganization type - Restructuring</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Location_Recovery</name>
                    <dataType>String</dataType>
                    <fieldText>Location Recovery</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Recovery_and_Reorganisation</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Recovery &amp; reorganization type - Restructuring</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Recovery_and_Reorganisation</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Recovery &amp; reorganization type - Insolvency</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Recovery_and_Reorganisation</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Recovery &amp; reorganization type - Debt advisory</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Transaction_Services</name>
                    <choiceReferences>TransactionServices</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Transaction Services</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Advisory_Sub_Category</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Transaction services</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Target_Entity_Adverse_PartyTransaction</name>
                    <dataType>String</dataType>
                    <fieldText>Target Entity/ Adverse Party</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Transaction_Services</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Transaction type - M&amp;A advisory</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Transaction_Services</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Transaction type - Capital markets</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Transaction_Services</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Transaction type - Financial due diligence</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Transaction_Services</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Transaction type - Operational deal services</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Transaction_Services</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Transaction type - Valuations</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Transaction_Services</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Transaction type - Commercial and strategic intelligence</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>LocationTransaction</name>
                    <dataType>String</dataType>
                    <fieldText>Location</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Transaction_Services</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Transaction type - Commercial and strategic intelligence</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Transaction_Services</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Transaction type - Valuations</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Transaction_Services</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Transaction type - Operational deal services</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Transaction_Services</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Transaction type - Financial due diligence</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Transaction_Services</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Transaction type - Capital markets</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Transaction_Services</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Transaction type - M&amp;A advisory</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Provision_of_Audit_Training_Accountancy_and_Software_Training</name>
                    <choiceReferences>ProvisionOfAuditAccountancySoftwareTraining</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Provision of Audit Training, Accountancy and Software Training</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Advisory_Sub_Category</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Provision of audit training, accountancy and software training</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Company_Formation_Secretarial_Registration_and_Directorship_Services</name>
                    <choiceReferences>CompanyFormationSecretarialServices</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Company Formation, Secretarial Registration and Directorship Services</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Advisory_Sub_Category</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Company formation, secretarial registration and directorship services</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Legal_Services</name>
                    <choiceReferences>LegalServices</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Legal Services</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Advisory_Sub_Category</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Legal services</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Other_advisory_services_Please_describe</name>
                    <dataType>String</dataType>
                    <fieldText>Other advisory services</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Advisory_Sub_Category</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Other advisory services (Please describe)</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Adverse_PartyLegal</name>
                    <dataType>String</dataType>
                    <fieldText>Adverse Party</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Legal_Services</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Legal Services</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>LocationLegal</name>
                    <dataType>String</dataType>
                    <fieldText>Location</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Legal_Services</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Legal Services</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Business_Relationship_Sub_Category</name>
                    <choiceReferences>BusinessRelationshipSubCategory</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Business Relationship Sub-Category</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Category_of_Proposed_Services</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Business relationship</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Please_provide_a_description_of_the_proposed_business_relationship</name>
                    <dataType>String</dataType>
                    <fieldText>Please provide a description of the proposed business relationship</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Category_of_Proposed_Services</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Business relationship</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Is_the_business_relationship_an_arm_s_length_transaction_and_in_the_normal_cours</name>
                    <choiceReferences>Normalcourseforfirmandvendor</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is the business relationship an arm&apos;s length transaction and in the normal course of business for your firm and the vendor?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Category_of_Proposed_Services</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Business relationship</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>TaxServiceLineTaxonomy</name>
                    <extensionName>c:taxServiceLineTaxonomy</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Non_Audit_Sub_Category</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Tax Services</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Additional_Details</name>
            <fieldText>Additional Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Additional_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Engagement_Narrative</name>
                    <fieldText>Engagement Narrative</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;Please provide specific details in the form of a short summary on the nature of the engagement relationship, including the scope of services to be provided.&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Is_the_entity_owned_in_whole_or_in_part_by_one_or_more_private_Equity_venture_ca</name>
                    <choiceReferences>OwnedInWholeOrInPartByPEVC</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is the entity owned in whole or in part by one or more private Equity / venture capital (PE/VC) Group(s)?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;Ownership in whole means a complete control and an ownership in part means a significant influence i.e. above 20% and less than 100%. When &amp;lt;20% ownership interest exists, engagement teams should evaluate the following qualitative factor to determine if significant influence exists :&lt;/p&gt;&lt;p&gt; representation of the board of directors&lt;/p&gt;&lt;p&gt; significant intercompany transactions or technology dependency&amp;nbsp;&lt;/p&gt;&lt;p&gt; interchange of managerial personnel&amp;nbsp;&lt;/p&gt;&lt;p&gt; participation of the policy making process&lt;/p&gt;&lt;p&gt; extent of ownership by an investor in relation to the concentration of the other shareholder.&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Please_identify_the_PE_VC_group_s_here_and_include_them_as_a_related_entity_on_t</name>
                    <dataType>String</dataType>
                    <fieldText>Please identify the PE/VC group(s) here and include them as a related entity on the family tree tab</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_the_entity_owned_in_whole_or_in_part_by_one_or_more_private_Equity_venture_ca</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes, the entity is owned by a PE/VC group</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Please_identify_the_PE_VC_and_include_them_as_a_related_entity_on_t1</name>
                    <dataType>String</dataType>
                    <fieldText>Please identify the PE/VC group(s) here and include them as a related entity on the family tree tab</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_the_entity_owned_in_whole_or_in_part_by_one_or_more_private_Equity_venture_ca</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes, the entity is owned by a PE/VC group</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>In_case_of_IRC_What_type_of_response_is_required</name>
                    <choiceReferences>ResponseRequiredInCaseOfIRC</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>In case of IRC. What type of response is required?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;Except when audit services are proposed to a publicly listed client, responses should be required only if there are relationships to report. However, whether or not option may be selected for any type of service, with explanation for it in the space provided below.&lt;/p&gt;&lt;p&gt;Please explain the reason for selecting &apos;whether or not&apos; option, in case of other than audit services proposed to&amp;nbsp;publicly listed clients.&amp;nbsp;&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Does_the_Entity_have_International_Operations</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>In_case_of_an_IRC_how_far_back_in_time_do_you_want_relationship_to_be_reported</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>DateBefore1Year</elementReference>
                    </defaultValue>
                    <fieldText>In case of an IRC, how far back in time do you want relationship to be reported</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;The default length of time for all IRCs is one year back, from the date the IRC is created. If needed, the engagement team may select a more extensive lookback date.&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Does_the_Entity_have_International_Operations</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>What_type_of_Vendor_relationship_do_you_want_to_reported</name>
                    <choiceReferences>VendorRelationshipToBeReported</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>What type of Vendor relationship, do you want to report</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;When audit service is proposed, teams should request the reporting of all vendor relationships, regardless of the level of significance. When a non-audit service is proposed, teams should request the reporting of vendor relationships only if they are significant either to the vendor or to the firm.&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Additional_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EntitysWebsiteorURL</name>
                    <extensionName>flowruntime:url</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Entity&apos;s Website or URL</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Please_identify_include_them_as_a_related_entity_on_t2</name>
                    <dataType>String</dataType>
                    <fieldText>Please identify the PE/VC group(s) here and include them as a related entity on the family tree tab</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_the_entity_owned_in_whole_or_in_part_by_one_or_more_private_Equity_venture_ca</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes, the entity is owned by a PE/VC group</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Please_identify_the_PE_VC_group_s_here_and_include_related_entity_on_t3</name>
                    <dataType>String</dataType>
                    <fieldText>Please identify the PE/VC group(s) here and include them as a related entity on the family tree tab</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_the_entity_owned_in_whole_or_in_part_by_one_or_more_private_Equity_venture_ca</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes, the entity is owned by a PE/VC group</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>In_case_public_audit_service_is_not_proposed_please_explain_the_reason_for_selec</name>
                    <fieldText>In case, public audit service is not proposed, please explain the reason for selected - whether or not</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Does_the_Entity_have_International_Operations</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>In_case_of_IRC_What_type_of_response_is_required</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Responses required, whether or not relationships are identified</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>In_case_of_domestic_relationship_check_how_far_back_in_time_do_you_want_relation</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>DateBefore3Year</elementReference>
                    </defaultValue>
                    <fieldText>In case of domestic relationship check, how far back in time do you want relationship to be reported</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;The default length of time for all DRCs is three years back, from the date the IRC is created. If needed, the engagement team may select a more extensive lookback date.&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Entity_Industry_or_Industries</name>
            <fieldText>Entity Industry or Industries</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Entity_Industry_or_Industries_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>What_is_the_entity_s_local_industry_if_different_than_global_industry_sectors</name>
                    <fieldText>What is the entity&apos;s local industry (if different than global industry sectors)?</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>In_case_of_an_IRC_do_you_want_the_responding_firm_s_to_circulate_this_check_to_a</name>
                    <choiceReferences>CirculateThisCheckToPartnersYN</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>In case of an IRC, do you want the responding firm(s) to circulate this check to all their partners?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;Select yes only if the check needs to be circulated to all the responding member firm partners (s) to gain details outside of what is available in the firm databases. Only when an audit, forensic and litigation services are proposed, it is advised to select Yes.&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Does_the_Entity_have_International_Operations</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Remarks</name>
                    <fieldText>Remarks</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Required only if &lt;strong&gt;Category Of Proposed&lt;/strong&gt; Services is Selected &apos;&lt;strong&gt;Other&lt;/strong&gt;&apos;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!CategoryOfProposedServiceOther}</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Category_of_Proposed_Services</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Other</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Entity_Industry_or_Industries_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>What_are_the_total_estimated_fees_US_for_the_client_engagement</name>
                    <choiceReferences>TotalEstimatedFees</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>What are the total estimated fees, ($US) for the client engagement</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Does_the_Entity_have_International_Operations</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Should_the_entity_be_added_to_the_Restricted_List_to_comply_with_SEBI_Prohibitio</name>
                    <choiceReferences>IsEntityAddedInRestrictedList</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Should the entity be added to the Restricted List to comply with SEBI (Prohibition of Insider Trading) Regulations, 2015?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>GlobalMarketSegment</name>
                    <choiceReferences>GlobalMarketSegments</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Global Market Segments</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Global_Industry_Sectors</name>
                    <choiceReferences>GlobalIndustrySectors</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Global Industry Sectors</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>RCC_Circulation</name>
            <fieldText>RCC Circulation</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>RCC_Circulation_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Expiry_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Expiry Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>RCC_Circulation_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Circulation_Group</name>
                    <choiceReferences>CirculationGroup</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Circulation Group</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Engagement_Partner_And_Engagement_Leader_In_Pursuit</name>
            <fieldText>Engagement Partner And Engagement Leader In Pursuit</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Engagement_Partner_And_Engagement_Leader_In_Pursuit_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EngagementPartner1</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>EngagementPartner__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Engagement Partner</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>RCC__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Engagement_Partner_And_Engagement_Leader_In_Pursuit_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EngagementLeader1</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>EngagementLeader__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Engagement Leader</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>RCC__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>StructureInformation</name>
            <fieldText>Structure Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>StructureInformation_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>contactListView</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Contact</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>DIRECTORS AND KEY MANAGERIAL PERSONNEL</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Contact_Records</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-e76c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Full Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Designation__c&quot;,&quot;guid&quot;:&quot;column-d3a7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Designation&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>SubsidiariesListView</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Subsidiary__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>SUBSIDIARIES</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Subsidiary_Record</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-e7be&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Subsidiary Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Client__c&quot;,&quot;guid&quot;:&quot;column-e5c0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Client&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>JointVenturesAssociatesListView</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Joint_Venture__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>JOINT VENTURES/ ASSOCIATES</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Joint_Venture_Record</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-6b08&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Joint Venture Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Client__c&quot;,&quot;guid&quot;:&quot;column-7e7f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Client&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Engagement_Team_Approval_CommentsForClient</name>
        <label>Engagement Team Approval Comments</label>
        <locationX>2162</locationX>
        <locationY>1358</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RCC_Approval_To_Engagement_Team</targetReference>
        </connector>
        <fields>
            <name>Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Engagement_Team_Approval_CommentsForEnquiry</name>
        <label>Engagement Team Approval Comments</label>
        <locationX>578</locationX>
        <locationY>1358</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Engagement_Team_Approval_For_RCC</targetReference>
        </connector>
        <fields>
            <name>CommentsForEnquiry</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <helpText>&lt;p&gt;Submit For Engagement Team Approval Request.&lt;/p&gt;</helpText>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fault_Handler_Screen</name>
        <label>Fault Handler Screen</label>
        <locationX>1370</locationX>
        <locationY>1238</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Header_FaultHandlerScreen</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(250, 3, 3); font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;Request could not be Processed&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Message_FaultHandlerScreen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Your request could not be processed due to the following Error:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Back to Enquiry</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RCC_Passed_For_ClientScreen</name>
        <label>RCC Passed For Client</label>
        <locationX>1634</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_2_of_RCCStatus</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!RCCStatusBodyClient}&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RCCPassed</name>
        <label>RCC Passed</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>RCCStatus</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;{!RCCStatusBody}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1161</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Enquiry_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>AuditTaxonomyTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;color: rgb(19, 19, 231); font-size: 18px;&quot;&gt;AUDIT TAXONOMY&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;An audit engagement is an assurance engagement to provide a high level of assurance that financial statements are free of material misstatement, such as an engagement in accordance with International Standards on Auditing. This includes a statutory audit which is an audit required by national legislation or other regulation.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>RCCStatusBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;RCC Already Completed&lt;/strong&gt; &lt;span style=&quot;font-size: 16px;&quot;&gt;on {!Get_Existing_RCC_Record_For_Current_Enquiry.CreatedDate}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>RCCStatusBodyClient</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;RCC Already Completed&lt;/strong&gt; &lt;span style=&quot;font-size: 16px;&quot;&gt;on {!RCC_Record_For_Client_Found.CreatedDate}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>ClientExpertiseValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EnquiryExpertiseValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EnquiryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
