force-app/main/default/flows/General_Purpose_Convert_a_String_Collection_to_Multi_Picklist_Expression.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_String_Collection_for_Conversion</name>
        <label>Assign String Collection for Conversion</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>StringCollectionForConversion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StringCollectionReceivedForConversion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sort_String_Collection_for_Conversion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_String_Value_Converted</name>
        <label>Assign String Value Converted</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>StringValueConverted</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Sorted_String_Collection_for_Conversion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StringValueConverted</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Sorted_String_Collection_for_Conversion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_String_Value_Converted_for_Output</name>
        <label>Assign String Value Converted for Output</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <assignmentItems>
            <assignToReference>StringValueConverted</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StringValueConvertedFormater</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <collectionProcessors>
        <name>Sort_String_Collection_for_Conversion</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort String Collection for Conversion</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>StringCollectionForConversion</collectionReference>
        <connector>
            <targetReference>Loop_Sorted_String_Collection_for_Conversion</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <environments>Default</environments>
    <formulas>
        <name>StringValueConvertedFormater</name>
        <dataType>String</dataType>
        <expression>IF
(
	RIGHT({!StringValueConverted},1) = &apos;;&apos;,
	LEFT({!StringValueConverted},(LEN({!StringValueConverted})-1)),
	{!StringValueConverted}
)</expression>
    </formulas>
    <interviewLabel>General Purpose | Convert a String Collection to Multi Picklist Expression {!$Flow.CurrentDateTime}</interviewLabel>
    <label>General Purpose | Convert a String Collection to Multi Picklist Expression</label>
    <loops>
        <name>Loop_Sorted_String_Collection_for_Conversion</name>
        <label>Loop Sorted String Collection for Conversion</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <collectionReference>StringCollectionForConversion</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_String_Value_Converted</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_String_Value_Converted_for_Output</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_String_Collection_for_Conversion</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>StringCollectionForConversion</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StringCollectionReceivedForConversion</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StringValueConverted</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
