force-app/main/default/flows/Industries_For_Digital_Channels_for_chat_bot.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assignment_for_industries</name>
        <label>Assignment for industries</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>industriesForDigitalchannelsAgain</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_industry_Field_Assignment.Value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_industry_Field_Assignment</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Industries For Digital Channels for chat bot {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Industries For Digital Channels for chat bot</label>
    <loops>
        <name>Loop_industry_Field_Assignment</name>
        <label>Loop industry Field Assignment</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>industries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_for_industries</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>industries</name>
        <label>industries</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_industry_Field_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead.Industry</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PicklistValueInfo</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Value</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>industries</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>industriesForDigitalchannelsAgain</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
