force-app/main/default/flows/Lead_New_Client_Quip_Document_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_a_Quip_Document</name>
        <label>Create a Quip Document</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <actionName>createQuipDocumentNotFound</actionName>
        <actionType>createQuipDocument</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>memberEmails</name>
            <value>
                <stringValue>nishant1.s@techmatrixconsulting.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>documentTitle</name>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>documentType</name>
            <value>
                <stringValue>Document</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>memberFolderUrls</name>
            <value>
                <elementReference>VarT_FolderId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>VarT_QuipLink</assignToReference>
            <name>documentLink</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Create_a_Quip_Folder</name>
        <label>Create a Quip Folder</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <actionName>createQuipFolderNotFound</actionName>
        <actionType>createQuipFolder</actionType>
        <connector>
            <targetReference>Create_a_Quip_Document</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>folderTitle</name>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>VarT_FolderId</assignToReference>
            <name>folderId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Lead | New Client - Quip Document Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead | New Client - Quip Document Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_a_Quip_Folder</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>VarT_FolderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarT_QuipLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
