force-app/main/default/flows/Lead_New_Client_Update_Professional_Services_V.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Single_value_from_Expertise_MPL</name>
        <label>Add Single value from Expertise MPL</label>
        <locationX>842</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>Expertise_SingleValue_UFP</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expertise_SingleValueFormula_UFP</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Expertise_SelectedValueCollection_UFP</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Expertise_SingleValue_UFP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reset_Expertise_SelectedValue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Collection</name>
        <label>Assign Collection</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Get_Expertise_Records_Filtered</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Get_Expertise_Records_All</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Expertise_Records_Filtered</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Expertise_Records_All</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Input_Screen_Expertise</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Expertise_Selected_For_Parsing</name>
        <label>Assign Expertise Selected For Parsing</label>
        <locationX>446</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>Expertise_SelectedValue_UFP</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expertise_MPL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Expertise_SelectedValue_UFP</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Expertise_SelectedValue_Blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Expertise_SelectedValue</name>
        <label>Reset Expertise SelectedValue</label>
        <locationX>842</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>Expertise_SelectedValue_UFP</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expertise_SelectedValue_Updated_UFP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Is_Expertise_SelectedValue_Blank</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Expertise_SelectedValue_Blank</name>
        <label>Is Expertise SelectedValue Blank?</label>
        <locationX>446</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>Add_Single_value_from_Expertise_MPL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Blank - No</defaultConnectorLabel>
        <rules>
            <name>Blank_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Expertise_SelectedValue_UFP</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Sub_Expertise</targetReference>
            </connector>
            <label>Blank - Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_selected_Solution_Other</name>
        <label>Is selected Solution Other?</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Get_Expertise_Records_Filtered</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other - No</defaultConnectorLabel>
        <rules>
            <name>Other_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSolutionLOVSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Expertise_Records_All</targetReference>
            </connector>
            <label>Other - Yes</label>
        </rules>
    </decisions>
    <description>Update through Custom Metadata</description>
    <dynamicChoiceSets>
        <name>Expertise_Selection_LOV_MPL</name>
        <collectionReference>Get_Expertise_Records_Filtered</collectionReference>
        <dataType>String</dataType>
        <displayField>LOV__c</displayField>
        <object>ExpertisePL__c</object>
        <valueField>LOV__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SubExpertise_Selection_LOV_MPL</name>
        <collectionReference>Get_Sub_Expertise</collectionReference>
        <dataType>String</dataType>
        <displayField>LOV__c</displayField>
        <object>SubExpertisePL__c</object>
        <valueField>LOV__c</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Expertise_SelectedValue_Updated_UFP</name>
        <dataType>String</dataType>
        <expression>TRIM
(
	SUBSTITUTE( {!Expertise_SelectedValue_UFP},{!Expertise_SingleValue_UFP}+&quot;;&quot;,&quot;&quot;)
)</expression>
    </formulas>
    <formulas>
        <name>Expertise_SingleValueFormula_UFP</name>
        <dataType>String</dataType>
        <expression>TRIM
(                                                                                                         
	SUBSTITUTE(LEFT( {!Expertise_SelectedValue_UFP} , FIND(&quot;;&quot;,  {!Expertise_SelectedValue_UFP} )),&quot;;&quot;,&quot;&quot;)
)</expression>
    </formulas>
    <interviewLabel>Lead | New Client - Update Professional Services_V {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead | New Client - Update Professional Services_V</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Expertise_Records_All</name>
        <label>Get Expertise Records - All</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LOV__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ExpertisePL__c</object>
        <sortField>LOV__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Expertise_Records_Filtered</name>
        <label>Get Expertise Records - Filtered</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Input_Screen_Expertise</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SolutionLOV__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSolutionLOVSelected</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ExpertisePL__c</object>
        <sortField>LOV__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Input_Screen_Sector_Solution</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sub_Expertise</name>
        <label>Get Sub Expertise</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Input_Screen_Sub_Expertise</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Handler_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ExpertiseLOV__c</field>
            <operator>In</operator>
            <value>
                <elementReference>Expertise_SelectedValueCollection_UFP</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SubExpertisePL__c</object>
        <sortField>LOV__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>50</locationX>
        <locationY>1454</locationY>
        <faultConnector>
            <targetReference>Fault_Handler_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Expertise_For_POC__c</field>
            <value>
                <elementReference>Expertise_MPL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sector__c</field>
            <value>
                <elementReference>varSectorLOVSelected</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SolutionOther__c</field>
            <value>
                <elementReference>SolutionOther</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Solution__c</field>
            <value>
                <elementReference>varSolutionLOVSelected</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Expertise_For_POC__c</field>
            <value>
                <elementReference>SubExpertise_MPL</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Fault_Handler_Screen</name>
        <label>Fault Handler Screen</label>
        <locationX>314</locationX>
        <locationY>1574</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Header_FaultHandlerScreen</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(250, 3, 3); font-size: 18px;&quot;&gt;Request could not be Processed&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Message_FaultHandlerScreen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Your request could not be processed due to the following Error:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Back to New Client</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Input_Screen_Expertise</name>
        <label>Input Screen | Expertise</label>
        <locationX>446</locationX>
        <locationY>854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Expertise_Selected_For_Parsing</targetReference>
        </connector>
        <fields>
            <name>Input_Screen_Expertise_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Input_Screen_Expertise_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Label_SolutionSelected</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Solution&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Value_SolutionSelected</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!varSolutionLOVSelected}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>SolutionOther</name>
            <dataType>String</dataType>
            <fieldText>Please provide additional information about the Solution</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varSolutionLOVSelected</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Other</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Expertise_MPL</name>
            <choiceReferences>Expertise_Selection_LOV_MPL</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Lead.Expertise_For_POC__c</elementReference>
            </defaultValue>
            <fieldText>Please select the relevant Expertise</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>(1 AND 2) OR 3</conditionLogic>
                <conditions>
                    <leftValueReference>varSolutionLOVSelected</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Other</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>SolutionOther</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varSolutionLOVSelected</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Other</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Input_Screen_Sector_Solution</name>
        <label>Input Screen | Sector &amp; Solution</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_selected_Solution_Other</targetReference>
        </connector>
        <fields>
            <name>Sector_Solution_DPL</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Lead</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Sector__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Solution__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Please select the Sector</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Please select the Solution</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>Get_Lead.Sector__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <elementReference>Get_Lead.Solution__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varSectorLOVSelected</assignToReference>
                <name>topValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varSolutionLOVSelected</assignToReference>
                <name>middleValue</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Input_Screen_Sub_Expertise</name>
        <label>Input Screen | Sub Expertise</label>
        <locationX>50</locationX>
        <locationY>1334</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
        <fields>
            <name>Input_Screen_Sub_Expertise_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Input_Screen_Sub_Expertise_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Label_InputSC_SE_SolutionSelected</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Solution&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Value_InputSC_SE_SolutionSelected</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!varSolutionLOVSelected}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Input_Screen_Sub_Expertise_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Label_InputSC_SE_ExpertiseSelected</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Expertise&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Value_InputSC_SE_ExpertiseSelected</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!Expertise_MPL}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>SubExpertise_MPL</name>
            <choiceReferences>SubExpertise_Selection_LOV_MPL</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Lead.Sub_Expertise_For_POC__c</elementReference>
            </defaultValue>
            <fieldText>Please select the relevant Sub Expertise</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Lead</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Expertise_SelectedValue_UFP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Expertise_SelectedValueCollection_UFP</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Expertise_SingleValue_UFP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSectorLOVSelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSolutionLOVSelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
