force-app/main/default/flows/Lead_New_Client_Manage_Sector_Solution_Expertise_and_Sub_Expertise.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Looped_Consolidated_Expertise_Record</name>
        <label>Assign Looped Consolidated Expertise Record</label>
        <locationX>270</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>ExpertiseRecordsConsolidatedDeDuped</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Loop_Consolidated_Expertise_Records.LOV__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpertiseRecordsConsolidatedDeDuped</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Consolidated_Expertise_Records.LOV__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Consolidated_Expertise_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Looped_Sub_Expertise_Record</name>
        <label>Assign Looped Sub Expertise Record</label>
        <locationX>270</locationX>
        <locationY>2150</locationY>
        <assignmentItems>
            <assignToReference>SubExpertiseRecordsDeDuped</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Loop_Sub_Expertise_Records.LOV__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubExpertiseRecordsDeDuped</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Sub_Expertise_Records.LOV__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Sub_Expertise_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sector_and_Solution_Value</name>
        <label>Assign Sector and Solution Value</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>varSectorLOVSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewClientSector</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSolutionLOVSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.Solution__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_selected_Solution_Other</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Consolidate_Expertise_Records</name>
        <label>Consolidate Expertise Records</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>ExpertiseRecordsConsolidated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Expertise_Records_Filtered</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpertiseRecordsConsolidated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Expertise_Records_All</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpertiseRecordsConsolidated</assignToReference>
            <operator>RemoveAll</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Consolidated_Expertise_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Current_Stage_to_Step_2</name>
        <label>Set Current Stage to Step 2</label>
        <locationX>182</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Step_2_Expertise</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Input_Screen_Expertise</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Current_Stage_to_Step_3</name>
        <label>Set Current Stage to Step 3</label>
        <locationX>182</locationX>
        <locationY>2486</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Step_3_Sub_Expertise</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Input_Screen_Sub_Expertise</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_selected_Solution_Other</name>
        <label>Is selected Solution Other?</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Get_Expertise_Records_Filtered</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other - No</defaultConnectorLabel>
        <rules>
            <name>Other_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSolutionLOVSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other solutions</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Expertise_Records_All</targetReference>
            </connector>
            <label>Other - Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_client_Status_is_Internal_External_Discussions</name>
        <label>New client Status is Internal / External Discussions?</label>
        <locationX>644</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Stop_Process</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>1 AND (2 Or 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal / External Discussions</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckRecordOwnerandCurrentUserIsSame</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>User_is_System_Admin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Input_Screen_Sector_Solution</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This screen flow is used to drive the custom functionality for managing the dependency between the 4 Picklists on the Lead object, namely Sector (Single Picklist), Solution (Single Picklist), Expertise (Multi Picklist), and Sub Expertise (Multi Picklist).</description>
    <dynamicChoiceSets>
        <name>Expertise_Selection_LOV_MPL</name>
        <collectionReference>Get_Expertise_Records_Filtered</collectionReference>
        <dataType>String</dataType>
        <displayField>LOV__c</displayField>
        <object>ExpertisePL__c</object>
        <valueField>LOV__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SectorValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sector__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SolutionValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Solution__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SubExpertise_Selection_LOV_MPL</name>
        <collectionReference>Get_Sub_Expertise</collectionReference>
        <dataType>String</dataType>
        <displayField>LOV__c</displayField>
        <object>SubExpertisePL__c</object>
        <valueField>LOV__c</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CheckRecordOwnerandCurrentUserIsSame</name>
        <dataType>Boolean</dataType>
        <expression>{!$User.Username}={!Get_Lead.Owner:User.Username}</expression>
    </formulas>
    <formulas>
        <name>NewClientSector</name>
        <dataType>String</dataType>
        <expression>TEXT({!Get_Lead.Sector__c})</expression>
    </formulas>
    <formulas>
        <name>User_is_System_Admin</name>
        <dataType>Boolean</dataType>
        <expression>{!$Profile.Name} = &apos;System Administrator&apos;</expression>
    </formulas>
    <interviewLabel>Lead | New Client - Manage Sector, Solution, Expertise and Sub-Expertise {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead | New Client - Manage Sector, Solution, Expertise and Sub-Expertise</label>
    <loops>
        <name>Loop_Consolidated_Expertise_Records</name>
        <label>Loop Consolidated Expertise Records</label>
        <locationX>182</locationX>
        <locationY>1094</locationY>
        <collectionReference>ExpertiseRecordsConsolidated</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Looped_Consolidated_Expertise_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Expertise_Default_Parse_SC2CM</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Sub_Expertise_Records</name>
        <label>Loop Sub Expertise Records</label>
        <locationX>182</locationX>
        <locationY>2030</locationY>
        <collectionReference>Get_Sub_Expertise</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Looped_Sub_Expertise_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Sub_Expertise_Default_Parse_CM2SC</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Expertise_Records_All</name>
        <label>Get Expertise Records - All</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Consolidate_Expertise_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LOV__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ExpertisePL__c</object>
        <sortField>LOV__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Expertise_Records_Filtered</name>
        <label>Get Expertise Records - Filtered</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Consolidate_Expertise_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SolutionLOV__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSolutionLOVSelected</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ExpertisePL__c</object>
        <sortField>LOV__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>644</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_client_Status_is_Internal_External_Discussions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sub_Expertise</name>
        <label>Get Sub Expertise</label>
        <locationX>182</locationX>
        <locationY>1910</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Sub_Expertise_Records</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Handler_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ExpertiseLOV__c</field>
            <operator>In</operator>
            <value>
                <elementReference>Expertise_SelectedValue_Unconverted</elementReference>
            </value>
        </filters>
        <filters>
            <field>Solution__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSolutionLOVSelected</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SubExpertisePL__c</object>
        <sortField>LOV__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>182</locationX>
        <locationY>2846</locationY>
        <connector>
            <targetReference>Confirmation_Screen_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Handler_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ExpertiseForDeDupe__c</field>
            <value>
                <elementReference>Expertise_SelectedValue_Converted_CM2SC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expertise__c</field>
            <value>
                <elementReference>Expertise_SelectedValue_Converted_CM2SC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sector__c</field>
            <value>
                <elementReference>varSectorLOVSelected</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SolutionOther__c</field>
            <value>
                <elementReference>SolutionOther</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Solution__c</field>
            <value>
                <elementReference>varSolutionLOVSelected</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubExpertiseForDeDupe__c</field>
            <value>
                <elementReference>SubExpertise_SelectedValue_Converted_CM2SC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubExpertise__c</field>
            <value>
                <elementReference>SubExpertise_SelectedValue_Converted_CM2SC</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Confirmation_Screen_Success</name>
        <label>Confirmation Screen | Success</label>
        <locationX>182</locationX>
        <locationY>2966</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Header_ConfirmationScreenSuccess</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(0, 134, 16);&quot;&gt;Success&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Message_ConfirmationScreenSuccess</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Your request has been successfully processed and the following fields have been updated:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Sector | &lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!varSectorLOVSelected}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Solution | &lt;/strong&gt;&lt;span style=&quot;font-size: 12px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!varSolutionLOVSelected}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Expertise | &lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!Expertise_SelectedValue_Converted_CM2SC}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;SMEG | &lt;/strong&gt;&lt;span style=&quot;font-size: 12px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!SubExpertise_SelectedValue_Converted_CM2SC}&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Back to New Client</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fault_Handler_Screen</name>
        <label>Fault Handler Screen</label>
        <locationX>578</locationX>
        <locationY>2966</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Header_FaultHandlerScreen</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(250, 3, 3); font-size: 18px;&quot;&gt;Request could not be Processed&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Message_FaultHandlerScreen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Your request could not be processed due to the following Error:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Back to New Client</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Input_Screen_Expertise</name>
        <label>Input Screen | Expertise</label>
        <locationX>182</locationX>
        <locationY>1670</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Expertise_Selected_Convert_CM2SC</targetReference>
        </connector>
        <fields>
            <name>Input_Screen_Expertise_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Input_Screen_Expertise_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Label_SolutionSelected</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Solution | &lt;/strong&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!varSolutionLOVSelected}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>SolutionOther</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Lead.SolutionOther__c</elementReference>
                    </defaultValue>
                    <fieldText>Please provide details of the Other solution</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varSolutionLOVSelected</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Other solutions</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Expertise_MPL</name>
            <extensionName>c:fsc_dualListBox3</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>allOptionsStringFormat</name>
                <value>
                    <stringValue>list</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disableReordering</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allOptionsStringCollection</name>
                <value>
                    <elementReference>ExpertiseRecordsConsolidatedDeDuped</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Expertise</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sourceLabel</name>
                <value>
                    <stringValue>Available</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedLabel</name>
                <value>
                    <stringValue>Chosen</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>size</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedOptionsStringList</name>
                <value>
                    <elementReference>Expertise_DefaultValue_Parsed_CM2SC</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Expertise_SelectedValue_Unconverted</assignToReference>
                <name>selectedOptionsStringList</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>(1 AND 2) OR 3</conditionLogic>
                <conditions>
                    <leftValueReference>varSolutionLOVSelected</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Other solutions</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>SolutionOther</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varSolutionLOVSelected</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Other solutions</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Input_Screen_Sector_Solution</name>
        <label>Input Screen | Sector and Solution</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Sector_and_Solution_Value</targetReference>
        </connector>
        <fields>
            <name>Sector</name>
            <fieldText>&lt;p&gt;Sector :  {!NewClientSector}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Lead.Sector__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NewClientSector</leftValueReference>
                    <operator>EqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Lead.Solution__c</objectFieldReference>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Input_Screen_Sub_Expertise</name>
        <label>Input Screen | Sub Expertise</label>
        <locationX>182</locationX>
        <locationY>2606</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Sub_Expertise_Selected_Convert_CM2SC</targetReference>
        </connector>
        <fields>
            <name>Input_Screen_Sub_Expertise_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Input_Screen_Sub_Expertise_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Label_InputSC_SE_SolutionSelected</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Solution | &lt;/strong&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!varSolutionLOVSelected}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Input_Screen_Sub_Expertise_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Label_InputSC_SE_ExpertiseSelected</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Expertise |  &lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!Expertise_SelectedValue_Converted_CM2SC}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>SubExpertise_MPL</name>
            <extensionName>c:fsc_dualListBox3</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>allOptionsStringFormat</name>
                <value>
                    <stringValue>list</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disableReordering</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>SMEG</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sourceLabel</name>
                <value>
                    <stringValue>Available</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedLabel</name>
                <value>
                    <stringValue>Chosen</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allOptionsStringCollection</name>
                <value>
                    <elementReference>SubExpertiseRecordsDeDuped</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedOptionsStringList</name>
                <value>
                    <elementReference>SubExpertise_DefaultValue_Parsed_CM2SC</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>size</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SubExpertise_SelectedValue_Unconverted</assignToReference>
                <name>selectedOptionsStringList</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Update</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Stop_Process</name>
        <label>Stop Process</label>
        <locationX>1106</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Stop_Process_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 20px; color: rgb(250, 3, 3);&quot;&gt;Cannot Process your Request&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Stop_Process_Msg1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(18, 1, 1); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Only the new client owner can Update Professional Services.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CheckRecordOwnerandCurrentUserIsSame</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>User_is_System_Admin</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Stop_Process_Msg2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Please mark New Client Status as &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Internal / External Discussions&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1 AND (2 OR 3)</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Lead.Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>New</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>CheckRecordOwnerandCurrentUserIsSame</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>User_is_System_Admin</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Stop_Process_Msg3</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(68, 68, 68);&quot;&gt;Professional Services already updated.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Lead.Status</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>New</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Lead.Status</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Internal / External Discussions</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>CheckRecordOwnerandCurrentUserIsSame</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>User_is_System_Admin</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>Step_1_Sector_Solution</name>
        <isActive>true</isActive>
        <label>Step 1 | Sector &amp; Solution</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>Step_2_Expertise</name>
        <isActive>true</isActive>
        <label>Step 2 | Expertise</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>Step_3_Sub_Expertise</name>
        <isActive>true</isActive>
        <label>Step 3 | Sub Expertise</label>
        <stageOrder>3</stageOrder>
    </stages>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Parse the current value of the Expertise multi-picklist to a comma-separated String collection to feed into the custom multi-picklist component to default the Chosen section.</description>
        <name>Expertise_Default_Parse_SC2CM</name>
        <label>Expertise Default | Parse (SC2CM)</label>
        <locationX>182</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Set_Current_Stage_to_Step_2</targetReference>
        </connector>
        <flowName>General_Purpose_Parse_a_String_Multi_Picklist_Expression_to_Collection</flowName>
        <inputAssignments>
            <name>DelimiterUsed</name>
            <value>
                <stringValue>;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TextReceivedForParsing</name>
            <value>
                <elementReference>Get_Lead.Expertise__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Expertise_DefaultValue_Parsed_CM2SC</assignToReference>
            <name>ParsedTextCollection</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Expertise_Selected_Convert_CM2SC</name>
        <label>Expertise Selected | Convert (CM2SC)</label>
        <locationX>182</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>Get_Sub_Expertise</targetReference>
        </connector>
        <flowName>General_Purpose_Convert_a_String_Collection_to_Multi_Picklist_Expression</flowName>
        <inputAssignments>
            <name>StringCollectionReceivedForConversion</name>
            <value>
                <elementReference>Expertise_SelectedValue_Unconverted</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Expertise_SelectedValue_Converted_CM2SC</assignToReference>
            <name>StringValueConverted</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Parse the current value of the Sub Expertise multi-picklist to a comma-separated String collection to feed into the custom multi-picklist component to default the Chosen section.</description>
        <name>Sub_Expertise_Default_Parse_CM2SC</name>
        <label>Sub Expertise Default | Parse (CM2SC)</label>
        <locationX>182</locationX>
        <locationY>2366</locationY>
        <connector>
            <targetReference>Set_Current_Stage_to_Step_3</targetReference>
        </connector>
        <flowName>General_Purpose_Parse_a_String_Multi_Picklist_Expression_to_Collection</flowName>
        <inputAssignments>
            <name>DelimiterUsed</name>
            <value>
                <stringValue>;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TextReceivedForParsing</name>
            <value>
                <elementReference>Get_Lead.SubExpertise__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>SubExpertise_DefaultValue_Parsed_CM2SC</assignToReference>
            <name>ParsedTextCollection</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Sub_Expertise_Selected_Convert_CM2SC</name>
        <label>Sub Expertise Selected | Convert (CM2SC)</label>
        <locationX>182</locationX>
        <locationY>2726</locationY>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
        <flowName>General_Purpose_Convert_a_String_Collection_to_Multi_Picklist_Expression</flowName>
        <inputAssignments>
            <name>StringCollectionReceivedForConversion</name>
            <value>
                <elementReference>SubExpertise_SelectedValue_Unconverted</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>SubExpertise_SelectedValue_Converted_CM2SC</assignToReference>
            <name>StringValueConverted</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>Expertise_DefaultValue_Parsed_CM2SC</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Expertise_MPL_SelectedValue_Parsed</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Expertise_SelectedValue_Converted_CM2SC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Expertise_SelectedValue_Unconverted</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExpertiseRecordsConsolidated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ExpertisePL__c</objectType>
    </variables>
    <variables>
        <name>ExpertiseRecordsConsolidatedDeDuped</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedOptionsStringListFFF</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubExpertise_DefaultValue_Parsed_CM2SC</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubExpertise_SelectedValue_Converted_CM2SC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubExpertise_SelectedValue_Unconverted</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubExpertiseRecordsDeDuped</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSectorLOVSelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSolutionLOVSelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
