force-app/main/default/flows/Log_A_Call_Flow_On_Internal_External_Discussions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <choices>
        <name>InvalidNumber</name>
        <choiceText>Phone Number is Invalid</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Invalid Number</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoAnswer</name>
        <choiceText>No Answer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Answer</stringValue>
        </value>
    </choices>
    <choices>
        <name>VoiceMail</name>
        <choiceText>Voice Mail</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Voice Mail</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Log_A_Call_Picklist_Outcome</name>
        <label>Log A Call Picklist Outcome</label>
        <locationX>974</locationX>
        <locationY>758</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Voice_Mail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Option_To_Log_A_Call</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>VoiceMail</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Voice_Mail_Task</targetReference>
            </connector>
            <label>Voice Mail</label>
        </rules>
        <rules>
            <name>Invalid_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Option_To_Log_A_Call</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>InvalidNumber</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Invalid_Number_Call</targetReference>
            </connector>
            <label>Invalid Number</label>
        </rules>
        <rules>
            <name>No_Answer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Option_To_Log_A_Call</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NoAnswer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_No_Answer_Task</targetReference>
            </connector>
            <label>No Answer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Selected_Outcome</name>
        <label>Selected Outcome</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Would_you_want_to_update_information_Yes_No</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Would_you_want_to_add_Phone_Call_outcome_Yes_No</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Fields_And_Log_A_Call</targetReference>
            </connector>
            <label>Yes Yes</label>
        </rules>
        <rules>
            <name>Yes_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Would_you_want_to_update_information_Yes_No</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Would_you_want_to_add_Phone_Call_outcome_Yes_No</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Fields_And_Log_A_Call_0</targetReference>
            </connector>
            <label>Yes No</label>
        </rules>
        <rules>
            <name>No_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Would_you_want_to_update_information_Yes_No</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Would_you_want_to_add_Phone_Call_outcome_Yes_No</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_A_Call_Picklist</targetReference>
            </connector>
            <label>No Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>expertise1</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Expertise__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>sector</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sector__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>subExpertise1</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SubExpertise__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Date</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + (3/24)</expression>
    </formulas>
    <interviewLabel>Log A Call Flow On Internal / External Discussions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Log A Call Flow On Internal / External Discussions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_A_Call</name>
        <label>Create A Call</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>descriptionYesYes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Call Connected {!$Flow.CurrentDateTime}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_New_Client_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_A_Voice_Mail_Call</name>
        <label>Create A Voice Mail Call</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>voiceMailDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Call {!$Flow.CurrentDateTime}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_New_Client_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Invalid_Number_Call</name>
        <label>Create Invalid Number Call</label>
        <locationX>842</locationX>
        <locationY>878</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>invalidPhoneDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Call {!$Flow.CurrentDateTime}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_New_Client_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_No_Answer_Call</name>
        <label>Create No Answer Call</label>
        <locationX>1106</locationX>
        <locationY>998</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>noAnswerDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Call {!$Flow.CurrentDateTime}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_New_Client_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_No_Answer_Task</name>
        <label>Create No Answer Task</label>
        <locationX>1106</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Create_No_Answer_Call</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>No Answer {!$Flow.CurrentDateTime}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Call Back</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_New_Client_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Voice_Mail_Task</name>
        <label>Create Voice Mail Task</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Create_A_Voice_Mail_Call</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Voice Mail {!$Flow.CurrentDateTime}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Call Back</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_New_Client_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_New_Client_Record</name>
        <label>Get New Client Record</label>
        <locationX>842</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Log_A_Call</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Log_A_Screen</name>
        <label>Update Log A Screen</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Comments_Captured</targetReference>
        </connector>
        <inputReference>Get_New_Client_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Log_A_Screen_0</name>
        <label>Update Log A Screen</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <inputReference>Get_New_Client_Record</inputReference>
    </recordUpdates>
    <screens>
        <name>Comments_Captured</name>
        <label>Comments Captured</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_A_Call</targetReference>
        </connector>
        <fields>
            <name>Comments_Captured_Yes_Yes</name>
            <fieldText>Comments Captured</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Comments_Captured1</name>
        <label>Comments Captured</label>
        <locationX>974</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Log_A_Call_Picklist_Outcome</targetReference>
        </connector>
        <fields>
            <name>Comments_Captured_No_Yes</name>
            <fieldText>Comments Captured</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Log_A_Call</name>
        <label>Log A Call</label>
        <locationX>842</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Selected_Outcome</targetReference>
        </connector>
        <fields>
            <name>Would_you_want_to_update_information_Yes_No</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Yes</defaultSelectedChoiceReference>
            <fieldText>Would you want to update information (Yes/No)?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Would_you_want_to_add_Phone_Call_outcome_Yes_No</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>No</defaultSelectedChoiceReference>
            <fieldText>Would you want to add Phone Call outcome (Yes/No)?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Log_A_Call_Picklist</name>
        <label>Log A Call Picklist</label>
        <locationX>974</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Comments_Captured1</targetReference>
        </connector>
        <fields>
            <name>Select_Option_To_Log_A_Call</name>
            <choiceReferences>VoiceMail</choiceReferences>
            <choiceReferences>InvalidNumber</choiceReferences>
            <choiceReferences>NoAnswer</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Option To Log A Call</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Fields_And_Log_A_Call</name>
        <label>Update Fields And Log A Call</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Log_A_Screen</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_New_Client_Record.Corridor__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_New_Client_Record.Company</objectFieldReference>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Fields_And_Log_A_Call_0</name>
        <label>Update Fields And Log A Call</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Log_A_Screen_0</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_New_Client_Record.Corridor__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_New_Client_Record.Company</objectFieldReference>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_New_Client_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>descriptionYesYes</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Call Connected {!$Flow.CurrentDateTime}
{!Comments_Captured_Yes_Yes}</text>
    </textTemplates>
    <textTemplates>
        <name>invalidPhoneDescription</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Phone Number is Invalid {!$Flow.CurrentDateTime}
{!Comments_Captured_No_Yes}</text>
    </textTemplates>
    <textTemplates>
        <name>noAnswerDescription</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>No Answer {!$Flow.CurrentDateTime}
{!Comments_Captured_No_Yes}</text>
    </textTemplates>
    <textTemplates>
        <name>voiceMailDescription</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Voice Mail {!$Flow.CurrentDateTime}
{!Comments_Captured_No_Yes}</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
