force-app/main/default/flows/New_Client_Aging_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Check_status_value</name>
        <label>Check status value</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_is_Internal_External_Discussions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal / External Discussions</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Int_Ext_Change_Date</targetReference>
            </connector>
            <label>Status is Internal / External Discussions</label>
        </rules>
        <rules>
            <name>Stage_is_Client_Take_On_PreWork</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Take-On PreWork</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_client_prework_change_date</targetReference>
            </connector>
            <label>Stage is Client Take-On PreWork</label>
        </rules>
        <rules>
            <name>Status_is_Client_Take_On</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Take On</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Client_take_on_change_date</targetReference>
            </connector>
            <label>Status is Client Take On</label>
        </rules>
        <rules>
            <name>Status_is_converted</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accept Client</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Accepted Client</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_convert_change_date</targetReference>
            </connector>
            <label>Status is converted</label>
        </rules>
    </decisions>
    <description>Capture dates in Chaged Date Fields at New Cleint</description>
    <environments>Default</environments>
    <formulas>
        <name>Now</name>
        <dataType>Date</dataType>
        <expression>Now()</expression>
    </formulas>
    <label>New Client Aging Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_client_prework_change_date</name>
        <label>Update client prework change date</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Client_Prework_Change_Date__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Client_take_on_change_date</name>
        <label>Update Client take on change date</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Client_Takeon_Change_Date__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_convert_change_date</name>
        <label>Update convert change date</label>
        <locationX>842</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Convert_Change_Date__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Int_Ext_Change_Date</name>
        <label>Update Int/Ext Change Date</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Int_Ext_Change_Date__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Capture the New Client Created date in New Change Date</description>
        <name>Update_New_Change_Date</name>
        <label>Update New Change Date</label>
        <locationX>578</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Check_status_value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>New_Change_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>New_Change_Date__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_New_Change_Date</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
