force-app/main/default/flows/Notify_CSL_CoCSL_after_C_M_Team_Will_update_the_CSL_CO_CSL_Tier_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_To_CoCSL_With_Designation_T1</name>
        <label>Email To CoCSL With Designation T1</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBodyCoCSL</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.CoCSL__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>The Sector Leader has appointed you as the COCSL for Client : {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_To_CoCSL_With_Designation_T11</name>
        <label>Email To CoCSL With Designation T1</label>
        <locationX>578</locationX>
        <locationY>935</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBodyCoCSL</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.CoCSL__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>The Sector Leader has appointed you as the CoCSL for Client : {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_To_CSL_With_Designation_T1</name>
        <label>Email To CSL With Designation T1</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Email_To_CoCSL_With_Designation_T1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBodyCSL</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.CSL__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>The Sector Leader has appointed you as the CSL for Client : {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_To_CSL_With_Designation_T11</name>
        <label>Email To CSL With Designation T1</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBodyCSL</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.CSL__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>The Sector Leader has appointed you as the CSL for Client : {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notify_CoCSL_Having_Designation_T1</name>
        <label>Notify CoCSL Having Designation T1</label>
        <locationX>578</locationX>
        <locationY>815</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Email_To_CoCSL_With_Designation_T11</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>The Client {!$Record.Name} has been classified as a Key Account. The Sector Leader has appointed you as the {CSL/Co-CSL} for this client. Kindly add Client Team Members (if not done already) and commence creation of 30-60-90 Account Plan on Quip.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>The Client {!$Record.Name} has been classified as a Key Client</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>notifiersId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notify_CSL_CoCSL_Having_Designation_T1</name>
        <label>Notify CSL &amp; CoCSL Having Designation T1</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Email_To_CSL_With_Designation_T1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>The Client {!$Record.Name} has been classified as a Key Account. The Sector Leader has appointed you as the {CSL/Co-CSL} for this client. Kindly add Client Team Members (if not done already) and commence creation of 30-60-90 Account Plan on Quip.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>The Client {!$Record.Name} has been classified as a Key Client</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>notifiersId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notify_CSL_Having_Designation_T1</name>
        <label>Notify CSL Having Designation T1</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Email_To_CSL_With_Designation_T11</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>The Client  {!$Record.Name} has been classified as a Key Account. The Sector Leader has appointed you as the {CSL/Co-CSL} for this client. Kindly add Client Team Members (if not done already) and commence creation of 30-60-90 Account Plan on Quip.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>The Client {!$Record.Name} has been classified as a Key Client</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>notifiersId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_CoCSL_Id</name>
        <label>Assign CoCSL Id</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>notifiersId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CoCSL__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notify_CoCSL_Having_Designation_T1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CSL_Id</name>
        <label>Assign CSL Id</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>notifiersId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CSL__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notify_CSL_Having_Designation_T1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Notifiers_Id</name>
        <label>Assign Notifiers Id</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>notifiersId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CSL__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notifiersId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CoCSL__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notify_CSL_CoCSL_Having_Designation_T1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Custom_Notification_Found</name>
        <label>Custom Notification Found</label>
        <locationX>776</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Custom_Notification.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Is_CSL_CoCSL_Designation_Is_T1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Is_CSL_CoCSL_Designation_Is_T1</name>
        <label>User Is CSL/CoCSL &amp; Designation Is T1</label>
        <locationX>446</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Both_CSL_CoCSL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CSL__r.Designation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>T1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CSL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CoCSL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CoCSL__r.Designation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>T1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Notifiers_Id</targetReference>
            </connector>
            <label>Both CSL &amp; CoCSL</label>
        </rules>
        <rules>
            <name>User_Is_CSL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CSL__r.Designation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>T1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CSL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CSL_Id</targetReference>
            </connector>
            <label>User Is CSL</label>
        </rules>
        <rules>
            <name>User_Is_CoCSL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoCSL__r.Designation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>T1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CoCSL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CoCSL_Id</targetReference>
            </connector>
            <label>User Is CoCSL</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Notify CSL &amp; CoCSL after C&amp;M Team Will update the CSL/ CO-CSL (Tier 1) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notify CSL &amp; CoCSL after C&amp;M Team Will update the CSL/ CO-CSL (Tier 1)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Custom_Notification</name>
        <label>Get Custom Notification</label>
        <locationX>776</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Custom_Notification_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Notify_Proposed_CSL_CoCSL</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Custom_Notification</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 OR 2</filterLogic>
        <filters>
            <field>CSL__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CoCSL__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>emailBodyCoCSL</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Dear&lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt; {!$Record.CoCSL__r.FirstName} {!$Record.CoCSL__r.LastName},&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;The Client &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;{!$Record.Name}&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt; has been classified as a Key Account. The Sector Leader has appointed you as the &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;CoCSL&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt; for this client. Kindly add Client Team Members (if not done already) and commence creation of 30-60-90 Account Plan on Quip.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;To view the Client details, please click on the link below:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;https://grantthornton--lkdv1dvn.sandbox.lightning.force.com/{!$Record.Id}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Thanks &amp;amp; Regards&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;GT Team&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>emailBodyCSL</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Dear&lt;/span&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt; {!$Record.CSL__r.FirstName} {!$Record.CSL__r.LastName}&lt;/strong&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;The Client &lt;/span&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Name}&lt;/strong&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt; has been classified as a Key Account. The Sector Leader has appointed you as the &lt;/span&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;CSL&lt;/strong&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt; for this client. Kindly add Client Team Members (if not done already) and commence creation of 30-60-90 Account Plan on Quip.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;To view the Client details, please click on the link below:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;https://grantthornton--lkdv1dvn.sandbox.lightning.force.com/{!$Record.Id}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Thanks &amp;amp; Regards&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;GT Team&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>notifiersEmail</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>notifiersId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
