force-app/main/default/flows/Notify_Sector_Business_Partner_After_3_6_and_7_Days_On_Internal_External_Discuss.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_Sector_Business_Partner</name>
        <label>Notify Sector Business Partner</label>
        <locationX>50</locationX>
        <locationY>756</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Notify_Sector_Business_Partner_Via_Email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>The new client {!$Record.NewClientNo__c} - {!$Record.Company} is pending for your action. Kindly reach out to the prospect, if required, to enrich the mandatory details on LinKreta to take the journey forward.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>New Client Pending For Your Action</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>notifiersId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notify_Sector_Business_Partner_Via_Email</name>
        <label>Notify Sector Business Partner Via Email</label>
        <locationX>50</locationX>
        <locationY>876</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Needed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>notifiersEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>New Client Pending For Your Action</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Sector_Business_Partner_Email_And_Id</name>
        <label>Assign Sector Business Partner Email And Id</label>
        <locationX>50</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>notifiersId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SectorCoordinator__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notifiersEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SectorCoordinator__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notify_Sector_Business_Partner</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Custom_Notification_Found</name>
        <label>Custom Notification Found</label>
        <locationX>182</locationX>
        <locationY>516</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Custom_Notification.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Sector_Business_Partner_Email_And_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Not_Modified_Since_3_6_and_7_Days</name>
        <label>Record Not Modified Since 3, 6 and 7 Days</label>
        <locationX>380</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Update_New_Client_Status_As_Closed_If_Not_Response_After_7_Days</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Modified_Since_3_or_6_Days</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Day_Since_Last_Modified__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Day_Since_Last_Modified__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SectorCoordinator__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Custom_Notification</targetReference>
            </connector>
            <label>Not Modified Since 3 or 6 Days</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Notify Sector Business Partner After 3,6 and 7 Days On Internal External Discussion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notify Sector Business Partner After 3,6 and 7 Days On Internal External Discussion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Custom_Notification</name>
        <label>Get Custom Notification</label>
        <locationX>182</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Custom_Notification_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Notify_Sector_Business_Partner_After_3_6_and_7_Day_If_No_Activity_Performed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_New_Client_Status_As_Closed_If_Not_Response_After_7_Days</name>
        <label>Update New Client Status As Closed If Not Response After 7 Days</label>
        <locationX>578</locationX>
        <locationY>396</locationY>
        <filterLogic>1 AND (2 OR 4) AND (3 OR 5) AND 6</filterLogic>
        <filters>
            <field>Day_Since_Last_Modified__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>NSLApprovalStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>CCApprovalStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>NSLApprovalStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>CCApprovalStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SectorCoordinator__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ByPassValidation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reject_Reason__c</field>
            <value>
                <stringValue>No response</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>NotAccept</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Record_Not_Modified_Since_3_6_and_7_Days</targetReference>
        </connector>
        <filterLogic>(1 AND 2) AND (3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Internal / External Discussions</stringValue>
            </value>
        </filters>
        <filters>
            <field>SectorCoordinator__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Day_Since_Last_Modified__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Day_Since_Last_Modified__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Day_Since_Last_Modified__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </filters>
        <object>Lead</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-02-28</startDate>
            <startTime>13:05:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>emailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear &lt;strong&gt;{!$Record.FirstName} {!$Record.LastName},&lt;/strong&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The new client &lt;strong&gt;{!$Record.NewClientNo__c} - {!$Record.Company}&lt;/strong&gt; is pending for your action. Kindly reach out to the prospect, if required, to enrich the mandatory details on LinKreta to take the journey forward. Please find the details below:&lt;/p&gt;&lt;p&gt;Prospect Name&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&amp;nbsp;‎&lt;/span&gt;:&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&lt;/span&gt;‎‎‎‎{!$Record.FirstName} {!$Record.LastName}&lt;/p&gt;&lt;p&gt;Prospect Email&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&amp;nbsp;‎&amp;nbsp;‎&lt;/span&gt;:&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&lt;/span&gt;{!$Record.Email}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;To access the record on LinKreta, please click on the link:&amp;nbsp;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;https://grantthornton--lkdv1dvn.sandbox.lightning.force.com/{!$Record.Id}&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Thanks &amp;amp; Regards&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;GT Team&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Note:- This is a system generated email. Please do not reply to this mail.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>notifiersEmail</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>notifiersId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sectorBusinessPartner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
