force-app/main/default/flows/Notify_Sector_Coordinator_Create_Task_Update_new_client_information.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_Sector_Coordinator</name>
        <label>Notify Sector / Coordinator</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Send_Email_to_Sector_Coordinator</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>New client {!$Record.NewClientNo__c} - {!$Record.Company} Created Via &quot;{!$Record.LeadSource}&quot;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>New Client Created</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>NotifierId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Sector_Coordinator</name>
        <label>Send Email to Sector / Coordinator</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>You are assigned as Sector Coordinator for New Client Enquiry  ({!$Record.NewClientNo__c}) - {!$Record.Company}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>NotifierIds</name>
        <label>NotifierIds</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>NotifierId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notify_Sector_Coordinator</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>NotificationAvailable</name>
        <label>Notification Available</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Custom_Notification_Type.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NotifierIds</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>CreatedDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.CreatedDate})</expression>
    </formulas>
    <interviewLabel>Notify Sector Coordinator / Create Task Update new client information {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notify Sector Coordinator</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Custom_Notification_Type</name>
        <label>Get Custom Notification Type</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NotificationAvailable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NotifySectorCoordinator</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Custom_Notification_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sector__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello &lt;strong&gt;Sector &amp;amp; Coordinator&lt;/strong&gt;,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;New C&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;lient Enquiry&lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt; ({!$Record.NewClientNo__c}) - {!$Record.Company}&lt;/strong&gt;&lt;strong&gt; &lt;/strong&gt;Created Via &quot;&lt;strong&gt;{!$Record.LeadSource}&lt;/strong&gt;&quot; Dated : &lt;strong style=&quot;background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); color: var(--lwc-colorTextWeak,rgb(68, 68, 68)); font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;);&quot;&gt;  {!CreatedDate} with following details :-&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Name :&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎{!$Record.FirstName} {!$Record.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Email : ‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎{!$Record.Email}&lt;/p&gt;&lt;p&gt;Mobile No :&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎ ‎&lt;/span&gt;{!$Record.MobilePhone}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Company Name :‎‎‎‎&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎‎&amp;nbsp;&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;&amp;nbsp;‎‎{!$Record.Company}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Sector :&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎{!$Record.Sector__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Remarks :&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎{!$Record.Remark__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(32, 33, 36); font-family: Roboto, arial, sans-serif; background-color: rgb(255, 255, 255);&quot;&gt;To access the record into Salesforce, please click the link below:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;https://grantthornton--lkdv1dvn.sandbox.lightning.force.com/{!$Record.Id}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgba(32, 33, 36, 0.04); font-size: 14px; font-family: Roboto, sans-serif; color: rgb(32, 33, 36);&quot;&gt;Please pick up the New Client enquiry record at the earliest&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Thanks &amp;amp; Regards&lt;/strong&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;﻿&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;GT Team&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>NotifierId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
