force-app/main/default/flows/NSL_Email_Notification_New_Version.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>NSLEmail</name>
        <label>NSL Email</label>
        <locationX>2668</locationX>
        <locationY>1487</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Get_custom_notification_Type</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>NSLEmailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.NSL__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>You are assigned as NSL</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Custom_Notification</name>
        <label>Send Custom Notification</label>
        <locationX>2470</locationX>
        <locationY>1967</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>get_custom_notification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_custom_notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>New client {!$Record.NewClientNo__c} - {!$Record.Company} Created Via &quot;{!$Record.LeadSource}&quot;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>You are assigned as Sector Business Partner </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>SectorVariable</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Custom_Notification_to_NSL</name>
        <label>Send Custom Notification to NSL</label>
        <locationX>2338</locationX>
        <locationY>2447</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_custom_notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>You are appointed as a NSL for New Client ( {!$Record.NewClientNo__c}) - {!$Record.Company}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>You are assigned as NSL </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>NSLVariable</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_Lead_id_of_NSL_User</name>
        <label>Add Lead id of NSL User</label>
        <locationX>2470</locationX>
        <locationY>1847</locationY>
        <assignmentItems>
            <assignToReference>SectorVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Custom_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddLeadidofNSLUser</name>
        <label>Add Lead id of NSL User</label>
        <locationX>2338</locationX>
        <locationY>2327</locationY>
        <assignmentItems>
            <assignToReference>NSLVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.NSL__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Custom_Notification_to_NSL</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_if_notification_is_found</name>
        <label>check if notification is found</label>
        <locationX>2668</locationX>
        <locationY>1727</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>notification_is_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_custom_notification_Type.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Lead_id_of_NSL_User</targetReference>
            </connector>
            <label>notification is found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_NSL_Sector_business_partner</name>
        <label>Checking NSL , Sector business partner</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>NSLEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.SectorCoordinator__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Others</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SectorAssignmentTeam</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Manual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateNSLAsthaMalik</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_NSL_Sector_business_partner0</name>
        <label>Checking NSL , Sector business partner</label>
        <locationX>4142</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>NSLEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes10</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.SectorCoordinator__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Others</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SectorAssignmentTeam</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Manual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_NSL_To_Eva_Tiwari</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_NSL_Sector_business_partner1</name>
        <label>Checking NSL , Sector business partner</label>
        <locationX>622</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>NSLEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes4</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.SectorCoordinator__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Others</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SectorAssignmentTeam</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Manual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_NSL_Astha_Malik</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_NSL_Sector_business_partner10</name>
        <label>Checking NSL , Sector business partner</label>
        <locationX>4582</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>NSLEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES12</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.SectorCoordinator__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Others</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SectorAssignmentTeam</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Manual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateNSLToRamanujamKrishnan</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_NSL_Sector_business_partner2</name>
        <label>Checking NSL , Sector business partner</label>
        <locationX>1062</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>NSLEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes5</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.SectorCoordinator__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Others</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SectorAssignmentTeam</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Manual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_NSL_To_Ramanujam_Krishnan</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_NSL_Sector_business_partner3</name>
        <label>Checking NSL , Sector business partner</label>
        <locationX>1502</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>NSLEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes6</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.SectorCoordinator__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Others</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SectorAssignmentTeam</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Manual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_NSL_Susnato_Sen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_NSL_Sector_business_partner4</name>
        <label>Checking NSL , Sector business partner</label>
        <locationX>1942</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>NSLEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes7</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.SectorCoordinator__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Others</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SectorAssignmentTeam</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Manual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_NSL_Mohit_Mathur</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_NSL_Sector_business_partner5</name>
        <label>Checking NSL , Sector business partner</label>
        <locationX>2382</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>NSLEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes8</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.SectorCoordinator__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Others</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SectorAssignmentTeam</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Manual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_NSL_To_Mansi_Chhabra</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_NSL_Sector_business_partner6</name>
        <label>Checking NSL , Sector business partner</label>
        <locationX>2822</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>NSLEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes9</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.SectorCoordinator__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Others</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SectorAssignmentTeam</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Manual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_NSL_Aashman_Bhatia</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_NSL_Sector_business_partner8</name>
        <label>Checking NSL , Sector business partner</label>
        <locationX>3262</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>NSLEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes0</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.SectorCoordinator__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Others</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SectorAssignmentTeam</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Manual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Owner_To_Prateek_Kathpal</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_NSL_Sector_business_partner9</name>
        <label>Checking NSL , Sector business partner</label>
        <locationX>3702</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>NSLEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes11</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.SectorCoordinator__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Others</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SectorAssignmentTeam</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Manual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Owner_To_Ravi_Pateriya</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>notificationisfound</name>
        <label>notification is found</label>
        <locationX>2470</locationX>
        <locationY>2207</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>notification_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_custom_notification_Type.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddLeadidofNSLUser</targetReference>
            </connector>
            <label>notification found</label>
        </rules>
    </decisions>
    <decisions>
        <name>sector</name>
        <label>sector</label>
        <locationX>2668</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Auto_Auto_Components</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Auto &amp; Auto Components</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_NSL_sectorcordinator_based_on_Auto</targetReference>
            </connector>
            <label>Auto &amp; Auto Components</label>
        </rules>
        <rules>
            <name>CIP_Retail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CIP &amp; Retail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_NSL_sectorcordinator_based_on_CIP_Retail</targetReference>
            </connector>
            <label>CIP &amp; Retail</label>
        </rules>
        <rules>
            <name>Financial_Services</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Financial Services</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_NSL_sectorcordinator_based_on_Financial_Services</targetReference>
            </connector>
            <label>Financial Services</label>
        </rules>
        <rules>
            <name>Global_Delivery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Global Delivery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_NSL_sectorcordinator_based_on_globaldelivery</targetReference>
            </connector>
            <label>Global Delivery</label>
        </rules>
        <rules>
            <name>Govt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Government</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_NSL_sectorcordinator_based_on_govt</targetReference>
            </connector>
            <label>Govt</label>
        </rules>
        <rules>
            <name>Law_Firms</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Law Firms</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_NSL_sectorcordinator_based_on_LawFirm</targetReference>
            </connector>
            <label>Law Firms</label>
        </rules>
        <rules>
            <name>Owners_Private_Clients</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Owners &amp; Private Clients</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_NSL_sectorcordinator_based_on_ownerandPvtLtd</targetReference>
            </connector>
            <label>Owners &amp; Private Clients</label>
        </rules>
        <rules>
            <name>PE_VC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PE/VC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_NSL_sectorcordinator_based_on_PE_VC</targetReference>
            </connector>
            <label>PE / VC</label>
        </rules>
        <rules>
            <name>Pharma_Healthcare_Services</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pharma &amp; Healthcare Services</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_NSL_sectorcordinator_based_on_PharmaHealthCare</targetReference>
            </connector>
            <label>Pharma &amp; Healthcare Services</label>
        </rules>
        <rules>
            <name>Real_Estate_Infra</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Real Estate &amp; Infra</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_NSL_sectorcordinator_based_on_realestateinfra</targetReference>
            </connector>
            <label>Real Estate &amp; Infra</label>
        </rules>
        <rules>
            <name>TMT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TMT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_NSL_sectorcordinator_based_on_tmt</targetReference>
            </connector>
            <label>TMT</label>
        </rules>
        <rules>
            <name>Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Others</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_NSL_sectorcordinator_based_on_other</targetReference>
            </connector>
            <label>Other</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sector_is_cahnging</name>
        <label>Sector is cahnging</label>
        <locationX>4043</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>( 1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sector__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Sector__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sector__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Sector__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sector</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CreatedDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.CreatedDate})</expression>
    </formulas>
    <formulas>
        <name>DetailPageLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_550}, FIND(&apos;/services&apos;,{!$Api.Partner_Server_URL_550})) &amp; {!$Record.Id}</expression>
    </formulas>
    <formulas>
        <name>TaskDueDate</name>
        <dataType>Date</dataType>
        <expression>Today() +2</expression>
    </formulas>
    <interviewLabel>NSL Email Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NSL Email Notification (New Version)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Assign_NSL_sectorcordinator_based_on_Auto</name>
        <label>Assign NSL sectorcordinator based on sector on Auto</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_NSL_User_For_Auto_Sector</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Auto &amp; Auto Components</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sector_cordinator__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Assign_NSL_sectorcordinator_based_on_CIP_Retail</name>
        <label>Assign NSL sectorcordinator based on sector</label>
        <locationX>622</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_NSL_User_For_CIP_Sector</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CIP &amp; Retail</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sector_cordinator__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Assign_NSL_sectorcordinator_based_on_Financial_Services</name>
        <label>Assign NSL sectorcordinator based on sector Financial Services</label>
        <locationX>1062</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_NSL_User_For_Financial_Service</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Financial Services</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sector_cordinator__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Assign_NSL_sectorcordinator_based_on_globaldelivery</name>
        <label>Assign NSL sectorcordinator based on Global Delivery</label>
        <locationX>1502</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_NSL_User_For_Global_Delivery</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Global Delivery</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sector_cordinator__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Assign_NSL_sectorcordinator_based_on_govt</name>
        <label>Assign NSL sectorcordinator based on govt</label>
        <locationX>1942</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_NSl_User_For_Government</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Government</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sector_cordinator__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Assign_NSL_sectorcordinator_based_on_LawFirm</name>
        <label>Assign NSL sectorcordinator based on LawFirm</label>
        <locationX>2382</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_NSL_User_For_Law_Firms</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Law Firms</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sector_cordinator__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Assign_NSL_sectorcordinator_based_on_other</name>
        <label>Assign NSL sectorcordinator based on other</label>
        <locationX>4890</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Owner_To_Sector_Assignment_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Others</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sector_cordinator__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Assign_NSL_sectorcordinator_based_on_ownerandPvtLtd</name>
        <label>Assign NSL sectorcordinator based on ownerandPvtLtd</label>
        <locationX>2822</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_NSL_User_For_Owner_And_Pvt</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Owners &amp; Private Clients</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sector_cordinator__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Assign_NSL_sectorcordinator_based_on_PE_VC</name>
        <label>Assign NSL sectorcordinator based on PE/VC</label>
        <locationX>3262</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_NSL_User_For_PE_VC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PE/VC</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sector_cordinator__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Assign_NSL_sectorcordinator_based_on_PharmaHealthCare</name>
        <label>Assign NSL sectorcordinator based on PharmaHealthCare</label>
        <locationX>3702</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_NSL_User_for_Pharma</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pharma &amp; Healthcare Services</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sector_cordinator__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Assign_NSL_sectorcordinator_based_on_realestateinfra</name>
        <label>Assign NSL sectorcordinator based on realestateinfra</label>
        <locationX>4142</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_NSL_User_For_Real_State</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Real Estate &amp; Infra</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sector_cordinator__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Assign_NSL_sectorcordinator_based_on_tmt</name>
        <label>Assign NSL sectorcordinator based on TMT</label>
        <locationX>4582</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_NSL_User_For_TMT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TMT</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sector_cordinator__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_custom_notification</name>
        <label>get custom notification for NSL</label>
        <locationX>2470</locationX>
        <locationY>2087</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>notificationisfound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NSLAssignedNotification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_custom_notification_Type</name>
        <label>Get custom notification Type for sector coordinator</label>
        <locationX>2668</locationX>
        <locationY>1607</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_if_notification_is_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NotifySectorCoordinator</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Getting User record of NSL for Auto &amp; Auto Components Sector</description>
        <name>Get_NSL_User_For_Auto_Sector</name>
        <label>Get NSL User For Auto Sector</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SBP_User_For_Auto_Sector</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FederationIdentifier</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Assign_NSL_sectorcordinator_based_on_Auto.NSL__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Getting NSL user record for CIP Sector</description>
        <name>Get_NSL_User_For_CIP_Sector</name>
        <label>Get NSL User For CIP Sector</label>
        <locationX>622</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SBP_User_For_CIP_Sector</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FederationIdentifier</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Assign_NSL_sectorcordinator_based_on_CIP_Retail.NSL__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Getting NSL user record for Financial Services sector</description>
        <name>Get_NSL_User_For_Financial_Service</name>
        <label>Get NSL User For Financial Service</label>
        <locationX>1062</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SBP_User_For_Financial_Services</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FederationIdentifier</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Assign_NSL_sectorcordinator_based_on_Financial_Services.NSL__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Getting NSL user record for Global Delivery Sector</description>
        <name>Get_NSL_User_For_Global_Delivery</name>
        <label>Get NSL User For Global Delivery</label>
        <locationX>1502</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SBP_User_For_Global_Delivery</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FederationIdentifier</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Assign_NSL_sectorcordinator_based_on_globaldelivery.NSL__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Getting NSL user record for Government sector</description>
        <name>Get_NSl_User_For_Government</name>
        <label>Get NSl User For Government</label>
        <locationX>1942</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SBP_User_For_Government</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FederationIdentifier</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Assign_NSL_sectorcordinator_based_on_govt.NSL__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Getting NSL user record for Law Firms sector.</description>
        <name>Get_NSL_User_For_Law_Firms</name>
        <label>Get NSL User For Law Firms</label>
        <locationX>2382</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SBP_User_For_Law_Firms</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FederationIdentifier</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Assign_NSL_sectorcordinator_based_on_LawFirm.NSL__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Getting NSL user record for Owner And Pvt Ltd sector.</description>
        <name>Get_NSL_User_For_Owner_And_Pvt</name>
        <label>Get NSL User For Owner AndPvt</label>
        <locationX>2822</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SBP_User_For_Owner_And_Pvt</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FederationIdentifier</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Assign_NSL_sectorcordinator_based_on_ownerandPvtLtd.NSL__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Getting NSL user record for PE/VC sector.</description>
        <name>Get_NSL_User_For_PE_VC</name>
        <label>Get NSL User For PE/VC</label>
        <locationX>3262</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SBP_User_for_PE_VC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FederationIdentifier</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Assign_NSL_sectorcordinator_based_on_PE_VC.NSL__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Getting NSL user record for Pharma and Health Care sector.</description>
        <name>Get_NSL_User_for_Pharma</name>
        <label>Get NSL User for Pharma</label>
        <locationX>3702</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SBP_User_For_Pharma</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FederationIdentifier</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Assign_NSL_sectorcordinator_based_on_PharmaHealthCare.NSL__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Getting NSL user record for Real State Infrastructure sector.</description>
        <name>Get_NSL_User_For_Real_State</name>
        <label>Get NSL User For Real State</label>
        <locationX>4142</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SBP_User_For_Real_State</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FederationIdentifier</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Assign_NSL_sectorcordinator_based_on_realestateinfra.NSL__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Getting NSL User record for TMT sector.</description>
        <name>Get_NSL_User_For_TMT</name>
        <label>Get NSL User For TMT</label>
        <locationX>4582</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SBP_User_for_TMT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FederationIdentifier</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Assign_NSL_sectorcordinator_based_on_tmt.NSL__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Getting SBP user record for Auto Sector</description>
        <name>Get_SBP_User_For_Auto_Sector</name>
        <label>Get SBP User For Auto Sector</label>
        <locationX>182</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_NSL_And_SBP_For_Auto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FederationIdentifier</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Assign_NSL_sectorcordinator_based_on_Auto.sector_cordinator_id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Getting SBP user record for CIP Sector</description>
        <name>Get_SBP_User_For_CIP_Sector</name>
        <label>Get SBP User For CIP Sector</label>
        <locationX>622</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_NSL_And_SBP_For_CIP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FederationIdentifier</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Assign_NSL_sectorcordinator_based_on_CIP_Retail.sector_cordinator_id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Getting SBP user record for Financial Services sector.</description>
        <name>Get_SBP_User_For_Financial_Services</name>
        <label>Get SBP User For Financial Services</label>
        <locationX>1062</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_NSL_And_SBP_For_Financial_Services</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FederationIdentifier</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Assign_NSL_sectorcordinator_based_on_Financial_Services.sector_cordinator_id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Getting SBP user record Global Delivery sector.</description>
        <name>Get_SBP_User_For_Global_Delivery</name>
        <label>Get SBP User For Global Delivery</label>
        <locationX>1502</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_NSL_And_SBP_For_Global_Delivery</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FederationIdentifier</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Assign_NSL_sectorcordinator_based_on_globaldelivery.sector_cordinator_id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Getting SBP user record for Government sector</description>
        <name>Get_SBP_User_For_Government</name>
        <label>Get SBP User For Government</label>
        <locationX>1942</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_NSL_And_SBP_For_Government</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FederationIdentifier</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Assign_NSL_sectorcordinator_based_on_govt.sector_cordinator_id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Getting SBP user record for law Firms sector.</description>
        <name>Get_SBP_User_For_Law_Firms</name>
        <label>Get SBP User For Law Firms</label>
        <locationX>2382</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_NSL_And_SBP_For_Law_Firms</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FederationIdentifier</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Assign_NSL_sectorcordinator_based_on_LawFirm.sector_cordinator_id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Getting SBP user record for Owner And Pvt Ltd sector.</description>
        <name>Get_SBP_User_For_Owner_And_Pvt</name>
        <label>Get SBP User For Owner And Pvt</label>
        <locationX>2822</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_NSL_And_SBP_For_Owner_And_Pvt</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FederationIdentifier</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Assign_NSL_sectorcordinator_based_on_ownerandPvtLtd.sector_cordinator_id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Getting SBP user record for PE/VC sector.</description>
        <name>Get_SBP_User_for_PE_VC</name>
        <label>Get SBP User for PE/VC</label>
        <locationX>3262</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_NSL_And_SBP_For_PEVC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FederationIdentifier</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Assign_NSL_sectorcordinator_based_on_PE_VC.sector_cordinator_id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Getting SBP user record for Pharma and Heath Care sector.</description>
        <name>Get_SBP_User_For_Pharma</name>
        <label>Get SBP User For Pharma</label>
        <locationX>3702</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_NSL_And_SBP_For_Pharma</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FederationIdentifier</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Assign_NSL_sectorcordinator_based_on_PharmaHealthCare.sector_cordinator_id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Getting SBP user record for Real State and Infrastructure sector.</description>
        <name>Get_SBP_User_For_Real_State</name>
        <label>Get SBP User For Real State</label>
        <locationX>4142</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_NSL_And_SBP_For_Real_State</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FederationIdentifier</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Assign_NSL_sectorcordinator_based_on_realestateinfra.sector_cordinator_id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Getting SBP user record for TMT sector.</description>
        <name>Get_SBP_User_for_TMT</name>
        <label>Get SBP User for TMT</label>
        <locationX>4582</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_NSL_And_SBP_For_TMT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FederationIdentifier</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Assign_NSL_sectorcordinator_based_on_tmt.sector_cordinator_id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_NSL_Aashman_Bhatia</name>
        <label>Update Owner Aashman Bhatia</label>
        <locationX>2690</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>NSLEmail</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Assign_NSL_sectorcordinator_based_on_ownerandPvtLtd.OwnerId__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updating NSL and SBP for Auto and Auto Component sector.</description>
        <name>Update_NSL_And_SBP_For_Auto</name>
        <label>Update NSL And SBP For Auto</label>
        <locationX>182</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Checking_NSL_Sector_business_partner</targetReference>
        </connector>
        <inputAssignments>
            <field>NSL__c</field>
            <value>
                <elementReference>Get_NSL_User_For_Auto_Sector.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SectorCoordinator__c</field>
            <value>
                <elementReference>Get_SBP_User_For_Auto_Sector.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NSL_And_SBP_For_CIP</name>
        <label>Update NSL And SBP For CIP</label>
        <locationX>622</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Checking_NSL_Sector_business_partner1</targetReference>
        </connector>
        <inputAssignments>
            <field>NSL__c</field>
            <value>
                <elementReference>Get_NSL_User_For_CIP_Sector.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SectorCoordinator__c</field>
            <value>
                <elementReference>Get_SBP_User_For_CIP_Sector.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NSL_And_SBP_For_Financial_Services</name>
        <label>Update NSL And SBP For Financial Services</label>
        <locationX>1062</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Checking_NSL_Sector_business_partner2</targetReference>
        </connector>
        <inputAssignments>
            <field>NSL__c</field>
            <value>
                <elementReference>Get_NSL_User_For_Financial_Service.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SectorCoordinator__c</field>
            <value>
                <elementReference>Get_SBP_User_For_Financial_Services.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NSL_And_SBP_For_Global_Delivery</name>
        <label>Update NSL And SBP For Global Delivery</label>
        <locationX>1502</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Checking_NSL_Sector_business_partner3</targetReference>
        </connector>
        <inputAssignments>
            <field>NSL__c</field>
            <value>
                <elementReference>Get_NSL_User_For_Global_Delivery.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SectorCoordinator__c</field>
            <value>
                <elementReference>Get_SBP_User_For_Global_Delivery.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NSL_And_SBP_For_Government</name>
        <label>Update NSL And SBP For Government</label>
        <locationX>1942</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Checking_NSL_Sector_business_partner4</targetReference>
        </connector>
        <inputAssignments>
            <field>NSL__c</field>
            <value>
                <elementReference>Get_NSl_User_For_Government.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SectorCoordinator__c</field>
            <value>
                <elementReference>Get_SBP_User_For_Government.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NSL_And_SBP_For_Law_Firms</name>
        <label>Update NSL And SBP For Law Firms</label>
        <locationX>2382</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Checking_NSL_Sector_business_partner5</targetReference>
        </connector>
        <inputAssignments>
            <field>NSL__c</field>
            <value>
                <elementReference>Get_NSL_User_For_Law_Firms.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SectorCoordinator__c</field>
            <value>
                <elementReference>Get_SBP_User_For_Law_Firms.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NSL_And_SBP_For_Owner_And_Pvt</name>
        <label>Update NSL And SBP For Owner And Pvt</label>
        <locationX>2822</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Checking_NSL_Sector_business_partner6</targetReference>
        </connector>
        <inputAssignments>
            <field>NSL__c</field>
            <value>
                <elementReference>Get_NSL_User_For_Owner_And_Pvt.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SectorCoordinator__c</field>
            <value>
                <elementReference>Get_SBP_User_For_Owner_And_Pvt.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NSL_And_SBP_For_PEVC</name>
        <label>Update NSL And SBP For PE/VC</label>
        <locationX>3262</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Checking_NSL_Sector_business_partner8</targetReference>
        </connector>
        <inputAssignments>
            <field>NSL__c</field>
            <value>
                <elementReference>Get_NSL_User_For_PE_VC.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SectorCoordinator__c</field>
            <value>
                <elementReference>Get_SBP_User_for_PE_VC.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NSL_And_SBP_For_Pharma</name>
        <label>Update NSL And SBP For Pharma</label>
        <locationX>3702</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Checking_NSL_Sector_business_partner9</targetReference>
        </connector>
        <inputAssignments>
            <field>NSL__c</field>
            <value>
                <elementReference>Get_NSL_User_for_Pharma.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SectorCoordinator__c</field>
            <value>
                <elementReference>Get_SBP_User_For_Pharma.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NSL_And_SBP_For_Real_State</name>
        <label>Update NSL And SBP For Real State</label>
        <locationX>4142</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Checking_NSL_Sector_business_partner0</targetReference>
        </connector>
        <inputAssignments>
            <field>NSL__c</field>
            <value>
                <elementReference>Get_NSL_User_For_Real_State.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SectorCoordinator__c</field>
            <value>
                <elementReference>Get_SBP_User_For_Real_State.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NSL_And_SBP_For_TMT</name>
        <label>Update NSL And SBP For TMT</label>
        <locationX>4582</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Checking_NSL_Sector_business_partner10</targetReference>
        </connector>
        <inputAssignments>
            <field>NSL__c</field>
            <value>
                <elementReference>Get_NSL_User_For_TMT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SectorCoordinator__c</field>
            <value>
                <elementReference>Get_SBP_User_for_TMT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NSL_Astha_Malik</name>
        <label>Update Owner Astha Malik</label>
        <locationX>490</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>NSLEmail</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_SBP_User_For_CIP_Sector.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NSL_Mohit_Mathur</name>
        <label>Update Owner Mohit Mathur</label>
        <locationX>1810</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>NSLEmail</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_SBP_User_For_Government.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NSL_Susnato_Sen</name>
        <label>Update Owner Susnato Sen</label>
        <locationX>1370</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>NSLEmail</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_SBP_User_For_Global_Delivery.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NSL_To_Eva_Tiwari</name>
        <label>Update Owner To Eva Tiwari</label>
        <locationX>4010</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>NSLEmail</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_SBP_User_for_TMT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NSL_To_Mansi_Chhabra</name>
        <label>Update Owner To Mansi Chhabra</label>
        <locationX>2250</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>NSLEmail</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_SBP_User_For_Law_Firms.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NSL_To_Ramanujam_Krishnan</name>
        <label>Update Owner To Ramanujam Krishnan</label>
        <locationX>930</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>NSLEmail</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_SBP_User_For_Financial_Services.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Owner_To_Prateek_Kathpal</name>
        <label>Update Owner To Prateek Kathpal</label>
        <locationX>3130</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>NSLEmail</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_SBP_User_for_PE_VC.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Owner_To_Ravi_Pateriya</name>
        <label>Update Owner To Ravi Pateriya</label>
        <locationX>3570</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>NSLEmail</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_SBP_User_For_Pharma.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Owner_To_Sector_Assignment_Queue</name>
        <label>Update Owner To Sector Assignment Queue</label>
        <locationX>4890</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Assign_NSL_sectorcordinator_based_on_other.OwnerId__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateNSLAsthaMalik</name>
        <label>Update Owner Astha Malik</label>
        <locationX>50</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>NSLEmail</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_SBP_User_For_Auto_Sector.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateNSLToRamanujamKrishnan</name>
        <label>Update Owner To Ramanujam Krishnan</label>
        <locationX>4450</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>NSLEmail</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_SBP_User_for_TMT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>3917</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Sector_is_cahnging</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sector__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>NSLEmailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;Dear {!$Record.NSL__r.FirstName} {!$Record.NSL__r.LastName},&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;A new client {!$Record.NewClientNo__c} - {!$Record.Company} has been created in your sector through the {!$Record.LeadSource} channel. Please find the details below:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;Propect Name :            &amp;nbsp;       {!$Record.FirstName} {!$Record.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;Prospect Email:               &amp;nbsp;  &amp;nbsp; {!$Record.Email}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;Inquiry Description :            {!$Record.Description}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;To access the record on LinKreta, please click on the link: &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;{!DetailPageLink}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;Note:- This is a system generated email. Please do not reply to this mail.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SectorCoordinatorEmailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello &lt;strong&gt;{!$Record.SectorCoordinator__r.FirstName}{!$Record.SectorCoordinator__r.LastName}&lt;/strong&gt;,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;New C&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;lient &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;({!$Record.NewClientNo__c}) - {!$Record.Company}&lt;/strong&gt;&lt;strong&gt; &lt;/strong&gt;Created Via &quot;&lt;strong&gt;{!$Record.LeadSource}&lt;/strong&gt;&quot; Dated : &lt;strong style=&quot;color: var(--lwc-colorTextWeak,rgb(68, 68, 68)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;);&quot;&gt;  {!CreatedDate} with following details :-&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Name :&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;{!$Record.FirstName} {!$Record.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Email : &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;{!$Record.Email}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Mobile No :&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp; &lt;/span&gt;{!$Record.MobilePhone}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Company Name :&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;&amp;nbsp;{!$Record.Company}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Sector :&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;{!$Record.Sector__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Remarks :&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;{!$Record.Remark__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(32, 33, 36); font-family: Roboto, arial, sans-serif; background-color: rgb(255, 255, 255);&quot;&gt;To access the record into Salesforce, please click the link below:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!DetailPageLink}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(32, 33, 36); background-color: rgba(32, 33, 36, 0.04); font-size: 14px; font-family: Roboto, sans-serif;&quot;&gt;Please pick up the New Client record at the earliest&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Thanks &amp;amp; Regards&lt;/strong&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;GT Team&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>NSLNotificationVariable</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NSLVariable</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SectorVariable</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
