force-app/main/default/flows/NSL_Email_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>NSL_Email</name>
        <label>Sector Coordionator Email</label>
        <locationX>1634</locationX>
        <locationY>1031</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>NSLEmail</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SectorCoordinatorEmailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>You are assigned as Sector Coordinator for New Client Enquiry  ({!$Record.NewClientNo__c}) - {!$Record.Company}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>NSLEmail</name>
        <label>NSL Email</label>
        <locationX>1634</locationX>
        <locationY>1151</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Get_custom_notification_Type</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>NSLEmailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.NSL__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>NSL</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>NSLEmailwhenchannelismanual</name>
        <label>NSL Email when channel is manual</label>
        <locationX>3394</locationX>
        <locationY>935</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>NSLEmailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.NSL__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>You are appointed as a NSL</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Custom_Notification</name>
        <label>Send Custom Notification</label>
        <locationX>1436</locationX>
        <locationY>1631</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>get_custom_notification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_custom_notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>New client {!$Record.NewClientNo__c} - {!$Record.Company} Created Via &quot;{!$Record.LeadSource}&quot;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>New Client Created</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>SectorVariable</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Custom_Notification_to_NSL</name>
        <label>Send Custom Notification to NSL</label>
        <locationX>1304</locationX>
        <locationY>2111</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_custom_notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>You are appointed as a NSL for New Client ( {!$Record.NewClientNo__c}) - {!$Record.Company}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>You are appointed as a NSL for New Client Record</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>NSLVariable</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendCustomNotificationtoNSLwhensourceischannel</name>
        <label>Send Custom Notification to NSL when source is channel</label>
        <locationX>3394</locationX>
        <locationY>815</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>NSLEmailwhenchannelismanual</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>get_custom_notification_for_NSL.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>You are appointed as a NSL for New Client ( {!$Record.NewClientNo__c}) - {!$Record.Company}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>You are appointed as a NSL for New Client record</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>NSLNotificationVariable</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_Lead_id_of_NSL_User</name>
        <label>Add Lead id of NSL User</label>
        <locationX>1436</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>SectorVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Custom_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddLeadidofNSLUser</name>
        <label>Add Lead id of NSL User</label>
        <locationX>1304</locationX>
        <locationY>1991</locationY>
        <assignmentItems>
            <assignToReference>NSLVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.NSL__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Custom_Notification_to_NSL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNSLInVariable</name>
        <label>Assign NSL In Variable</label>
        <locationX>3394</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>NSLNotificationVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.NSL__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendCustomNotificationtoNSLwhensourceischannel</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_if_notification_is_found</name>
        <label>check if notification is found</label>
        <locationX>1634</locationX>
        <locationY>1391</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>notification_is_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_custom_notification_Type.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Lead_id_of_NSL_User</targetReference>
            </connector>
            <label>notification is found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Custom_Notification_for_nsl_is_found</name>
        <label>Custom Notification for nsl is found</label>
        <locationX>3526</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>nslnotificationfound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_custom_notification_for_NSL.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignNSLInVariable</targetReference>
            </connector>
            <label>nsl notification found</label>
        </rules>
    </decisions>
    <decisions>
        <name>notificationisfound</name>
        <label>notification is found</label>
        <locationX>1436</locationX>
        <locationY>1871</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>notification_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_custom_notification_Type.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddLeadidofNSLUser</targetReference>
            </connector>
            <label>notification found</label>
        </rules>
    </decisions>
    <decisions>
        <name>sector</name>
        <label>sector</label>
        <locationX>1634</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>NSL_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Auto_Auto_Components</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetLeadId.Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Automobile &amp; Auto Components</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateNSLAsthaMalik</targetReference>
            </connector>
            <label>Auto &amp; Auto Components</label>
        </rules>
        <rules>
            <name>CIP_Retail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetLeadId.Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consumers &amp; Industrial Products and Retail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_NSL_Astha_Malik</targetReference>
            </connector>
            <label>CIP &amp; Retail</label>
        </rules>
        <rules>
            <name>Financial_Services</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetLeadId.Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Financial Services</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_NSL_To_Ramanujam_Krishnan</targetReference>
            </connector>
            <label>Financial Services</label>
        </rules>
        <rules>
            <name>Global_Delivery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetLeadId.Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Global Delivery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_NSL_Susnato_Sen</targetReference>
            </connector>
            <label>Global Delivery</label>
        </rules>
        <rules>
            <name>Govt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetLeadId.Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Government</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_NSL_Mohit_Mathur</targetReference>
            </connector>
            <label>Govt</label>
        </rules>
        <rules>
            <name>Law_Firms</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetLeadId.Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Law Firms</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_NSL_To_Mansi_Chhabra</targetReference>
            </connector>
            <label>Law Firms</label>
        </rules>
        <rules>
            <name>Owners_Private_Clients</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetLeadId.Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Owners &amp; Private Clients</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_NSL_Aashman_Bhatia</targetReference>
            </connector>
            <label>Owners &amp; Private Clients</label>
        </rules>
        <rules>
            <name>PE_VC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetLeadId.Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Private Equity / Venture Capital</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_NSL_To_Kartik_Malhotra</targetReference>
            </connector>
            <label>PE / VC</label>
        </rules>
        <rules>
            <name>Pharma_Healthcare_Services</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetLeadId.Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pharma &amp; Healthcare Services</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_NSL_To_Mohit_Mathur</targetReference>
            </connector>
            <label>Pharma &amp; Healthcare Services</label>
        </rules>
        <rules>
            <name>Real_Estate_Infra</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetLeadId.Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Real Estate &amp; Infrastructure</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_NSL_To_Eva_Tiwari</targetReference>
            </connector>
            <label>Real Estate &amp; Infra</label>
        </rules>
        <rules>
            <name>TMT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetLeadId.Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technology, Media &amp; Telecom</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateNSLToRamanujamKrishnan</targetReference>
            </connector>
            <label>TMT</label>
        </rules>
        <rules>
            <name>Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Others</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Owner_To_Sector_Assignment_Queue</targetReference>
            </connector>
            <label>Other</label>
        </rules>
    </decisions>
    <decisions>
        <name>Source_is_manual_or_not</name>
        <label>Source is manual or not</label>
        <locationX>2778</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Manual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetLeadId</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manual</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Channel__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Visiting card</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_custom_notification_for_NSL</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CreatedDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.CreatedDate})</expression>
    </formulas>
    <formulas>
        <name>TaskDueDate</name>
        <dataType>Date</dataType>
        <expression>Today() +2</expression>
    </formulas>
    <interviewLabel>NSL Email &amp; Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NSL Email &amp; Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_custom_notification</name>
        <label>get custom notification for NSL</label>
        <locationX>1436</locationX>
        <locationY>1751</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>notificationisfound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NSLAssignedNotification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_custom_notification_for_NSL</name>
        <label>get custom notification for NSL</label>
        <locationX>3526</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Custom_Notification_for_nsl_is_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NSLAssignedNotification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_custom_notification_Type</name>
        <label>Get custom notification Type for sector coordinator</label>
        <locationX>1634</locationX>
        <locationY>1271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_if_notification_is_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NotifySectorCoordinator</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetLeadId</name>
        <label>Get Lead Id</label>
        <locationX>1634</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sector</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_NSL</name>
        <label>Update NSL</label>
        <locationX>1634</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>NSL_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>NSL__c</field>
            <value>
                <stringValue>0056D000005p5AbQAI</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NSL_Aashman_Bhatia</name>
        <label>Update Owner Aashman Bhatia</label>
        <locationX>1634</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Update_NSL</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0056D000005p5AbQAI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SectorCoordinator__c</field>
            <value>
                <stringValue>0056D000005p5AbQAI</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_NSL_Alok_Saigal</name>
        <label>update NSL Alok Saigal</label>
        <locationX>842</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>NSL_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>NSL__c</field>
            <value>
                <stringValue>0055j000005XR2SAAW</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_NSL_Ashish_Chhawchharia</name>
        <label>update NSL Ashish Chhawchharia</label>
        <locationX>1370</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>NSL_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>NSL__c</field>
            <value>
                <stringValue>0055j000005XR2SAAW</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NSL_Astha_Malik</name>
        <label>Update Owner Astha Malik</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>update_NSL_Naveen_Malpani</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0055j000005XR1yAAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SectorCoordinator__c</field>
            <value>
                <stringValue>0055j000005XR1yAAG</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_NSL_Bhanu_Prakash_Kalmath</name>
        <label>update NSL Bhanu Prakash Kalmath</label>
        <locationX>2162</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>NSL_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>NSL__c</field>
            <value>
                <stringValue>0055j000005XR2SAAW</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_NSL_Dinesh_Anand</name>
        <label>update NSL Dinesh Anand</label>
        <locationX>1898</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>NSL_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>NSL__c</field>
            <value>
                <stringValue>0056D000005nC8EQAU</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_NSL_Khushroo_Panthaky</name>
        <label>update NSL Khushroo Panthaky</label>
        <locationX>578</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>NSL_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>NSL__c</field>
            <value>
                <stringValue>0055j000005XR2SAAW</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_NSL_Kunal_Sood</name>
        <label>update NSL Kunal Sood</label>
        <locationX>1106</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>NSL_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>NSL__c</field>
            <value>
                <stringValue>0055j000005XR2SAAW</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NSL_Mohit_Mathur</name>
        <label>Update Owner Mohit Mathur</label>
        <locationX>1106</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>update_NSL_Kunal_Sood</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0055j000005XQxSAAW</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SectorCoordinator__c</field>
            <value>
                <stringValue>0055j000005XQxSAAW</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_NSL_Naveen_Malpani</name>
        <label>update NSL Naveen Malpani</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>NSL_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>NSL__c</field>
            <value>
                <stringValue>0055j000005XR2SAAW</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_NSL_Neeraj_Sharma</name>
        <label>update NSL Neeraj Sharma</label>
        <locationX>2426</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>NSL_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>NSL__c</field>
            <value>
                <stringValue>0055j000005XR2SAAW</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_NSL_Raja_Lahiri</name>
        <label>update NSL Raja Lahiri</label>
        <locationX>2690</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>NSL_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>NSL__c</field>
            <value>
                <stringValue>0055j000005XR2SAAW</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_NSL_Saket_Mehra</name>
        <label>update NSL Saket Mehra</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>NSL_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>NSL__c</field>
            <value>
                <stringValue>0055j000005XR2SAAW</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NSL_Susnato_Sen</name>
        <label>Update Owner Susnato Sen</label>
        <locationX>842</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>update_NSL_Alok_Saigal</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0055j000005XQxSAAW</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SectorCoordinator__c</field>
            <value>
                <stringValue>0055j000005XQxSAAW</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NSL_To_Eva_Tiwari</name>
        <label>Update Owner To Eva Tiwari</label>
        <locationX>2426</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>update_NSL_Neeraj_Sharma</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0055j000005XR1yAAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SectorCoordinator__c</field>
            <value>
                <stringValue>0055j000005XR1yAAG</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NSL_To_Kartik_Malhotra</name>
        <label>Update Owner To Kartik Malhotra</label>
        <locationX>1898</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>update_NSL_Dinesh_Anand</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0056D000005nC8EQAU</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SectorCoordinator__c</field>
            <value>
                <stringValue>0056D000005nC8EQAU</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NSL_To_Mansi_Chhabra</name>
        <label>Update Owner To Mansi Chhabra</label>
        <locationX>1370</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>update_NSL_Ashish_Chhawchharia</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0055j000005XQxSAAW</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SectorCoordinator__c</field>
            <value>
                <stringValue>0055j000005XQxSAAW</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NSL_To_Mohit_Mathur</name>
        <label>Update Owner To Mohit Mathur</label>
        <locationX>2162</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>update_NSL_Bhanu_Prakash_Kalmath</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0055j000005XQxSAAW</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SectorCoordinator__c</field>
            <value>
                <stringValue>0055j000005XQxSAAW</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NSL_To_Ramanujam_Krishnan</name>
        <label>Update Owner To Ramanujam Krishnan</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>update_NSL_Khushroo_Panthaky</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0055j000005XQxSAAW</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SectorCoordinator__c</field>
            <value>
                <stringValue>0055j000005XQxSAAW</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Owner_To_Sector_Assignment_Queue</name>
        <label>Update Owner To Sector Assignment Queue</label>
        <locationX>2954</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G6D000004aft6UAA</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateNSLAsthaMalik</name>
        <label>Update Owner Astha Malik</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>update_NSL_Saket_Mehra</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0055j000005XR1yAAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SectorCoordinator__c</field>
            <value>
                <stringValue>0055j000005XR1yAAG</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateNSLToRamanujamKrishnan</name>
        <label>Update Owner To Ramanujam Krishnan</label>
        <locationX>2690</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>update_NSL_Raja_Lahiri</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0055j000005XR1yAAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SectorCoordinator__c</field>
            <value>
                <stringValue>0055j000005XR1yAAG</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>2652</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Source_is_manual_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sector__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>NSL__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>NSLEmailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Hello &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!$Record.NSL__r.FirstName} {!$Record.NSL__r.LastName}&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;, &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;You are now appointed as a NSL for New Client&lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt; {!$Record.NewClientNo__c} - {!$Record.Company}&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;. Below are the details :-&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Company Name :‎‎‎‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎‎&amp;nbsp;&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&lt;strong&gt;&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎{!$Record.Company}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Email : ‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎{!$Record.Email}&lt;/p&gt;&lt;p&gt;Phone : ‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;{!$Record.MobilePhone}&lt;/p&gt;&lt;p&gt;Website : ‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;{!$Record.Website}&lt;/p&gt;&lt;p&gt;Sector  : ‎&amp;nbsp;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎{!$Record.Sector__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Remarks : ‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;{!$Record.Remark__c}&lt;/p&gt;&lt;p&gt;New Client Source:                  {!$Record.LeadSource}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-family: &amp;quot;Times New Roman&amp;quot;; font-size: medium;&quot;&gt;To access the record into Salesforce, please click the link below:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;https://grantthornton--lkpa1uatp.sandbox.lightning.force.com/&lt;span style=&quot;color: rgb(0, 0, 0); font-family: &amp;quot;Times New Roman&amp;quot;; font-size: medium;&quot;&gt;/{!$Record.Id}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Thanks &amp;amp; Regards &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;GT Team﻿&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SectorCoordinatorEmailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello &lt;strong&gt;Sector &amp;amp; Coordinator&lt;/strong&gt;,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;New C&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;lient Enquiry&lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt; ({!$Record.NewClientNo__c}) - {!$Record.Company}&lt;/strong&gt;&lt;strong&gt; &lt;/strong&gt;Created Via &quot;&lt;strong&gt;{!$Record.LeadSource}&lt;/strong&gt;&quot; Dated : &lt;strong style=&quot;color: var(--lwc-colorTextWeak,rgb(68, 68, 68)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;);&quot;&gt;  {!CreatedDate} with following details :-&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Name :&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎{!$Record.FirstName} {!$Record.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Email : ‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎{!$Record.Email}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Mobile No :&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎ ‎&lt;/span&gt;{!$Record.MobilePhone}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Company Name :‎‎‎‎&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎‎&amp;nbsp;&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;&amp;nbsp;‎‎{!$Record.Company}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Sector :&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎{!$Record.Sector__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Remarks :&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎{!$Record.Remark__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;New Client Source: &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; ‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎{!$Record.LeadSource}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(32, 33, 36); font-family: Roboto, arial, sans-serif; background-color: rgb(255, 255, 255);&quot;&gt;To access the record into Salesforce, please click the link below:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;https://grantthornton--lkdv1dvn.sandbox.lightning.force.com/{!$Record.Id}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(32, 33, 36); background-color: rgba(32, 33, 36, 0.04); font-size: 14px; font-family: Roboto, sans-serif;&quot;&gt;Please pick up the New Client enquiry record at the earliest&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Thanks &amp;amp; Regards&lt;/strong&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;﻿&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;GT Team&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>NSLNotificationVariable</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NSLVariable</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SectorVariable</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
