force-app/main/default/flows/Once_update_the_quote_with_Enquiry_Discount_Same_discount_value_will_be_updated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_quote_Line_Item_record_Id</name>
        <label>Assign quote Line Item record Id</label>
        <locationX>138</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>QuoteLineItemsIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_quote_related_quote_line_items.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_quote_related_quote_line_items</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Get_Quote_Line_Item_record_is_found</name>
        <label>Get Quote Line Item record is found</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote_related_Quote_Line_Items_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_quote_related_quote_line_items</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Once update the quote with Enquiry Discount, Same discount% value will be updated for all Quote line items.</description>
    <environments>Default</environments>
    <interviewLabel>Once update the quote with Enquiry Discount, Same discount% value will be updated for all Quote line items. {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Once update the quote with Enquiry Discount, Same discount% value will be updated for all Quote line items.</label>
    <loops>
        <name>Loop_over_quote_related_quote_line_items</name>
        <label>Loop over quote related quote line items</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_Quote_related_Quote_Line_Items_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_quote_Line_Item_record_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Quote_Line_Items_with_quote_enquiry_discount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Quote_related_Quote_Line_Items_Record</name>
        <label>Get Quote related Quote Line Items Record</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Quote_Line_Item_record_is_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Quote_Line_Items_with_quote_enquiry_discount</name>
        <label>Update Quote Line Items with quote enquiry discount</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>QuoteLineItemsIds</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Discount</field>
            <value>
                <elementReference>$Record.EnquiryDiscount__c</elementReference>
            </value>
        </inputAssignments>
        <object>QuoteLineItem</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote_related_Quote_Line_Items_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EnquiryDiscount__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Quote</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>QuoteLineItemsIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
