force-app/main/default/flows/Proposal_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Creative_Hub_API_Controller</name>
        <label>Creative Hub API Controller</label>
        <locationX>50</locationX>
        <locationY>1334</locationY>
        <actionName>CreativeHubAPIController</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>oppoIds</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Count_Enquiry_Team_Member</name>
        <label>Count Enquiry Team Member</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <assignmentItems>
            <assignToReference>CountListofenquiry</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ListofEnquiryIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Proposal_Creation_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_Enquiry_Ids</name>
        <label>set Enquiry Ids</label>
        <locationX>270</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>ListofEnquiryIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>List_of_Record_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>List_of_Record_Id</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Requestforcustomisedclientproposal</name>
        <choiceText>Request for customised client proposal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Request for customised client proposal</stringValue>
        </value>
    </choices>
    <choices>
        <name>Requestforsupportingcontent</name>
        <choiceText>Request for supporting content</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Request for supporting content</stringValue>
        </value>
    </choices>
    <decisions>
        <name>check_Integrated_enquiry</name>
        <label>check Integrated enquiry</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DataisNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Creative_Hub_API_Controller</targetReference>
            </connector>
            <label>DataisNotNull</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ChildEnquiries</name>
        <collectionReference>get_enquiry</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Opportunity</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MultiChoiceSet</name>
        <collectionReference>get_enquiry</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Opportunity</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Proposal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Proposal Creation</label>
    <loops>
        <name>List_of_Record_Id</name>
        <label>List of Record Id</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <collectionReference>get_enquiry</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>set_Enquiry_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Count_Enquiry_Team_Member</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_enquiry</name>
        <label>get enquiry</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>List_of_Record_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IntegratedEnquiry__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Id</name>
        <label>Get Integrated Enquiry Id</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_enquiry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IntegratedEnquiry__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Child_Integrated_Enquiries</name>
        <label>Update Child Integrated Enquiries</label>
        <locationX>182</locationX>
        <locationY>1094</locationY>
        <connector>
            <targetReference>check_Integrated_enquiry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Child_Enquiries__c</field>
            <value>
                <elementReference>Enquiries</elementReference>
            </value>
        </inputAssignments>
        <object>IntegratedEnquiry__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_the_enquiry_record</name>
        <label>update the enquiry record</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Update_Child_Integrated_Enquiries</targetReference>
        </connector>
        <inputReference>Get_Opportunity_Id</inputReference>
    </recordUpdates>
    <screens>
        <name>Proposal_Creation_Form</name>
        <label>Proposal Creation Form</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>update_the_enquiry_record</targetReference>
        </connector>
        <fields>
            <name>Type_Of_Request</name>
            <choiceReferences>Requestforcustomisedclientproposal</choiceReferences>
            <choiceReferences>Requestforsupportingcontent</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type Of Request</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Opportunity_Id.Type_of_content__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type_Of_Request</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Requestforsupportingcontent</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Opportunity_Id.Project_Name__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Type_Of_Request</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Requestforcustomisedclientproposal</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Type_Of_Request</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Requestforsupportingcontent</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Opportunity_Id.Type_of_document__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type_Of_Request</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Requestforcustomisedclientproposal</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Opportunity_Id.Level_of_support__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type_Of_Request</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Requestforcustomisedclientproposal</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Opportunity_Id.Sector__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Type_Of_Request</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Requestforcustomisedclientproposal</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Type_Of_Request</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Requestforsupportingcontent</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Opportunity_Id.SubSector__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type_Of_Request</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Requestforcustomisedclientproposal</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Opportunity_Id.Specify_details_of_support_required__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type_Of_Request</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Requestforcustomisedclientproposal</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Opportunity_Id.Legal_entity__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type_Of_Request</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Requestforcustomisedclientproposal</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Opportunity_Id.Lead_member_firm__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type_Of_Request</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Requestforcustomisedclientproposal</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Opportunity_Id.Proposal_value__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type_Of_Request</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Requestforcustomisedclientproposal</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Opportunity_Id.Support_required__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Type_Of_Request</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Requestforcustomisedclientproposal</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Type_Of_Request</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Requestforsupportingcontent</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Opportunity_Id.Type_of_content__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type_Of_Request</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Requestforsupportingcontent</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Type_Of_Request</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Requestforcustomisedclientproposal</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Opportunity_Id.Specify_details_of_content__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type_Of_Request</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Requestforsupportingcontent</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Opportunity_Id.Reason_for_request__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type_Of_Request</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Requestforsupportingcontent</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Opportunity_Id.Attachment__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type_Of_Request</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Requestforcustomisedclientproposal</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>File_Upload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Proposal File</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type_Of_Request</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Requestforcustomisedclientproposal</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enquiries</name>
            <choiceReferences>MultiChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Enquiries</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Type_Of_Request</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Requestforcustomisedclientproposal</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Type_Of_Request</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Requestforsupportingcontent</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContentDocumentId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CountListofenquiry</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ListofEnquiryIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
