force-app/main/default/flows/Send_Email_Notification_To_C_M_Team_and_Create_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Notification_to_User</name>
        <label>Send Notification to User</label>
        <locationX>50</locationX>
        <locationY>1751</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Markets Ecosystems Team , New Client has reached Client Take-On PreWork. Kindly pick &quot;Client take-on Preparation Deck&quot; task.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Client Take-On PreWork Reached</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>GroupMemberId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Task_Due_Date_Value</name>
        <label>Assign Task Due Date Value</label>
        <locationX>50</locationX>
        <locationY>1391</locationY>
        <assignmentItems>
            <assignToReference>TaskDueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculateDueDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_CM_Team_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>List_of_User_Id</name>
        <label>List of User Id</label>
        <locationX>270</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>GroupMemberId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_User_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_Get_Each_Group_Member_Detail</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Notification</name>
        <label>Check Notification</label>
        <locationX>182</locationX>
        <locationY>1271</locationY>
        <defaultConnectorLabel>Custom Notification False</defaultConnectorLabel>
        <rules>
            <name>Custom_Notification_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Custom_Notification.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Task_Due_Date_Value</targetReference>
            </connector>
            <label>Custom Notification True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Changed</name>
        <label>Status Changed</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Take-On PreWork</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CM_Team_Group</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CalculateDueDate</name>
        <dataType>Date</dataType>
        <expression>CASE(
  {!CurrentDay},
  &quot;Sunday&quot;,TODAY()+2 ,
  &quot;Monday&quot;,TODAY()+1,
  &quot;Wednesday&quot;,TODAY()+6,
  &quot;Thursday&quot;,TODAY()+5,
  &quot;Friday&quot;,TODAY()+4, 
  &quot;Saturday&quot;,TODAY()+3,
TODAY()+0
)</expression>
    </formulas>
    <formulas>
        <name>CreatedDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.CreatedDate})</expression>
    </formulas>
    <formulas>
        <name>CurrentDay</name>
        <dataType>String</dataType>
        <expression>CASE(
  MOD( TODAY()- DATE( 1900, 1, 7 ), 7 ),
  0, &quot;Sunday&quot;,
  1, &quot;Monday&quot;,
  2, &quot;Tuesday&quot;,
  3, &quot;Wednesday&quot;,
  4, &quot;Thursday&quot;,
  5, &quot;Friday&quot;, 
  &quot;Saturday&quot;
)</expression>
    </formulas>
    <interviewLabel>Send Email &amp; Notification To C&amp;M Team and Create Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Client - After Update | Send Email &amp; Notification To C&amp;M Team and Create Task</label>
    <loops>
        <name>Loop_for_Get_Each_Group_Member_Detail</name>
        <label>Loop for Get Each Group Member Detail</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <collectionReference>Get_Group_Member</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_User_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Custom_Notification</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task_for_CNM_Team</name>
        <label>Create Task for CM Team</label>
        <locationX>50</locationX>
        <locationY>1631</locationY>
        <connector>
            <targetReference>Send_Notification_to_User</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TaskDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_CM_Team_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Client Take-On Preparation Deck</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_CM_Team_Group</name>
        <label>Get CM Team Group</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Group_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>C_M_Team</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CM_Team_Queue</name>
        <label>Get CM Team Queue</label>
        <locationX>50</locationX>
        <locationY>1511</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Task_for_CNM_Team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>C_M_Team_Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Notification</name>
        <label>Get Custom Notification</label>
        <locationX>182</locationX>
        <locationY>1151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NotificationToClientCouncilTeam</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_Member</name>
        <label>Get Group Member</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_for_Get_Each_Group_Member_Detail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_CM_Team_Group.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Id</name>
        <label>Get User Id</label>
        <locationX>270</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>List_of_User_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_for_Get_Each_Group_Member_Detail.UserOrGroupId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status_Changed</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client Take-On PreWork</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Email_Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello &lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Markets Ecosystems&lt;/strong&gt;&lt;strong&gt; Team&lt;/strong&gt;,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;New C&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;lient&lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt; {!$Record.NewClientNo__c} - {!$Record.Company}&lt;/strong&gt;&lt;strong&gt; &lt;/strong&gt;Created Via &quot;{!$Record.LeadSource}&quot; Dated : &lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!CreatedDate}&lt;/strong&gt;  with following details :-&lt;/p&gt;&lt;p&gt;Name :&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎{!$Record.FirstName} {!$Record.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Email : ‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎{!$Record.Email}&lt;/p&gt;&lt;p&gt;Mobile No :&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎ ‎&lt;/span&gt;{!$Record.MobilePhone}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Company Name :‎‎‎‎&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎‎&amp;nbsp;&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;&amp;nbsp;‎‎{!$Record.Company}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Sector :&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎{!$Record.Sector__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-family: Roboto, arial, sans-serif; color: rgb(32, 33, 36);&quot;&gt;To access the record into Salesforce, please click the link below:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;https://grantthornton--lkdv1dvn.sandbox.lightning.force.com/{!$Record.Id}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(32, 33, 36); font-family: Roboto, sans-serif; font-size: 14px; background-color: rgba(32, 33, 36, 0.04);&quot;&gt;Please pick up the New Client enquiry record at the earliest&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Thanks &amp;amp; Regards&lt;/strong&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;﻿&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;GT Team&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CNMGroupMemberId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GroupMemberId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListofEmail</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskDueDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
