force-app/main/default/flows/Send_Email_Notification_To_NSL_When_New_client_source_is_Visiting_Card.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>NSL_Email</name>
        <label>NSL Email</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Send_Custom_Notification_to_NSL</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>NslEmailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.NSL__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>NSL</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Custom_Notification_to_NSL</name>
        <label>Send Custom Notification to NSL</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>get_custom_notification_for_NSL.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>You are appointed as a NSL for New Client ( {!$Record.NewClientNo__c}) - {!$Record.Company}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>NSL is assigned to you</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>NSLNotificationVariable</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_NSL_In_Variable</name>
        <label>Assign NSL In Variable</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>NSLNotificationVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.NSL__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NSL_Email</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Custom_Notification_for_nsl_is_found</name>
        <label>Custom Notification for nsl is found</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>nsl_notification_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_custom_notification_for_NSL.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_NSL_In_Variable</targetReference>
            </connector>
            <label>nsl notification found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Send Email Notification To NSL When New client source is Visiting Card {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Email Notification To NSL When New client source is Visiting Card</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_custom_notification_for_NSL</name>
        <label>get custom notification for NSL</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Custom_Notification_for_nsl_is_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NSLAssignedNotification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_custom_notification_for_NSL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Channel__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Visiting card</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>NslEmailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Hello &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!$Record.NSL__r.FirstName} {!$Record.NSL__r.LastName}&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;, &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;You are now appointed as a NSL for New Client&lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt; {!$Record.NewClientNo__c} - {!$Record.Company}&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;. Below are the details :-&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Company Name :‎‎‎‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎‎&amp;nbsp;&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&lt;strong&gt;&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎{!$Record.Company}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Email : ‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎{!$Record.Email}&lt;/p&gt;&lt;p&gt;Phone : ‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;{!$Record.MobilePhone}&lt;/p&gt;&lt;p&gt;Website : ‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;{!$Record.Website}&lt;/p&gt;&lt;p&gt;Sector  : ‎&amp;nbsp;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎{!$Record.Sector__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Remarks : ‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;{!$Record.Remark__c}&lt;/p&gt;&lt;p&gt;New Client Source:                  {!$Record.LeadSource}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: medium; font-family: &amp;quot;Times New Roman&amp;quot;; color: rgb(0, 0, 0);&quot;&gt;To access the record into Salesforce, please click the link below:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;https://grantthornton--lkpa1uatp.sandbox.lightning.force.com/&lt;span style=&quot;font-size: medium; font-family: &amp;quot;Times New Roman&amp;quot;; color: rgb(0, 0, 0);&quot;&gt;/{!$Record.Id}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Thanks &amp;amp; Regards &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;GT Team﻿&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>NSLNotificationVariable</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
