force-app/main/default/flows/Send_Email_Notify_Reactivate_the_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_notify_DS_Team_CSL_Co_CSL_Young_Csl</name>
        <label>Copy 1 of notify  DS Team/CSL/Co-CSL/Young Csl</label>
        <locationX>182</locationX>
        <locationY>935</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Email_To_Client_Contact_Owner</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>emailids</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Contact status has been marked as Active.</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_To_Client_Contact_Owner</name>
        <label>Email To Client Contact Owner</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Get_DS_Team_group</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_contact_related_with_opportunity_contact_role.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Contact status has been marked as Active.</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notify_CSL_COCSL_YOUNG_CSL_CONTACT_OWNER</name>
        <label>Notify CSL COCSL YOUNG CSL CONTACT OWNER</label>
        <locationX>50</locationX>
        <locationY>1655</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>{!Get_contact_related_with_opportunity_contact_role.FirstName} {!Get_contact_related_with_opportunity_contact_role.LastName}  status has been marked as Active </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>{!Get_contact_related_with_opportunity_contact_role.FirstName} {!Get_contact_related_with_opportunity_contact_role.LastName}  status has been marked as Active </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>CSLIDS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>add_notifier_in_email</name>
        <label>add notifier in email</label>
        <locationX>380</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>emailids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_contact_related_with_opportunity_contact_role.CSL__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_contact_related_with_opportunity_contact_role.CoCsl__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_contact_related_with_opportunity_contact_role.YoungCSL__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>COLLECTION_VARIABLE_IS_FOUND</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CSL_COCSL_YOUNGCSL_CONTACT_OWNER_Id</name>
        <label>Assign CSL COCSL YOUNGCSL CONTACT OWNER Id</label>
        <locationX>50</locationX>
        <locationY>1535</locationY>
        <assignmentItems>
            <assignToReference>CSLIDS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_contact_related_with_opportunity_contact_role.CSL__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CSLIDS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_contact_related_with_opportunity_contact_role.CoCsl__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CSLIDS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_contact_related_with_opportunity_contact_role.YoungCSL__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CSLIDS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_contact_related_with_opportunity_contact_role.Owner.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notify_CSL_COCSL_YOUNG_CSL_CONTACT_OWNER</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>COLLECTION_VARIABLE_IS_FOUND</name>
        <label>COLLECTION VARIABLE IS FOUND</label>
        <locationX>380</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>emailids</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_notify_DS_Team_CSL_Co_CSL_Young_Csl</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_is_found</name>
        <label>Contact is found</label>
        <locationX>858</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_contact_related_with_opportunity_contact_role.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Role_is_changing</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Notification_is_found</name>
        <label>Notification is found</label>
        <locationX>182</locationX>
        <locationY>1415</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Custom_Notification.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CSL_COCSL_YOUNGCSL_CONTACT_OWNER_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Role_is_changing</name>
        <label>Role is changing</label>
        <locationX>611</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Role</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Role</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Role</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Detractor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>add_notifier_in_email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Send Email/Notification when Reactivate the Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Email Notify Reactivate the Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_contact_related_with_opportunity_contact_role</name>
        <label>Get contact related with opportunity contact role</label>
        <locationX>858</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_is_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact_status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Notification</name>
        <label>Get Custom Notification</label>
        <locationX>182</locationX>
        <locationY>1295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Notification_is_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>notify_the_Account_LeaderDS_TeamCSLCoCSLYoung_CSL</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_DS_Team_group</name>
        <label>Get DS Team group</label>
        <locationX>182</locationX>
        <locationY>1175</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Custom_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DS_Team</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>732</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_contact_related_with_opportunity_contact_role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Role</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Detractor</stringValue>
            </value>
        </filters>
        <object>OpportunityContactRole</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Dear Team&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;In light of recent events, the contact &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;{!Get_contact_related_with_opportunity_contact_role.FirstName} {!Get_contact_related_with_opportunity_contact_role.LastName} &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;status has been marked as Active in the system due to &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;{!Get_contact_related_with_opportunity_contact_role.Reason_for_Active__c}&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;With Regards&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;GT Team&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>ClientContactOwner</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>COCSLIDS</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CSLIDS</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>emailids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>YoungCslIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
