force-app/main/default/flows/Send_Notification_Email_To_CSL_Client_Contact_Owner_If_Contact_Updated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_To_Contact_Owner</name>
        <label>Email To Contact Owner</label>
        <locationX>182</locationX>
        <locationY>815</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Get_Custom_Notification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailToContactOwner</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Client Contact {!$Record.FirstName} {!$Record.LastName} has been updated</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_to_CSL</name>
        <label>Email to CSL</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Email_To_Contact_Owner</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailToCSL</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.CSL__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Client Contact {!$Record.FirstName} {!$Record.LastName} has been updated</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notify_Client_Contact_Owner</name>
        <label>Notify Client Contact Owner</label>
        <locationX>50</locationX>
        <locationY>1535</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Client Contact {!$Record.FirstName} {!$Record.LastName} has been updated</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Client Contact {!$Record.FirstName} {!$Record.LastName} has been updated</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>ClientContactOwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notify_CSL</name>
        <label>Notify CSL</label>
        <locationX>50</locationX>
        <locationY>1415</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Notify_Client_Contact_Owner</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Client Contact {!$Record.FirstName} {!$Record.LastName} has been updated</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Client Contact {!$Record.FirstName} {!$Record.LastName} has been updated</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>CSLId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Client_Owner_Id</name>
        <label>Assign Client Owner Id</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>ClientContactOwnerId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notify_CSL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CSL_Id</name>
        <label>Assign CSL Id</label>
        <locationX>50</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>CSLId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CSL__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Client_Owner_Id</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CSL_Contact_Owner_Email_Found</name>
        <label>CSL &amp; Contact Owner Email Found</label>
        <locationX>380</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CSL__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_to_CSL</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Found_Key_Client</name>
        <label>If Found Key Client</label>
        <locationX>611</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Key_Client.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CSL_Contact_Owner_Email_Found</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Notification_Found</name>
        <label>Notification Found</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Custom_Notification.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CSL_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Send Notification &amp; Email To CSL &amp; Client Contact Owner If Contact Updated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Notification &amp; Email To CSL &amp; Client Contact Owner If Contact Updated</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Custom_Notification</name>
        <label>Get Custom Notification</label>
        <locationX>182</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Notification_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Notify_CSL_Key_Contact_Owner</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Key_Client</name>
        <label>Get Key Client</label>
        <locationX>611</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Found_Key_Client</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Key Client</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Key_Client</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>emailToContactOwner</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello &lt;strong&gt;{!$Record.Owner.FirstName} {!$Record.Owner.LastName}&lt;/strong&gt;,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Client Contact &lt;strong&gt;{!$Record.FirstName} {!$Record.LastName}&lt;/strong&gt; has been updated.&lt;/p&gt;&lt;p&gt;To access the record into Salesforce, please click the link below:&lt;/p&gt;&lt;p&gt;https://grantthornton--lkdv1dvn.sandbox.lightning.force.com/{!$Record.Id}&lt;/p&gt;&lt;p&gt;Please pick up the New Client enquiry record at the earliest&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Thanks &amp;amp; Regards&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;GT Team&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>emailToCSL</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello &lt;strong&gt;{!$Record.CSL__r.FirstName} {!$Record.CSL__r.LastName}&lt;/strong&gt;,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Client Contact &lt;strong&gt;{!$Record.FirstName} {!$Record.LastName}&lt;/strong&gt; has been updated.&lt;/p&gt;&lt;p&gt;To access the record into Salesforce, please click the link below:&lt;/p&gt;&lt;p&gt;https://grantthornton--lkdv1dvn.sandbox.lightning.force.com/{!$Record.Id}&lt;/p&gt;&lt;p&gt;Please pick up the New Client enquiry record at the earliest&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Thanks &amp;amp; Regards&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;GT Team&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>ClientContactOwnerId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CSLId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
