force-app/main/default/flows/Total_Commercial_Amount_On_Integrated_Enquiry.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>set_Integrated_Total_Commercial_Amount</name>
        <label>set Integrated Total Commercial Amount</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Total_Commercial_Integrated_Amount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Integrated_Enquiry.Total_Commercial_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Total_Commercial_Integrated_Amount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Enquiry_Amount</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Enquiry_Amount</name>
        <label>Check Enquiry Amount</label>
        <locationX>182</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Amount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Amount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Integrated_Enquiry_Commercial_Amount</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Enquiry_Is_Synced_With_Commercial</name>
        <label>Enquiry Is Synced With Commercial</label>
        <locationX>380</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Remove_Non_Synced_Commercial_Amount_From_Integrated_Enquiry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Commercial Not Synced</defaultConnectorLabel>
        <rules>
            <name>Commercial_Synced</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SyncedQuoteId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_Integrated_Total_Commercial_Amount</targetReference>
            </connector>
            <label>Commercial Synced</label>
        </rules>
    </decisions>
    <decisions>
        <name>Related_Integrated_Enquiry_Found</name>
        <label>Related Integrated Enquiry Found</label>
        <locationX>611</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IntegratedEnquiryFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Integrated_Enquiry.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enquiry_Is_Synced_With_Commercial</targetReference>
            </connector>
            <label>IntegratedEnquiryFound</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>RemoveNonSyncedCommercialAmount</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Integrated_Enquiry.Total_Commercial_Amount__c}-{!$Record.Amount}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Total Commercial Amount On Integrated Enquiry {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Total Commercial Amount On Integrated Enquiry</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Integrated_Enquiry</name>
        <label>Get Integrated Enquiry</label>
        <locationX>611</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Related_Integrated_Enquiry_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.IntegratedEnquiry__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IntegratedEnquiry__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Remove_Non_Synced_Commercial_Amount_From_Integrated_Enquiry</name>
        <label>Remove Non Synced Commercial Amount From Integrated Enquiry</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.IntegratedEnquiry__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Commercial_Amount__c</field>
            <value>
                <elementReference>RemoveNonSyncedCommercialAmount</elementReference>
            </value>
        </inputAssignments>
        <object>IntegratedEnquiry__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Integrated_Enquiry_Commercial_Amount</name>
        <label>Update Integrated Enquiry Commercial Amount</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.IntegratedEnquiry__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Commercial_Amount__c</field>
            <value>
                <elementReference>Total_Commercial_Integrated_Amount</elementReference>
            </value>
        </inputAssignments>
        <object>IntegratedEnquiry__c</object>
    </recordUpdates>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Integrated_Enquiry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Amount</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>IntegratedEnquiry__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Total_Commercial_Integrated_Amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
