force-app/main/default/flows/Update_Enquiry_Due_Date_Till_Expiry_Field.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>dueDateTillExpiry</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CreatedDate}+90</expression>
    </formulas>
    <interviewLabel>Update Enquiry Due Date Till Expiry Field {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Enquiry Due Date Till Expiry Field</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Enquiry_Due_Date_Till_Expiry_Field</name>
        <label>Update Enquiry &apos;Due Date Till Expiry&apos; Field</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Enquiry__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DueDateTillExpiry__c</field>
            <value>
                <elementReference>dueDateTillExpiry</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_RCC_Due_Date</name>
        <label>Update RCC Due Date</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Update_Enquiry_Due_Date_Till_Expiry_Field</targetReference>
        </connector>
        <inputAssignments>
            <field>ExpiryDate__c</field>
            <value>
                <elementReference>dueDateTillExpiry</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_RCC_Due_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Enquiry__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>RCC__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
