force-app/main/default/flows/Update_New_Client_Flow_On_Internal_External_Discussions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Calling_BD_Activity_apex_method</name>
        <label>Calling BD Activity apex method</label>
        <locationX>3218</locationX>
        <locationY>2390</locationY>
        <actionName>salesforceToWCGT</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_New_client_record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultHandlerScreen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>eventsId</name>
            <value>
                <elementReference>MeetingEvents.firstSelectedRow.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Calling_BD_Activity_apex_method</name>
        <label>Calling BD Activity apex method</label>
        <locationX>314</locationX>
        <locationY>2630</locationY>
        <actionName>salesforceToWCGT</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Copy_1_of_Update_New_client_record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultHandlerScreen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>eventsId</name>
            <value>
                <elementReference>Copy_1_of_MeetingEvents.firstSelectedRow.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Event_Id</name>
        <label>Assign Event Id</label>
        <locationX>4560</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>EventIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_events.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_events</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Event_Id</name>
        <label>Assign Event Id</label>
        <locationX>1656</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>CopyEventIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_1_of_Loop_over_events.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Loop_over_events</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Getting_relevant_event_id</name>
        <label>Getting relevant event id</label>
        <locationX>1656</locationX>
        <locationY>1694</locationY>
        <assignmentItems>
            <assignToReference>CopyRelevantIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_1_of_Loop_over_event_relations.Event.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Loop_over_event_relations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Getting_relevant_event_id</name>
        <label>Getting relevant event id</label>
        <locationX>4560</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>RelevantEventId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_event_relations.Event.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_event_relations</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Call</name>
        <choiceText>Call</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Email</name>
        <choiceText>Email</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <description>Meeting</description>
        <name>Meeting</name>
        <choiceText>Meeting</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoAnswer</name>
        <choiceText>No Answer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Answer</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>---None---</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>VoiceMail</name>
        <choiceText>Voice Mail</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Voice Mail</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_meeting_s_status_WCGT_status</name>
        <label>Check meeting&apos;s status WCGT status</label>
        <locationX>3878</locationX>
        <locationY>2030</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_is_pending_error</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>MeetingEvents.firstSelectedRow.WCGTStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MeetingEvents.firstSelectedRow.WCGTStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Error</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MeetingEvents.firstSelectedRow.WCGTStatus__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Meeting_Screen_0</targetReference>
            </connector>
            <label>WCGT Status is pending/error</label>
        </rules>
        <rules>
            <name>Status_is_success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MeetingEvents.firstSelectedRow.WCGTStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BDTimeAlreadySendScreen</targetReference>
            </connector>
            <label>WCGT Status is success</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_NSL_Approval_Status</name>
        <label>Check NSL Approval Status</label>
        <locationX>3350</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_is_pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_New_Client_Record.NSLApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_Under_Approval_Screen</targetReference>
            </connector>
            <label>Status is pending</label>
        </rules>
        <rules>
            <name>Status_is_not_pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_New_Client_Record.NSLApprovalStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Client_Status_is_Internal_External_Discussions</targetReference>
            </connector>
            <label>Status is not pending</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_relevant_records</name>
        <label>Check relevant records</label>
        <locationX>4472</locationX>
        <locationY>1790</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_nulll</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_relevant_event_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Meeting_Events</targetReference>
            </connector>
            <label>Not null</label>
        </rules>
        <rules>
            <name>Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_relevant_event_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RecordNotFoundScreen</targetReference>
            </connector>
            <label>Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_relevant_records</name>
        <label>Check relevant records</label>
        <locationX>1568</locationX>
        <locationY>2030</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Get_relevant_event_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Meeting_Events</targetReference>
            </connector>
            <label>Not null</label>
        </rules>
        <rules>
            <name>Copy_1_of_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Get_relevant_event_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_RecordNotFoundScreen</targetReference>
            </connector>
            <label>Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_Check_meeting_s_status_WCGT_status</name>
        <label>Check meeting&apos;s status WCGT status</label>
        <locationX>974</locationX>
        <locationY>2270</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WCGT_Status_is_pending_error</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_MeetingEvents.firstSelectedRow.WCGTStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Copy_1_of_MeetingEvents.firstSelectedRow.WCGTStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Error</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Copy_1_of_MeetingEvents.firstSelectedRow.WCGTStatus__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Create_Meeting_Screen</targetReference>
            </connector>
            <label>WCGT Status is pending/error</label>
        </rules>
        <rules>
            <name>WCGT_status_is_success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_MeetingEvents.firstSelectedRow.WCGTStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_BDTimeAlreadySendScreen</targetReference>
            </connector>
            <label>WCGT status is success</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Based_On_Multiple_Outcome</name>
        <label>Decision Based On Multiple Outcome</label>
        <locationX>3845</locationX>
        <locationY>638</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Would_you_want_to_update_information_Yes_No</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Would_you_want_to_add_meeting_takeaways_Yes_No</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Fields</targetReference>
            </connector>
            <label>Yes Yes</label>
        </rules>
        <rules>
            <name>Yes_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Would_you_want_to_update_information_Yes_No</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Would_you_want_to_add_meeting_takeaways_Yes_No</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Fields_0</targetReference>
            </connector>
            <label>Yes No</label>
        </rules>
        <rules>
            <name>No_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Would_you_want_to_update_information_Yes_No</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Would_you_want_to_add_meeting_takeaways_Yes_No</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetMeetingRecords</targetReference>
            </connector>
            <label>No Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Client_Status_is_Internal_External_Discussions</name>
        <label>New Client Status is Internal External Discussions</label>
        <locationX>5115</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Screen_For_Converted_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>1 AND( 2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_New_Client_Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal / External Discussions</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckRecordOwnerandCurrentUserIsSame</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_To_Get_Client_Choice</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ActualDuration</name>
        <dataType>Number</dataType>
        <expression>( {!EndTime_0} - {!StartTime_0} ) * 24 * 60</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>CheckRecordOwnerandCurrentUserIsSame</name>
        <dataType>Boolean</dataType>
        <expression>{!$User.Username}={!Get_New_Client_Record.Owner:User.Username}</expression>
    </formulas>
    <formulas>
        <name>CopyActualDuration</name>
        <dataType>Number</dataType>
        <expression>( {!Copy_1_of_EndTime_0} - {!Copy_1_of_StartTime_0} ) * 24 * 60</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>CopyStartTimeGretaerThanEndTime</name>
        <dataType>Boolean</dataType>
        <expression>{!Copy_1_of_StartTime_0} &lt; {!Copy_1_of_EndTime_0}</expression>
    </formulas>
    <formulas>
        <description>Current date Time</description>
        <name>CurrentDateTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>Date</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + (3/24)</expression>
    </formulas>
    <formulas>
        <name>StartTimeGreaterThanEndTime</name>
        <dataType>Boolean</dataType>
        <expression>{!StartTime_0} &lt; {!EndTime_0}</expression>
    </formulas>
    <formulas>
        <name>User_Is_System_Admin</name>
        <dataType>Boolean</dataType>
        <expression>{!$Profile.Name} = &apos;System Administrator&apos;</expression>
    </formulas>
    <interviewLabel>Update New Client Flow On Internal / External Discussions {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Update New Client Flow On Internal / External Discussions</label>
    <loops>
        <name>Copy_1_of_Loop_over_event_relations</name>
        <label>Loop over event relations</label>
        <locationX>1568</locationX>
        <locationY>1574</locationY>
        <collectionReference>Copy_1_of_Get_Event_relations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Getting_relevant_event_id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Get_relevant_event_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Copy_1_of_Loop_over_events</name>
        <label>Loop over events</label>
        <locationX>1568</locationX>
        <locationY>1118</locationY>
        <collectionReference>Copy_1_of_GetMeetingRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Assign_Event_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Get_Event_relations</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_event_relations</name>
        <label>Loop over event relations</label>
        <locationX>4472</locationX>
        <locationY>1334</locationY>
        <collectionReference>Get_Event_relations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Getting_relevant_event_id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_relevant_event_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_events</name>
        <label>Loop over events</label>
        <locationX>4472</locationX>
        <locationY>878</locationY>
        <collectionReference>GetMeetingRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Event_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Event_relations</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Copy_1_of_Get_Event_relations</name>
        <label>Get Event relations</label>
        <locationX>1568</locationX>
        <locationY>1454</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Loop_over_event_relations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EventId</field>
            <operator>In</operator>
            <value>
                <elementReference>CopyEventIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EventRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Get_relevant_event_records</name>
        <label>Get relevant event records</label>
        <locationX>1568</locationX>
        <locationY>1910</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Check_relevant_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>CopyRelevantIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_GetMeetingRecords</name>
        <label>GetMeetingRecords</label>
        <locationX>1568</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Loop_over_events</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_New_Client_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDateTime</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EndDateTime</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Event_relations</name>
        <label>Get Event relations</label>
        <locationX>4472</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_event_relations</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultHandlerScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EventId</field>
            <operator>In</operator>
            <value>
                <elementReference>EventIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EventRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Client_Record</name>
        <label>Get New Client Record</label>
        <locationX>3350</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_NSL_Approval_Status</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultHandlerScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_relevant_event_records</name>
        <label>Get relevant event records</label>
        <locationX>4472</locationX>
        <locationY>1670</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_relevant_records</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultHandlerScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>RelevantEventId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetMeetingRecords</name>
        <label>GetMeetingRecords</label>
        <locationX>4472</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_events</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultHandlerScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDateTime</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EndDateTime</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>EndDateTime</queriedFields>
        <queriedFields>StartDateTime</queriedFields>
        <queriedFields>Subject</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Event_record</name>
        <label>Update Event record</label>
        <locationX>314</locationX>
        <locationY>2510</locationY>
        <connector>
            <targetReference>Copy_1_of_Calling_BD_Activity_apex_method</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultHandlerScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Copy_1_of_MeetingEvents.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Copy_1_of_Description_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date_Time__c</field>
            <value>
                <elementReference>Copy_1_of_EndTime_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date_Time__c</field>
            <value>
                <elementReference>Copy_1_of_StartTime_0</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_New_client_record</name>
        <label>Update New client record</label>
        <locationX>314</locationX>
        <locationY>2750</locationY>
        <connector>
            <targetReference>Copy_1_of_Confirmation_Message</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultHandlerScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_New_Client_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Have_you_met_with_client__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Record</name>
        <label>Update Record</label>
        <locationX>1568</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Copy_1_of_GetMeetingRecords</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultHandlerScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_New_Client_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ClientBackground__c</field>
            <value>
                <elementReference>Copy_1_of_Client_Background</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GrowthPotential__c</field>
            <value>
                <elementReference>Copy_1_of_Growth_Potential_Of_Client</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HowDidYouArriveAThisTentativeFee__c</field>
            <value>
                <elementReference>Copy_1_of_How_did_you_arrive_at_this_tentative_fee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShortSummary__c</field>
            <value>
                <elementReference>Copy_1_of_Short_Summary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TentativeFee__c</field>
            <value>
                <elementReference>Copy_1_of_Tentative_Fee_1</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Event_record</name>
        <label>Update Event record</label>
        <locationX>3218</locationX>
        <locationY>2270</locationY>
        <connector>
            <targetReference>Calling_BD_Activity_apex_method</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultHandlerScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MeetingEvents.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date_Time__c</field>
            <value>
                <elementReference>EndTime_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date_Time__c</field>
            <value>
                <elementReference>StartTime_0</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_New_client_record</name>
        <label>Update New client record</label>
        <locationX>3218</locationX>
        <locationY>2510</locationY>
        <connector>
            <targetReference>Confirmation_Message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FaultHandlerScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_New_Client_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Have_you_met_with_client__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record_0</name>
        <label>Update Record</label>
        <locationX>2690</locationX>
        <locationY>878</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultHandlerScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_New_Client_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ClientBackground__c</field>
            <value>
                <elementReference>Client_Background</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GrowthPotential__c</field>
            <value>
                <elementReference>Growth_Potential_Of_Client</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HowDidYouArriveAThisTentativeFee__c</field>
            <value>
                <elementReference>How_did_you_arrive_at_this_tentative_fee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShortSummary__c</field>
            <value>
                <elementReference>Short_Summary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TentativeFee__c</field>
            <value>
                <elementReference>Tentative_Fee_1</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <screens>
        <name>BDTimeAlreadySendScreen</name>
        <label>BDTimeAlreadySendScreen</label>
        <locationX>4274</locationX>
        <locationY>2150</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(30, 143, 244); font-family: Roboto, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;    This meeting is already submitted for Timesheet entry to WCGT&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Message</name>
        <label>Confirmation Message</label>
        <locationX>3218</locationX>
        <locationY>2630</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success_ConfirmationScreenSuccess</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 134, 16); font-size: 20px;&quot;&gt;Success&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Message_ConfirmationScreenSuccess</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Your request has been successfully processed and the following fields have been updated:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Actual Start Date Time | &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!StartTime_0}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Actual End Date Time&lt;/strong&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt; | &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!EndTime_0}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Actual Duration | &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!ActualDuration} minutes&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_BDTimeAlreadySendScreen</name>
        <label>BDTimeAlreadySendScreen</label>
        <locationX>1370</locationX>
        <locationY>2390</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: Roboto, sans-serif; color: rgb(30, 143, 244);&quot;&gt;    This meeting is already submitted for Timesheet entry to WCGT&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Confirmation_Message</name>
        <label>Confirmation Message</label>
        <locationX>314</locationX>
        <locationY>2870</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Success_ConfirmationScreenSuccess</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 134, 16); font-size: 20px;&quot;&gt;Success&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_Message_ConfirmationScreenSuccess</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Your request has been successfully processed and the following fields have been updated:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Actual Start Date Time | &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Copy_1_of_StartTime_0}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Actual End Date Time&lt;/strong&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt; | &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Copy_1_of_EndTime_0}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Actual Duration | &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!CopyActualDuration} minutes&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Create_Meeting_Screen</name>
        <label>Create Meeting Screen</label>
        <locationX>314</locationX>
        <locationY>2390</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Update_Event_record</targetReference>
        </connector>
        <fields>
            <name>MOM1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: Arial; color: rgb(0, 0, 0);&quot;&gt;Minutes of Meeting&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_Description_0</name>
            <defaultValue>
                <stringValue>{!$Label.MOM}</stringValue>
            </defaultValue>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Copy_1_of_StartTime_0</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>Copy_1_of_MeetingEvents.firstSelectedRow.Start_Date_Time__c</elementReference>
            </defaultValue>
            <fieldText>Actual Start Date Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Actual Start Date Time can&apos;t be greater than or equal to Actual End Date Time.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!CopyStartTimeGretaerThanEndTime}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Copy_1_of_EndTime_0</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>Copy_1_of_MeetingEvents.firstSelectedRow.End_Date_Time__c</elementReference>
            </defaultValue>
            <fieldText>Actual End Date Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Attendees1</name>
            <extensionName>c:multiLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>eventId</name>
                <value>
                    <elementReference>Copy_1_of_MeetingEvents.firstSelectedRow.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Meeting_Events</name>
        <label>Meeting Events</label>
        <locationX>974</locationX>
        <locationY>2150</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_Check_meeting_s_status_WCGT_status</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_MeetingEvents</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Event</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Copy_1_of_Get_relevant_event_records</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Subject&quot;,&quot;guid&quot;:&quot;column-8623&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Subject&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:null},{&quot;apiName&quot;:&quot;Start_Date_Time__c&quot;,&quot;guid&quot;:&quot;column-fe41&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Actual Start Date Time&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Actual Start Date Time&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;End_Date_Time__c&quot;,&quot;guid&quot;:&quot;column-3c16&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Actual End Date Time&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Actual End Date Time&quot;,&quot;type&quot;:&quot;customDateTime&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_RecordNotFoundScreen</name>
        <label>RecordNotFoundScreen</label>
        <locationX>1898</locationX>
        <locationY>2150</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_ScreenRecord</name>
            <fieldText>&lt;p&gt;There isn&apos;t any meeting record&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Update_Fields</name>
        <label>Update Fields</label>
        <locationX>1568</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Previous</backButtonLabel>
        <connector>
            <targetReference>Copy_1_of_Update_Record</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Client_Background</name>
            <defaultValue>
                <stringValue>{!Get_New_Client_Record.ClientBackground__c}</stringValue>
            </defaultValue>
            <fieldText>Client Background</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Copy_1_of_Growth_Potential_Of_Client</name>
            <defaultValue>
                <stringValue>{!Get_New_Client_Record.GrowthPotential__c}</stringValue>
            </defaultValue>
            <fieldText>Growth Potential Of Client</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Copy_1_of_Tentative_Fee_1</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Get_New_Client_Record.TentativeFee__c</elementReference>
            </defaultValue>
            <fieldText>Tentative Fee</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Copy_1_of_How_did_you_arrive_at_this_tentative_fee</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_New_Client_Record.HowDidYouArriveAThisTentativeFee__c</elementReference>
            </defaultValue>
            <fieldText>How did you arrive at this tentative fee?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Copy_1_of_Short_Summary</name>
            <defaultValue>
                <stringValue>{!Get_New_Client_Record.ShortSummary__c}</stringValue>
            </defaultValue>
            <fieldText>Summary (Challenges, Opportunities etc)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Meeting_Screen_0</name>
        <label>Create Meeting Screen</label>
        <locationX>3218</locationX>
        <locationY>2150</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Event_record</targetReference>
        </connector>
        <fields>
            <name>MOM</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-family: Arial; background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Minutes of Meeting&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Description_0</name>
            <defaultValue>
                <stringValue>{!$Label.MOM}</stringValue>
            </defaultValue>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>StartTime_0</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>MeetingEvents.firstSelectedRow.Start_Date_Time__c</elementReference>
            </defaultValue>
            <fieldText>Actual Start Date Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Actual Start Date Time can&apos;t be greater than or equal to Actual End Date Time.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!StartTimeGreaterThanEndTime}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>EndTime_0</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>MeetingEvents.firstSelectedRow.End_Date_Time__c</elementReference>
            </defaultValue>
            <fieldText>Actual End Date Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Attendees</name>
            <extensionName>c:multiLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>eventId</name>
                <value>
                    <elementReference>MeetingEvents.firstSelectedRow.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FaultHandlerScreen</name>
        <label>FaultHandlerScreen</label>
        <locationX>3482</locationX>
        <locationY>2630</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Header_FaultHandlerScreen</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(250, 3, 3); background-color: rgb(255, 255, 255);&quot;&gt;Request could not be Processed&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Message_FaultHandlerScreen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Your request could not be processed due to the following Error:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;{!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Meeting_Events</name>
        <label>Meeting Events</label>
        <locationX>3878</locationX>
        <locationY>1910</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_meeting_s_status_WCGT_status</targetReference>
        </connector>
        <fields>
            <name>MeetingEvents</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Event</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_relevant_event_records</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Subject&quot;,&quot;guid&quot;:&quot;column-fc29&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Subject&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:null},{&quot;apiName&quot;:&quot;Start_Date_Time__c&quot;,&quot;guid&quot;:&quot;column-7306&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Actual Start Date Time&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Actual Start Date Time&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;End_Date_Time__c&quot;,&quot;guid&quot;:&quot;column-4d3f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Actual End Date Time&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Actual End Date Time&quot;,&quot;type&quot;:&quot;customDateTime&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Record_Under_Approval_Screen</name>
        <label>Record Under Approval Screen</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Header_RecordIsUnderApproval</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(228, 16, 16); font-size: 22px;&quot;&gt;Request could not be processed.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Message_RecordIsUnderApproval</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!$Label.Message_RecordUnderApproval}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RecordNotFoundScreen</name>
        <label>RecordNotFoundScreen</label>
        <locationX>4802</locationX>
        <locationY>1910</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ScreenRecord</name>
            <fieldText>&lt;p&gt;There isn&apos;t any meeting record&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_For_Converted_Status</name>
        <label>Screen_For_Converted_Status</label>
        <locationX>6386</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Stop_Editing_Record</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 20px; color: rgb(250, 3, 3);&quot;&gt;Cannot Process your Request&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Client_Fitment_And_Evaluation_Done_Msg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Client Fitment &amp;amp; Evaluation is already Done.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Get_New_Client_Record.Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Client Take On</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_New_Client_Record.Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Client Take-On PreWork</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>User_Not_New_Client_Owner</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(18, 1, 1);&quot;&gt;Only the new client owner can perform Client Fitment &amp;amp; Evaluation.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CheckRecordOwnerandCurrentUserIsSame</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>User_Is_System_Admin</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Record_Locked_Message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Record is already locked.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Get_New_Client_Record.Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Accept Client</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_New_Client_Record.Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>NotAccept</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Status_Is_New</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Please mark New Client Status to &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Internal / External Discussions&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1 AND (2 OR 3)</conditionLogic>
                <conditions>
                    <leftValueReference>Get_New_Client_Record.Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>New</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>CheckRecordOwnerandCurrentUserIsSame</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>User_Is_System_Admin</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_To_Get_Client_Choice</name>
        <label>Screen To Get Client Choice</label>
        <locationX>3845</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_Based_On_Multiple_Outcome</targetReference>
        </connector>
        <fields>
            <name>Would_you_want_to_update_information_Yes_No</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Yes</defaultSelectedChoiceReference>
            <fieldText>Would you want to update information (Yes/No)?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Would_you_want_to_add_meeting_takeaways_Yes_No</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>No</defaultSelectedChoiceReference>
            <fieldText>Would you want to add Meeting takeaways (Yes/No)?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Fields_0</name>
        <label>Update Fields</label>
        <locationX>2690</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Record_0</targetReference>
        </connector>
        <fields>
            <name>Client_Background</name>
            <defaultValue>
                <stringValue>{!Get_New_Client_Record.ClientBackground__c}</stringValue>
            </defaultValue>
            <fieldText>Client Background</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Growth_Potential_Of_Client</name>
            <defaultValue>
                <stringValue>{!Get_New_Client_Record.GrowthPotential__c}</stringValue>
            </defaultValue>
            <fieldText>Growth Potential Of Client</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Tentative_Fee_1</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Get_New_Client_Record.TentativeFee__c</elementReference>
            </defaultValue>
            <fieldText>Tentative Fee</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>How_did_you_arrive_at_this_tentative_fee</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_New_Client_Record.HowDidYouArriveAThisTentativeFee__c</elementReference>
            </defaultValue>
            <fieldText>How did you arrive at this tentative fee?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Short_Summary</name>
            <defaultValue>
                <stringValue>{!Get_New_Client_Record.ShortSummary__c}</stringValue>
            </defaultValue>
            <fieldText>Summary (Challenges, Opportunities etc)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>3224</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_New_Client_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>descriptionYesYes</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Call Connected {!$Flow.CurrentDateTime}
{!95fd1a7d-caad-41a2-813a-8f2f725de91f}</text>
    </textTemplates>
    <variables>
        <name>AttendeesIds</name>
        <apexClass>AttendeesWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CopyEventIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CopyRelevantIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EventIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Ids</name>
        <apexClass>AttendeesWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RelevantEventId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedAttendees</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedUsersId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Users</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
