force-app/main/default/flows/UpdateClientNewNameAfterApproval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ClientNameChangeEmail</name>
        <label>ClientNameChangeEmail</label>
        <locationX>50</locationX>
        <locationY>1120</locationY>
        <actionName>Account.EmailAlertForClientNameChange</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>ClientNameChangeEmail_0</name>
        <label>ClientNameChangeEmail</label>
        <locationX>582</locationX>
        <locationY>1022</locationY>
        <actionName>Account.EmailAlertForClientNameChange</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>ClientNameChangeEmail_0_0</name>
        <label>ClientNameChangeEmail</label>
        <locationX>319</locationX>
        <locationY>1128</locationY>
        <actionName>Account.EmailAlertForClientNameChange</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <description>Checking, if Formally know as 2 Field have value of not</description>
        <name>IsFormalyKnowAs2FieldHaveValue</name>
        <label>IsFormalyKnowAs2FieldHaveValue</label>
        <locationX>583</locationX>
        <locationY>383</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FormalyKnowAs2FieldHaveValue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Formerly_known_as_2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateFormerlyKnownAs3</targetReference>
            </connector>
            <label>FormalyKnowAs2FieldHaveValue</label>
        </rules>
        <rules>
            <name>FormerlyKnownAs2DoestNotHaveValue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Formerly_known_as_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsFormerlyKnownAs1HaveValue</targetReference>
            </connector>
            <label>FormerlyKnownAs2DoestNotHaveValue</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsFormerlyKnownAs1HaveValue</name>
        <label>IsFormerlyKnownAs1HaveValue</label>
        <locationX>583</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FormerlyKnownAs1HaveValue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Formerly_known_as_1__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateFormerlyKnownAs2_0</targetReference>
            </connector>
            <label>FormerlyKnownAs1HaveValue</label>
        </rules>
        <rules>
            <name>FormerlyKnownAs1HaveNoValue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Formerly_known_as_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateFormerlyKnownAs1_0_0</targetReference>
            </connector>
            <label>FormerlyKnownAs1HaveNoValue</label>
        </rules>
    </decisions>
    <description>This flow will Update the Formerly Known as Fields (1,2,3), Changed On Fields(1,2,3), Proposed Name after the Record is Appoved</description>
    <environments>Default</environments>
    <formulas>
        <name>CurrentDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>UpdateClientNewNameAfterApproval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateClientNewNameAfterApproval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>SetProposedNameToNull</name>
        <label>SetProposedNameToNull</label>
        <locationX>55</locationX>
        <locationY>983</locationY>
        <connector>
            <targetReference>ClientNameChangeEmail</targetReference>
        </connector>
        <inputAssignments>
            <field>Is_Client_Name_Chnage_is_Approved__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proposed_Client_Name__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SetProposedNameToNull_0</name>
        <label>SetProposedNameToNull</label>
        <locationX>319</locationX>
        <locationY>983</locationY>
        <connector>
            <targetReference>ClientNameChangeEmail_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Is_Client_Name_Chnage_is_Approved__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proposed_Client_Name__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SetProposedNameToNull_0_0</name>
        <label>SetProposedNameToNull</label>
        <locationX>583</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>ClientNameChangeEmail_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Is_Client_Name_Chnage_is_Approved__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proposed_Client_Name__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateClientNewName</name>
        <label>UpdateClientNewName</label>
        <locationX>55</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>SetProposedNameToNull</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Proposed_Client_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateClientNewName_0</name>
        <label>UpdateClientNewName</label>
        <locationX>319</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>SetProposedNameToNull_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Proposed_Client_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateClientNewName_0_0</name>
        <label>UpdateClientNewName</label>
        <locationX>583</locationX>
        <locationY>743</locationY>
        <connector>
            <targetReference>SetProposedNameToNull_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Proposed_Client_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateFormerlyKnownAs1</name>
        <label>UpdateFormerlyKnownAs1</label>
        <locationX>55</locationX>
        <locationY>743</locationY>
        <connector>
            <targetReference>UpdateClientNewName</targetReference>
        </connector>
        <inputAssignments>
            <field>Client_Name_changed_on_1__c</field>
            <value>
                <elementReference>CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Formerly_known_as_1__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateFormerlyKnownAs1_0</name>
        <label>UpdateFormerlyKnownAs1</label>
        <locationX>319</locationX>
        <locationY>743</locationY>
        <connector>
            <targetReference>UpdateClientNewName_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Client_Name_changed_on_1__c</field>
            <value>
                <elementReference>CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Formerly_known_as_1__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateFormerlyKnownAs1_0_0</name>
        <label>UpdateFormerlyKnownAs1</label>
        <locationX>583</locationX>
        <locationY>623</locationY>
        <connector>
            <targetReference>UpdateClientNewName_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Client_Name_changed_on_1__c</field>
            <value>
                <elementReference>CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Formerly_known_as_1__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateFormerlyKnownAs2</name>
        <label>UpdateFormerlyKnownAs2</label>
        <locationX>55</locationX>
        <locationY>623</locationY>
        <connector>
            <targetReference>UpdateFormerlyKnownAs1</targetReference>
        </connector>
        <inputAssignments>
            <field>Client_Name_changed_on_2__c</field>
            <value>
                <elementReference>$Record.Client_Name_changed_on_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Formerly_known_as_2__c</field>
            <value>
                <elementReference>$Record.Formerly_known_as_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateFormerlyKnownAs2_0</name>
        <label>UpdateFormerlyKnownAs2</label>
        <locationX>319</locationX>
        <locationY>623</locationY>
        <connector>
            <targetReference>UpdateFormerlyKnownAs1_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Client_Name_changed_on_2__c</field>
            <value>
                <elementReference>$Record.Client_Name_changed_on_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Formerly_known_as_2__c</field>
            <value>
                <elementReference>$Record.Formerly_known_as_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateFormerlyKnownAs3</name>
        <label>UpdateFormerlyKnownAs3</label>
        <locationX>55</locationX>
        <locationY>503</locationY>
        <connector>
            <targetReference>UpdateFormerlyKnownAs2</targetReference>
        </connector>
        <inputAssignments>
            <field>Client_Name_changed_on_3__c</field>
            <value>
                <elementReference>$Record.Client_Name_changed_on_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Formerly_known_as_3__c</field>
            <value>
                <elementReference>$Record.Formerly_known_as_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>457</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>IsFormalyKnowAs2FieldHaveValue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Client_Name_Chnage_is_Approved__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
