force-app/main/default/flows/Update_Date_For_New_Client_Aging_Reports.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Client_Take_on_Date</name>
        <label>Assign Client Take on Date</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>ClientTakeOnDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>upd</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Client_Take_On_PreWork_Date</name>
        <label>Assign Client Take On PreWork Date</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>ClientTakeOnPreWorkDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updatet</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_date</name>
        <label>Assign date</label>
        <locationX>974</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>AcceptNotAcceptDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reject_Reason_Filled_In_Case_Of_Not_Accepted_Client</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Internal_External_Date</name>
        <label>Assign Internal/External Date</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>InternalExternalDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Status</name>
        <label>Is Status</label>
        <locationX>512</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Assign_date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Accept Client / Not Accept</defaultConnectorLabel>
        <rules>
            <name>Internal_External_Discussions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal / External Discussions</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Internal_External_Date</targetReference>
            </connector>
            <label>Internal / External Discussions</label>
        </rules>
        <rules>
            <name>Client_Take_On_PreWork</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Take-On PreWork</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Client_Take_On_PreWork_Date</targetReference>
            </connector>
            <label>Client Take-On PreWork</label>
        </rules>
        <rules>
            <name>Client_Take_On</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Take On</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Client_Take_on_Date</targetReference>
            </connector>
            <label>Client Take On</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reject_Reason_Filled_In_Case_Of_Not_Accepted_Client</name>
        <label>Reject Reason Filled In Case Of Not Accepted Client</label>
        <locationX>974</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Update_In_Case_Of_Accept_Client</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Reject Reason Not Filled</defaultConnectorLabel>
        <rules>
            <name>Reject_Reason_Filled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reject_Reason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NotAccept</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>upda</targetReference>
            </connector>
            <label>Reject Reason Filled</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Date For New Client Aging Reports {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Date For New Client Aging Reports</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>upd</name>
        <label>update</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Client_Take_On_Stage_Date_for_Reports__c</field>
            <value>
                <elementReference>ClientTakeOnDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>upda</name>
        <label>update</label>
        <locationX>842</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NotAccept</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Accept_Decline_Stage_for_Reports__c</field>
            <value>
                <elementReference>AcceptNotAcceptDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update</name>
        <label>update</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Internal_External_StageDate_for_Report__c</field>
            <value>
                <elementReference>InternalExternalDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_In_Case_Of_Accept_Client</name>
        <label>Update In Case Of Accept Client</label>
        <locationX>1106</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Reject_Reason__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accept Client</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Accept_Decline_Stage_for_Reports__c</field>
            <value>
                <elementReference>AcceptNotAcceptDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updatet</name>
        <label>update</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Client_Take_On_PreWork_stageDate_Report__c</field>
            <value>
                <elementReference>ClientTakeOnPreWorkDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AcceptNotAcceptDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ClientTakeOnDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ClientTakeOnPreWorkDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InternalExternalDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
